<template>
  <div class="flex flex-1 items-center justify-center">
    <router-link
      class="flex items-center rounded bg-primary px-6 py-[13px] text-base font-medium leading-6 text-white hover:bg-primary-lite"
      :to="{ name: 'app-io-blogs-blogPost-create', hash: '#draft' }"
    >
      <PlusIcon class="mr-4 w-5 text-white" />New Blog
    </router-link>
  </div>
</template>

<script setup>
import { PlusIcon } from "@heroicons/vue/outline";
</script>

<style scoped></style>

<route lang="yaml">
meta:
  layout: io
</route>
