<script setup>
import {
  XIcon,
  PlusIcon,
  ChevronDownIcon,
  DotsCircleHorizontalIcon,
  ExclamationIcon,
} from "@heroicons/vue/outline";

import { ref } from "vue";
import { useForm } from "vee-validate";

import useErrorParser from "@/use/errorParser";
import Notify from "@/use/notify";
import i18n from "@/plugins/i18n";

import get_user from "@/composables/users/users/user.js";
import assign_user_entity_roles from "@/composables/users/users/assign_roles.js";
import update_user_entity_roles from "@/composables/users/users/update_user_entity_role.js";
import delete_user_entity from "@/composables/users/users/delete_user_entity.js";

const t = i18n.global.t;

const { notify } = Notify();
const { parse } = useErrorParser();

const { handleSubmit, handleReset } = useForm();

const props = defineProps({
  id: String,
});

const open = ref(false);
const openForEdit = ref(false);
const confirmOpen = ref(false);
const selected_roles = ref([]);
const selected_entity = ref({});
const user = ref({});
const entity = ref({});

const user_entity_roles = ref([]);

const {
  mutate,
  onDone,
  onError: onSaveError,
  loading: onSaveLoading,
} = assign_user_entity_roles();

const {
  mutate: updateRolesMutate,
  onDone: onUpdateDone,
  onError: onUpdateError,
} = update_user_entity_roles();

const {
  mutate: deleteEntity,
  onDone: onDeleteEntityDone,
  onError: deleteError,
} = delete_user_entity();

const { onResult, onError, loading, refetch } = get_user(props.id);

onResult(({ data }) => {
  console.log("ezh");
  if (data) {
    console.log(data);
    user.value = data.user;
    user_entity_roles.value = data.user_entity_roles;
    console.log("user_entity_roles", user_entity_roles.value);
  }
});

onDone((userEntityRoles) => {
  console.log(userEntityRoles);
  handleReset();
  refetch();
  notify({
    title: t("roles_assigned"),
    description: t("roles_assigned_successfully"),
    cardClass: "bg-green-100",
  });
  // helper.value = {}
});

onSaveError((err) => {
  notify(parse(err));
});

onError((err) => {
  notify(parse(err));
});

const updateRoles = () => {
  console.log("selected rules ids", selected_roles.value);
  console.log("entity::", selected_entity.value);

  const role_ids = selected_entity.value.roles.map((role) => {
    return role.role_id;
  });

  const roles_to_mutate = selected_roles.value.map((role_id) => {
    return {
      role_id: role_id,
      user_id: props.id,
      entity_id: selected_entity.value.entity_id,
    };
  });

  updateRolesMutate({
    roles: roles_to_mutate,
    role_ids,
    user_id: props.id,
    entity_id: selected_entity.value.entity_id,
  });
};

onUpdateDone(({ data }) => {
  console.log(data);
  selected_entity.value = {};
  selected_roles.value = [];
  openForEdit.value = false;
  notify({
    title: t("roles_updated"),
    description: t("roles_updated_successfully"),
    cardClass: "bg-green-100",
  });
  refetch();
});

onUpdateError((err) => {
  notify(parse(err));
});
const submit = (item) => {
  let entity_id = item.entity_id;
  const _objects = item.roles.map((el) => {
    return {
      role_id: el,
      user_id: props.id,
      entity_id: entity_id,
    };
  });

  mutate({ objects: _objects });
};

const updateEntity = (item) => {
  selected_entity.value = item;
  selected_roles.value = item.roles.map((role) => {
    return role.role_id;
  });
  openForEdit.value = true;
};

const removeEntity = (item) => {
  confirmOpen.value = true;
  entity.value = item;
};

const onDelete = (e) => {
  if (e) {
    let role_ids = entity.value.roles.map((el) => {
      return el.role_id;
    });

    console.log(
      "this is mila entites",
      role_ids,
      entity.value.entity_id,
      entity.value.user_id
    );

    deleteEntity({
      entity_id: entity.value.entity_id,
      role_ids,
      user_id: entity.value.user_id,
    });
  }
};

onDeleteEntityDone(({ data }) => {
  notify({
    title: t("entity_deleted"),
    description: t("entity_deleted_successfully"),
    cardClass: "bg-green-100",
  });
  refetch();
});
</script>

<template>
  <add-user-entity-role v-model="open" @save="submit" />

  <roles-modal
    v-model="openForEdit"
    v-if="openForEdit"
    v-model:data="selected_roles"
    @save="updateRoles"
  />
  <h-confirm v-model="confirmOpen" @change="onDelete($event)">
    <template v-slot:mainIcon>
      <ExclamationIcon class="h-8 w-8 text-red-600" aria-hidden="true" />
    </template>
    <template v-slot:title> Delete Entity </template>
    <template v-slot:message> Are you sure you want to delete this? </template>
    <template #falseButton="{ changeFalse }">
      <button
        @click="changeFalse"
        type="button"
        class="
          mt-3
          w-full
          inline-flex
          justify-center
          rounded-md
          border border-gray-300
          shadow-sm
          px-4
          py-2
          bg-white
          dark:bg-tertiary-dark dark:text-white dark:border-none
          text-base
          font-medium
          text-gray-700
          hover:bg-gray-50
          focus:outline-none
          focus:ring-2
          focus:ring-offset-2
          focus:ring-transparent
          sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm
        "
        ref="cancelButtonRef"
      >
        Cancel
      </button>
    </template>
    <template #trueButton="{ changeTrue }">
      <button
        @click="changeTrue"
        type="button"
        class="
          w-full
          inline-flex
          justify-center
          rounded-md
          border border-transparent
          shadow-sm
          px-4
          py-2
          bg-red-600
          text-base
          font-medium
          text-white
          hover:bg-red-700
          focus:outline-none
          focus:ring-2
          focus:ring-offset-2
          focus:ring-transparent
          sm:ml-3 sm:w-auto sm:text-sm
        "
      >
        Delete
      </button>
    </template>
  </h-confirm>
  <div v-if="!loading">
    <div
      class="
        flex
        w-full
        my-4
        p-4
        items-center
        bg-white dark:shadow-xlg

        dark:bg-secondary-dark
        justify-between
      "
    >
      <div>
        <h4 class="font-bold text-2xl border-gray-200 mb-4">
          {{ user.name }} ({{ user.email }})
        </h4>
      </div>
      <button
        class="
          inline-flex
          items-center
          justify-center
          w-10
          h-10
          mr-2
          text-indigo-100
          transition-colors
          duration-150
          bg-primary
          rounded-lg
          focus:shadow-outline
          hover:bg-primary
        "
        @click="open = true"
      >
        <PlusIcon class="h-6 w-6" />
      </button>
    </div>
    <div
      class="grid md:grid-cols-2 lg:grid-cols-4 justify-center"
      v-if="user_entity_roles && user_entity_roles.length > 0"
    >
      <div
        v-for="entity in user_entity_roles"
        :key="entity.user_id"
        @click="updateEntity(entity)"
      >
        <div
          class="
            bg-white
            dark:bg-secondary-dark
            rounded
            overflow-hidden
            shadow-lg
            hover:shadow-2xl
            relative
            max-w-sm
            h-[400px]
            m-5
            cursor-pointer
          "
        >
          <div class="m-3">
            <img
              class="w-full h-20 sm:h-40 object-contain"
              :src="entity.entity.logo || '/images/emblem.png'"
              alt=""
            />
          </div>
          <div class="text-center px-4">
            <p class="text-xl">
              {{ entity && entity.entity && entity.entity.name }}
            </p>
          </div>
          <div class="overflow-y-auto h-64 mt-5 mb-8">
            <div class="px-3 flex flex-wrap justify-center mt-10">
              <span
                class="
                  inline-block
                  bg-gray-200
                  rounded-full
                  px-3
                  py-1
                  text-sm
                  font-semibold
                  text-gray-700
                  dark:bg-tertiary-dark dark:text-white
                  mr-2
                  mb-2
                "
                v-for="role in entity.roles"
                :key="role.role_id"
                >{{ role.role.name }}</span
              >
            </div>

            <div></div>
          </div>
          <XIcon
            class="
              absolute
              right-2
              shadow-sm
              top-2
              h-6
              w-6
              bg-red-500
              hover:bg-red-600
              rounded-full
              text-white
            "
            @click.stop="removeEntity(entity)"
          />
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center mt-12" v-else>
      <!-- <img
        :src="hahu"
      /> -->
      <h1
        class="
          uppercase
          align-middle
          text-lg
          md:text-4xl
          text-gray-600
          font-bold
        "
      >
        {{ user.name }} doesn't have any access
      </h1>
    </div>
  </div>
  <div v-else>
    <div class="flex w-full p-4 items-center justify-between">
      <div
        class="
          bg-gray-300
          dark:bg-tertiary-dark
          w-1/3
          h-10
          animate-pulse
          rounded-md
        "
      ></div>
      <div
        class="
          bg-gray-300
          dark:bg-tertiary-dark
          w-10
          h-10
          animate-pulse
          rounded-md
        "
      ></div>
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-4 justify-center">
      <div v-for="i in 4" :key="i">
        <div
          class="
            dark:bg-tertiary-dark
            bg-gray-300
            rounded
            overflow-hidden
            shadow-lg
            animate-pulse
            hover:shadow-2xl
            max-w-sm
            h-[463px]
            m-5
          "
        ></div>
      </div>
    </div>
  </div>
</template>

<route lang="yaml">
meta:
  layout: app
</route>

