<script setup>
import { ref, watchEffect } from "vue";
import { useRoute } from "vue-router";
import { tHeader } from "@/data/data.json";
import Table from "@/components/Table.vue";
const route = useRoute();
</script>

<template>
  <div class="mx-10 my-10 flex flex-col items-center">
    <h1
      class="w-full text-secondary-2 text-3xl font-thin self-left"
      v-if="!$route.params.slug.includes('Fields_of_study')"
    >
      {{ $route.params.slug.replace("_", " / ") }}
    </h1>
    <h1
      class="w-full text-secondary-2 text-3xl font-thin self-left"
      v-if="$route.params.slug.includes('Fields_of_study')"
    >
      Fields Of Study
    </h1>

    <Table :tableHeader="tHeader[$route.params.slug]" />
  </div>
</template>

<route lang="yaml">
meta:
  layout: basic
</route>
