<script setup>
import { ref, computed } from "vue";
import { XIcon, DotsCircleHorizontalIcon, EyeIcon } from "@heroicons/vue/solid";


import i18n from "@/plugins/i18n";
import { useForm } from "vee-validate";
import create_user_mutation from "@/composables/users/users/create_user.js";
import assign_user_entity_roles from "@/composables/users/users/assign_roles.js";
import Notify from "@/use/notify";
import useErrorParser from "@/use/errorParser";


const t = i18n.global.t;
const { notify } = Notify();
const { parse } = useErrorParser();

const props = defineProps({
  modelValue: {
    type: Boolean,
  },
  id: {
    type: String
  }
});
const emit = defineEmits(["update:modelValue", "refetch"]);

const { handleSubmit, handleReset } = useForm();
const {mutate, onDone, onError, loading} = create_user_mutation();
const {
  mutate: assignUserToEntity,
  onDone: userAssignDone,
  onError: onAssignError,
  loading: onSaveLoading,
} = assign_user_entity_roles();

const user = ref({});
const helper = ref({ roles: [] });

const close = () => {
  emit("update:modelValue", false);
};

const submit = handleSubmit(async () => {
  // const data = { ...user.value, ...helper.value };
  console.log(user.value)
  const _user = {
    email: user.value.email,
    name: user.value.name,
    password: user.value.password,
  };

  mutate({ user: _user });
});

onDone(({data}) => {

  if(data.createdUser.id){
    const _objects = helper.value.roles.map((role_id) => {
      return {
        role_id: role_id,
        user_id: data.createdUser.id,
        entity_id: props.id
      }
    });

    assignUserToEntity({objects: _objects});
  }
});

onError((err) => {
  notify(parse(err));
})


userAssignDone(({data}) => {
  emit("update:modelValue", false);
  notify({
    title: t("user_invited"),
    description: t("user_invited_successfully"),
    cardClass: "bg-green-100",
  });
  emit("refetch");
});

onAssignError((err) => {
  notify(parse(err));
});


const valid = computed(() => {
  if (
    user.value &&
    user.value.email &&
    user.value.name &&
    user.value.password &&
    helper.value &&
    helper.value.roles.length
  ) {
    return true;
  }
  return false;
});


</script>

<template>
  <modal v-model="modelValue" class="mx-auto w-2/3">
    <template v-slot>
      <div class="flex bg-primary dark:bg-secondary-dark py-3">
        <div class="pl-6 md:text-lg font-medium text-white items-center">
          {{ $t("create_user") }}
        </div>
        <div class="absolute lg:right-5 right-4">
          <button @click="close">
            <XIcon class="lg:w-6 lg:h-6 h-5 w-5 text-white" />
          </button>
        </div>
      </div>
      <form @submit.prevent="submit">
        <div class="my-5 xl:mx-20 mx-10 items-center">
          <div class="mb-2 flex flex-wrap justify-between">
            <div class="flex md:flex-row flex-col gap-3 w-full">
              <div class="lg:w-1/2 w-full">
                <h-text-field
                  v-model="user.name"
                  name="Name"
                  rules="required"
                  placeholder="Name"
                >
                  <template v-slot:label>
                    <div class="font-medium text-lg mb-2 text-black dark:text-white">
                      {{ $t("name") }}
                      <span class="text-red-500">*</span>
                    </div>
                  </template>
                </h-text-field>
              </div>
              <div class="w-full lg:w-1/2">
                <h-text-field
                  v-model="user.email"
                  name="email"
                  rules="required|email"
                  placeholder="Email"
                >
                  <template v-slot:label>
                    <div class="font-medium text-lg mb-2 text-black dark:text-white">
                      {{ $t("email") }}
                      <span class="text-red-500">*</span>
                    </div>
                  </template>
                </h-text-field>
              </div>
            </div>
            <div class="flex md:flex-row flex-col gap-3 w-full">
              <div class="lg:w-1/2 w-full">
                <h-text-field
                  v-model="user.password"
                  name="password"
                  rules="required"
                  type="password"
                  :trailingIcon="() => EyeIcon()"
                >
                  <template v-slot:label>
                    <div class="font-medium text-lg mb-2 text-black dark:text-white">
                      Password
                      <span class="text-red-500">*</span>
                    </div>
                  </template>
                </h-text-field>
              </div>
              <div class="lg:w-1/2 w-full">
                <select-roles v-model="helper.roles" />
              </div>
            </div>
            <div class="mt-5 mb-4 w-full flex justify-end gap-x-3">
              <button
                class="
                  px-10
                  items-center
                  inline-flex
                  justify-center
                  rounded-md
                  border border-gray-300
                  shadow-md
                  py-2
                  bg-white
                  text-base
                  font-medium
                  dark:bg-tertiary-dark dark:text-white 
                  text-primary
                  hover:bg-gray-50
                "
                type="button"
                @click="close"
              >
                {{ $t("cancel") }}
              </button>
              <button
                class="
                  bg-primary
                  text-white
                  rounded-md
                  hover:bg-primary-dark
                  px-10
                  py-3
                  font-bold
                  shadow-md
                "
                :disabled="!valid"
                :class="valid ? '' : 'opacity-50 cursor-not-allowed'"
              >
                <div v-if="loading" class="flex justify-center">
                  <DotsCircleHorizontalIcon
                    class="animate-spin h-5 w-5"
                  ></DotsCircleHorizontalIcon>
                </div>
                <span v-else>{{ $t("invite") }}</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </template>
  </modal>
</template>