<script setup>
import { ref, reactive } from "vue";
import { Form, useForm } from "vee-validate";
import HTextField from "@/components/inputs/h-text-field.vue";
import { ExclamationIcon } from "@heroicons/vue/outline";
import {
  ArrowNarrowLeftIcon,
  TrashIcon,
  ReplyIcon,
  XIcon,
} from "@heroicons/vue/outline";
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
} from "@headlessui/vue";

const { handleSubmit } = useForm({});
const submit = handleSubmit(async (values) => {
  console.log("replay message", values);
});

const isOpen = ref(false);
const isDelete = ref(false);
const item = reactive({});
function closeModal() {
  isOpen.value = false;
}
function openModal() {
  isOpen.value = true;
}

function closeDelete() {
  isDelete.value = false;
}

function openDelete() {
  isDelete.value = true;
}
</script>

<template>
  <div class="m-20 h-full rounded-xl bg-white">
    <section
      class="mx-20 flex flex-col justify-center gap-x-40 border-b-2 border-gray-400 pt-10 pb-10"
    >
      <div class="flex w-full items-center justify-between">
        <router-link to="/app/io/messages">
          <ArrowNarrowLeftIcon
            class="w-7 text-primary duration-300 hover:-translate-x-2"
          />
        </router-link>
        <div class="flex gap-x-3">
          <button
            class="flex gap-x-4 rounded-md bg-primary px-5 py-2 text-white hover:bg-primary-lite hover:text-secondary"
            @click="openModal"
          >
            <ReplyIcon class="w-5" />
            <span>Replay</span>
          </button>
          <button
            @click="openDelete"
            class="flex gap-x-4 rounded-md border-2 px-5 py-2 text-primary hover:text-secondary"
          >
            <TrashIcon class="w-5" />
            <span>Delete</span>
          </button>
        </div>
      </div>
      <h1 class="mt-10 text-3xl font-normal text-primary">
        Book Service: Integration or upgrade
      </h1>
    </section>
    <section
      class="mx-20 flex flex-col justify-center gap-x-40 border-b-2 border-gray-400 pt-10 pb-10"
    >
      <div class="flex justify-between">
        <div class="flex gap-x-5">
          <div
            class="flex h-20 w-20 items-center justify-center rounded-full border-2 text-4xl"
          >
            L
          </div>
          <div class="flex flex-col justify-between">
            <h1 class="text-2xl">Lucas Kirubel</h1>
            <h2 class="text-secondary-2">lucas.kirubel@lol.com</h2>
          </div>
        </div>
        <h2 class="text-secondary">Dec 14, 2021, 5:19 AM</h2>
      </div>
      <p class="mt-20">Hi!</p>
      <p class="mt-10 w-9/12">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, beatae
        fugiat! Doloremque ullam a rem sunt, adipisci eveniet dolor sed
        aspernatur reiciendis earum numquam amet in eos quisquam error quidem!
      </p>
      <ol class="ml-10 mt-10 list-decimal space-y-5">
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolore
          et voluptas aliquid eaque magni tempora
        </li>
        <li>
          voluptas aliquid eaque magni tempora adipisicing elit. Culpa dolore et
          voluptas
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolore
          et
        </li>
        <li>
          elit. Culpa dolore et voluptas aliquid eaque magni tempora Lorem ipsum
          dolor sit amet, consectetur adipisicing
        </li>
        <li>Culpa dolore et voluptas aliquid eaque magni tempora</li>
      </ol>
      <p class="mt-10 w-9/12">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, beatae
        fugiat! Doloremque ullam a rem sunt, adipisci eveniet dolor sed
        aspernatur reiciendis earum numquam amet in eos quisquam error quidem!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, beatae
        fugiat! Doloremque ullam a rem sunt, adipisci eveniet dolor.
      </p>
      <h1 class="mt-10">Thanks,</h1>
      <h1>Lucas</h1>
    </section>
    <section class="mx-20 flex flex-col justify-center pt-10 pb-10">
      <h1 class="text-2xl text-primary">Attachments</h1>
    </section>
    <TransitionRoot appear :show="isOpen" as="template">
      <Dialog as="div" @close="closeModal" class="relative z-20">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full max-w-xl transform overflow-hidden rounded-2xl bg-white p-6 text-left align-middle shadow-xl transition-all"
              >
                <DialogTitle
                  as="h3"
                  class="m-10 flex justify-between text-2xl font-medium leading-6 text-primary"
                >
                  <span>Reply</span
                  ><XIcon @click="closeModal" class="w-7 cursor-pointer" />
                </DialogTitle>

                <div class="mt-4">
                  <form
                    @submit.prevent="submit"
                    class="mt-20 flex flex-col rounded-md bg-white px-10"
                  >
                    <h-text-field-2
                      v-model="item.email"
                      rules="required|email"
                      type="text"
                      name="email"
                      placeholder="Your email..."
                      placeholderStyle="text-HahuGray2"
                      ><template v-slot:label
                        ><div
                          class="mb-5 text-lg font-medium leading-6 text-gray-800 dark:text-white"
                        >
                          Email
                        </div></template
                      ></h-text-field-2
                    >
                    <h-text-field-2
                      v-model="item.subject"
                      rules="required"
                      type="text"
                      name="subject"
                      placeholder="Subject..."
                      placeholderStyle="text-HahuGray2"
                      ><template v-slot:label
                        ><div
                          class="mb-5 text-lg font-medium leading-6 text-gray-800 dark:text-white"
                        >
                          Subject
                        </div></template
                      ></h-text-field-2
                    >
                    <h-text-area
                      rules="required"
                      type="text"
                      v-model="item.message"
                      placeholder="Your message..."
                      placeholderStyle="text-HahuGray2"
                      label="Message"
                      labelClass="font-medium text-gray-800 text-lg leading-6 dark:text-white duration-500 ease-in mb-5"
                      name="message"
                    />

                    <button
                      type="submit"
                      class="mt-9 mb-12 rounded-md bg-primary py-3 text-xl font-medium leading-7 text-whitePrimary"
                    >
                      Submit
                    </button>
                  </form>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>

    <TransitionRoot appear :show="isDelete" as="template">
      <Dialog as="div" @close="closeDelete" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full max-w-md transform overflow-hidden rounded-2xl bg-white p-6 text-left align-middle shadow-xl transition-all"
              >
                <DialogTitle
                  as="h3"
                  class="text-lg font-medium leading-6 text-gray-900"
                >
                </DialogTitle>
                <div class="mt-2">
                  <div class="flex gap-x-7">
                    <div class="self-start rounded-full bg-red-600 p-2">
                      <ExclamationIcon class="w-7 text-white" />
                    </div>
                    <div class="flex flex-col">
                      <h1 class="text-xl font-bold">Are You Sure?</h1>
                      <p class="mt-5 w-10/12">
                        Are you sure you want to delete this message. The action
                        can't be undone.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="mt-4 flex justify-around">
                  <button
                    type="button"
                    class="inline-flex justify-center rounded-md border border-secondary-2 bg-white px-6 py-3 text-sm font-medium text-secondary hover:bg-secondary-3 focus:outline-none focus-visible:ring-offset-2"
                    @click="closeDelete"
                  >
                    Delete
                  </button>

                  <button
                    type="button"
                    class="inline-flex justify-center rounded-md border border-transparent bg-primary px-6 py-3 text-sm font-medium text-white hover:bg-primary-lite hover:text-secondary focus:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2"
                    @click="closeDelete"
                  >
                    Cancel
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </div>
</template>

<route lang="yaml">
meta:
  layout: appLayout
</route>
