<script setup>
import { ref } from "vue";
import HCheckbox from "@/components/inputs/h-checkbox.vue";
import { TrashIcon } from "@heroicons/vue/outline";
import { useRouter } from "vue-router";
import { ExclamationIcon } from "@heroicons/vue/outline";
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
} from "@headlessui/vue";
const router = useRouter();
const chkbox = ref(false);
const isOpen = ref(false);
const messages = [
  {
    id: 1,
    name: "Lucas Kirubel",
    phone: "+251999999999",
    email: "Lucas_Kirubel@gmail.com",
    subject: "Book Service: Integration or upgrade",
    msg: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt ac dolor sit amet convallis. Ut a libero facilisis, finibus miid,dapibu leo.",
  },
  {
    id: 2,
    name: "Lucas Kirubel Lucas Kirubel",
    phone: "+251999999999",
    email: "Lucas_Kirubel@gmail.com",
    subject: "Book Service: Integration or upgrade",
    msg: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt ac dolor sit amet convallis. Ut a libero facilisis, finibus mi id, dapibus leo. Pellentesque cursus ornare eros vitae pharetra. In consectetur imperdiet sapien, in lobortis erat porttitor vel.",
  },
  {
    id: 3,
    name: "Lucas Kirubel",
    phone: "+251999999999",
    email: "Lucas_Kirubel@gmail.com",
    subject: "Book Service: Integration or upgrade",
    msg: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt ac dolor sit amet convallis. Ut a libero facilisis, finibus mi id, dapibus leo. Pellentesque cursus ornare eros vitae pharetra. In consectetur imperdiet sapien, in lobortis erat porttitor vel.",
  },
  {
    id: 4,
    name: "Lucas Kirubel",
    phone: "+251999999999",
    email: "Lucas_Kirubel@gmail.com",
    subject: "Book Service: Integration or upgrade",
    msg: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt ac dolor sit amet convallis. Ut a libero facilisis, finibus mi id, dapibus leo. Pellentesque cursus ornare eros vitae pharetra. In consectetur imperdiet sapien, in lobortis erat porttitor vel.",
  },
  {
    id: 5,
    name: "Lucas Kirubel",
    phone: "+251999999999",
    email: "Lucas_Kirubel@gmail.com",
    subject: "Book Service: Integration or upgrade",
    msg: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt ac dolor sit amet convallis. Ut a libero facilisis, finibus mi id, dapibus leo. Pellentesque cursus ornare eros vitae pharetra. In consectetur imperdiet sapien, in lobortis erat porttitor vel.",
  },
  {
    id: 6,
    name: "Lucas Kirubel",
    phone: "+251999999999",
    email: "Lucas_Kirubel@gmail.com",
    subject: "Book Service: Integration or upgrade",
    msg: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt ac dolor sit amet convallis. Ut a libero facilisis, finibus mi id, dapibus leo. Pellentesque cursus ornare eros vitae pharetra. In consectetur imperdiet sapien, in lobortis erat porttitor vel.",
  },
  {
    id: 7,
    name: "Lucas Kirubel",
    phone: "+251999999999",
    email: "Lucas_Kirubel@gmail.com",
    subject: "Book Service: Integration or upgrade",
    msg: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt ac dolor sit amet convallis. Ut a libero facilisis, finibus mi id, dapibus leo. Pellentesque cursus ornare eros vitae pharetra. In consectetur imperdiet sapien, in lobortis erat porttitor vel.",
  },
];

function closeModal() {
  isOpen.value = false;
}
function openModal() {
  isOpen.value = true;
}
const check = (e) => {
  e.stopPropagation();
  chkbox.value = !chkbox.value;
};

const trash = (e) => {
  e.stopPropagation();
  openModal();
};
const redirect = (id) => {
  router.push({
    name: "app-io-messages-messagedetail",
    params: { messagedetail: id },
  });
};
</script>

<template>
  <div class="m-20 h-full rounded-xl bg-white">
    <div
      class="mx-60 flex justify-center gap-x-40 border-b-2 border-gray-400 pt-10 pb-10"
    >
      <button
        class="rounded-lg bg-primary px-20 py-2 text-xl font-medium text-white"
      >
        Inbox
      </button>
      <button
        class="rounded-lg bg-HaHuGreen/4 px-20 py-2 text-xl font-medium text-primary"
      >
        Sent
      </button>
    </div>
    <div class="pb-10">
      <div class="flex w-full flex-col" v-for="m in messages">
        <div
          @click="redirect(m.id)"
          class="group mx-10 mt-5 flex cursor-pointer justiy items-center justify-around bg-secondary-4 px-10 py-4 text-lg duration-500 hover:bg-HaHuGreen/2"
        >
          <span class="flex cursor-pointer items-center" @click="check($event)">
            <HCheckbox name="checker" />
          </span>
          <span class="self-center line-clamp-1">{{ m.name }}</span>
          <span class="self-center line-clamp-1">{{ m.phone }}</span>
          <span class="self-center line-clamp-1">{{ m.email }}</span>
          <span class="self-center line-clamp-1 w-5/12"
            >{{ m.subject }} - {{ m.msg }}</span
          >
          <span
            class="border-l-2 border-l-primary pl-10 group-hover:hidden group-hover:border-l-2 group-hover:border-l-primary line-clamp-1 w-1/12"
            >11:49 am</span
          >
          <span
            class="hidden border-l-2 border-l-primary pl-10 group-hover:block group-hover:border-l-2 group-hover:border-l-primary w-1/12"
            @click="trash($event)"
          >
            <div class="rounded-full">
              <TrashIcon class="flex w-6 justify-end rounded-full" />
            </div>
          </span>
        </div>
      </div>
    </div>
    <TransitionRoot appear :show="isOpen" as="template">
      <Dialog as="div" @close="closeModal" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full max-w-md transform overflow-hidden rounded-2xl bg-white p-6 text-left align-middle shadow-xl transition-all"
              >
                <DialogTitle
                  as="h3"
                  class="text-lg font-medium leading-6 text-gray-900"
                >
                </DialogTitle>
                <div class="mt-2">
                  <div class="flex gap-x-7">
                    <div class="self-start rounded-full bg-red-600 p-2">
                      <ExclamationIcon class="w-7 text-white" />
                    </div>
                    <div class="flex flex-col">
                      <h1 class="text-xl font-bold">Are You Sure?</h1>
                      <p class="mt-5 w-10/12">
                        Are you sure you want to delete this message. The action
                        can't be undone.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="mt-4 flex justify-around">
                  <button
                    type="button"
                    class="inline-flex justify-center rounded-md border border-secondary-2 bg-white px-6 py-3 text-sm font-medium text-secondary hover:bg-secondary-3 focus:outline-none focus-visible:ring-offset-2"
                    @click="closeModal"
                  >
                    Delete
                  </button>

                  <button
                    type="button"
                    class="inline-flex justify-center rounded-md border border-transparent bg-primary px-6 py-3 text-sm font-medium text-white hover:bg-primary-lite hover:text-secondary focus:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-offset-2"
                    @click="closeModal"
                  >
                    Cancel
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </div>
</template>

<style scoped></style>

<route lang="yaml">
meta:
  layout: appLayout
</route>
