<template>
  <!-- <div class="flex flex-1 flex-col pl-[162px] pr-[84px]"> -->
  <form
    @submit.prevent="submit"
    class="mx-4 mt-20 mb-5 flex flex-1 flex-col items-center rounded-2xl bg-white py-9 px-14 lg:mx-8 xl:mx-14 2xl:mx-[72px]"
  >
    <div
      class="fixed top-20 z-20 flex w-dscreen justify-between bg-secondary-1 px-20 py-5"
    >
      <button
        class="rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
      >
        Save
      </button>
      <button
        class="rounded border-[1px] border-primary bg-primary px-[11px] py-2 text-xs font-medium leading-4 text-white hover:bg-primary-lite hover:text-black"
      >
        Add
      </button>
    </div>
    <div class="flex w-full flex-col self-start">
      <div class="flex flex-col">
        <div class="flex gap-x-40">
          <div class="flex flex-1 flex-col">
            <h-text-field-2
              id="name"
              v-model="item.fullName"
              rules="required"
              name="name"
              class="mt-6"
            >
              <template v-slot:label>
                <label
                  for="title"
                  class="text-xl font-normal leading-6 text-black"
                  >Full Name</label
                >
              </template>
            </h-text-field-2>
            <h-select
              name="position"
              label="Position"
              rules="required"
              v-model="item.position"
              labelClass="mt-10 mb-5 text-xl font-normal leading-[35px] text-black"
              :items="position"
            />
            <!-- <SimpleCombo
              name="position"
              rules="required"
              label="Position"
              labelClass="mt-10 mb-5 text-xl font-normal leading-[35px] text-black"
              :list="position"
              v-model="item.position"
              @comboValue="comboValue"
            /> -->
            <div class="flex items-center space-x-10">
              <label class="mt-12 text-xl font-normal leading-6 text-black">
                Projects
              </label>
              <button
                class="flex items-center self-end rounded-full bg-primary py-1 px-3 text-white"
                type="button"
                @click="addProject"
              >
                <PlusIcon class="mr-2 h-5 w-5 text-white" />
                Add
              </button>
            </div>
            <label class="mt-10 text-xl font-normal leading-[35px] text-black">
              Photo
            </label>
            <div class="mt-5 w-full rounded bg-white">
              <h-file-upload class="border-1 border-primary bg-white" />
            </div>
          </div>
          <div class="flex flex-1 flex-col">
            <label class="text-xl font-normal leading-[35px] text-black"
              >Status</label
            >
            <Switch
              v-model="item.status"
              :class="
                item.status
                  ? 'bg-gray-white border-[1px] border-HahuGray4'
                  : 'border-[1px] border-HahuGray4 bg-white'
              "
              class="relative mt-4 inline-flex h-9 w-24 items-center rounded-full"
            >
              <span class="sr-only">Enable notifications</span>
              <span
                class="absolute left-2 text-sm font-bold leading-4 text-red-500"
                :class="!item.status ? 'block' : 'hidden'"
                >Inactive</span
              >
              <span
                class="flex w-full items-center justify-between"
                :class="!item.status ? 'translate-x-[62px]' : 'translate-x-1'"
              >
                <div class="rounded-full">
                  <CheckCircleIcon
                    class="h-9 w-9 fill-primary pr-1"
                    :class="item.status ? 'block' : 'hidden'"
                  />
                  <ExclamationCircleIcon
                    class="h-9 w-9 shrink-0 fill-red-500 pr-1"
                    :class="!item.status ? 'block' : 'hidden'"
                  />
                </div>
                <span
                  class="pr-5 text-sm font-bold leading-4 text-primary"
                  :class="item.status ? 'block' : 'hidden'"
                  >Active</span
                >
              </span>
            </Switch>

            <label class="mt-16 text-xl font-normal leading-[35px] text-black"
              >Phone Number</label
            >
            <HTextField
              mainDiv="grid grid-cols-5 mt-5 w-full"
              v-model.name="item.phone"
              rules="required|ethio_phone"
              name="phone"
              type="text"
              class="col-span-4 h-[42px] rounded-none rounded-r-lg"
              placeholder="9..."
              ><template v-slot:label>
                <span
                  class="text-Hahugray/1 col-span-1 inline-flex h-[42px] items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-200 px-2 py-[2px] text-lg"
                >
                  +251
                </span>
              </template></HTextField
            >

            <label
              for="email"
              class="mt-12 text-xl font-normal leading-6 text-black"
              >Email</label
            >
            <h-text-field-2
              id="email"
              v-model="item.email"
              name="email"
              class="mt-6"
              rules="required|email"
            />
            <label class="mt-12 text-xl font-normal leading-6 text-black">
              Social Media
            </label>
            <button
              class="mt-[34px] flex items-center self-start rounded-full bg-primary py-[6px] px-[11px] text-white"
              type="button"
              @click="addSocial"
            >
              <PlusIcon class="mr-[14px] h-5 w-5 text-white" />
              Add Social Media
            </button>
          </div>
        </div>
      </div>
      <h-text-area
        id="summary"
        name="summary"
        v-model="item.summary"
        rules="required"
        label="Summary"
        labelClass="mt-5 mb-5 text-xl font-normal leading-6 text-black"
        placeholder="Write short intro about the blog with less than 240 words"
        placeholderStyle="text-black"
      >
        <template v-slot:label>
          <div class="mt-5 mb-5 text-xl font-normal leading-6 text-black">
            Summary
          </div>
        </template>
      </h-text-area>
      <label
        for="summary"
        class="mt-5 mb-5 text-xl font-normal leading-6 text-black"
        >Description</label
      >
      <h-editor
        name="editor"
        rules="required"
        v-model="item.editor"
        class="mt-9 mb-10 bg-white px-10"
      />
    </div>
    <TransitionRoot appear :show="isSocial" as="template">
      <Dialog as="div" @close="closeSocial" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full transform overflow-hidden rounded-2xl bg-white p-6 px-[74px] text-left align-middle shadow-xl transition-all md:max-w-md lg:max-w-lg xl:max-w-xl"
              >
                <DialogTitle
                  as="h3"
                  class="mt-[38px] flex justify-between text-lg font-medium leading-6 text-gray-900"
                >
                  Social Media
                  <XIcon
                    @click="closeSocial"
                    class="h-5 w-5 cursor-pointer text-HahuGray2"
                  />
                </DialogTitle>
                <div class="mt-[51px]">
                  <HTextField
                    name="link"
                    mainDiv="flex"
                    v-model="item.link"
                    type="text"
                    id="website-admin"
                    class="h-auto rounded-none rounded-r-lg"
                    placeholder="https://..."
                    ><template v-slot:label>
                      <select
                        v-model="item.showselect"
                        id="Domain"
                        name="domain"
                        autocomplete="Domain"
                        class="border-1 inline-flex h-auto items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-200 px-2 py-[3px] pr-8 text-lg hover:border-primary focus:border-primary focus:ring-primary"
                      >
                        <option v-for="cat in links">{{ cat }}</option>
                      </select>
                    </template></HTextField
                  >
                  <!-- <div class="mt-5 flex">
                    <Listbox v-model="selectedCategory">
                      <div class="relative w-32">
                        <ListboxButton
                          class="text-Hahugray/1 relative flex h-full w-full cursor-default items-center justify-center rounded-l-md border border-r-0 border-Hahugreen/3 bg-white py-2 pl-4 pr-10 text-left text-xs font-normal leading-6 focus:outline-none focus-visible:border-Hahugreen/3 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-Hahugreen/3 sm:text-sm lg:text-base"
                        >
                          <span class="block truncate">{{
                            selectedCategory.name
                          }}</span>
                          <span
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-4"
                          >
                            <ChevronDownIcon
                              class="h-5 w-5 text-HahuGray1"
                              aria-hidden="true"
                            />
                          </span>
                        </ListboxButton>

                        <transition
                          leave-active-class="transition duration-100 ease-in"
                          leave-from-class="opacity-100"
                          leave-to-class="opacity-0"
                        >
                          <ListboxOptions
                            class="absolute z-10 mt-1 max-h-32 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
                          >
                            <ListboxOption
                              v-slot="{ active, selected }"
                              v-for="cat in category"
                              :key="cat.name"
                              :value="cat"
                              as="template"
                            >
                              <li
                                :class="[
                                  active
                                    ? 'bg-primary-lite text-white'
                                    : 'text-gray-900',
                                  'relative cursor-default select-none py-2 pl-2 pr-4',
                                ]"
                              >
                                <span
                                  :class="[
                                    selected ? 'font-medium' : 'font-normal',
                                    'block truncate',
                                  ]"
                                  >{{ cat.name }}</span
                                >
                              </li>
                            </ListboxOption>
                          </ListboxOptions>
                        </transition>
                      </div>
                    </Listbox>
                    <input
                      type="text"
                      id="website-admin"
                      class="text-Hahugray/1 block w-full min-w-0 flex-1 rounded-none rounded-r-lg border-[1px] border-Hahugreen/3 bg-white p-2.5 text-base font-normal outline-1 outline-Hahugreen/3"
                      placeholder="https://www.facebook.com/"
                    />
                  </div> -->
                </div>

                <div class="my-12 mt-[53px] flex justify-end space-x-[50px]">
                  <button
                    type="button"
                    class="rounded border-2 border-Hahugreen/3 px-[21px] py-[7px] text-xs font-medium leading-4 text-HahuGray1"
                    @click="closeSocial"
                  >
                    Cancel
                  </button>
                  <button
                    type="button"
                    class="rounded bg-primary px-[21px] py-[7px] text-xs font-medium leading-4 text-white"
                    @click="closeSocial"
                  >
                    Save
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
    <TransitionRoot appear :show="isProject" as="template">
      <Dialog as="div" @close="closeProject" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full transform overflow-hidden rounded-2xl bg-white p-6 px-[74px] text-left align-middle shadow-xl transition-all md:max-w-md lg:max-w-lg xl:max-w-xl"
              >
                <DialogTitle
                  as="h3"
                  class="mt-[38px] flex justify-between text-lg font-medium leading-6 text-gray-900"
                >
                  Projects
                  <XIcon
                    @click="closeProject"
                    class="h-5 w-5 cursor-pointer text-HahuGray2"
                  />
                </DialogTitle>
                <div class="mt-5">
                  <h-text-field-2
                    name="searchProject"
                    :trailingIcon="SearchIcon"
                    class="mt-10 border-none bg-HaHuGreen/4"
                    placeholder="Search"
                  />
                  <p
                    v-for="(proj, i) in project"
                    class="flex justify-between border-b-[1px] border-HahuGray4 border-opacity-40 py-2"
                    @click="projSelector(i)"
                    :key="i"
                  >
                    {{ proj.name }}
                    <CheckCircleIcon
                      :class="proj.select ? 'visible' : 'invisible'"
                      class="h-5 w-5 text-primary"
                    />
                  </p>
                </div>
                <div class="my-12 mt-[53px] flex justify-end space-x-[50px]">
                  <button
                    type="button"
                    class="rounded border-2 border-Hahugreen/3 px-[21px] py-[7px] text-xs font-medium leading-4 text-HahuGray1"
                    @click="closeProject"
                  >
                    Cancel
                  </button>
                  <button
                    class="rounded bg-primary px-[21px] py-[7px] text-xs font-medium leading-4 text-white"
                  >
                    Save
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </form>
</template>

<script setup>
import {
  onMounted,
  computed,
  onUpdated,
  ref,
  watchEffect,
  reactive,
} from "vue";
import {
  ArrowNarrowRightIcon,
  ArrowNarrowLeftIcon,
  ArrowNarrowDownIcon,
  SearchIcon,
  ChevronDownIcon,
  PlusIcon,
  XIcon,
  CheckIcon,
  SelectorIcon,
  CheckCircleIcon,
  ExclamationCircleIcon,
} from "@heroicons/vue/solid";
import {
  Listbox,
  ListboxLabel,
  ListboxButton,
  ListboxOptions,
  ListboxOption,
  Switch,
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
  DialogDescription,
  Combobox,
  ComboboxInput,
  ComboboxOptions,
  ComboboxOption,
  ComboboxButton,
} from "@headlessui/vue";
import Toggle from "@vueform/toggle";
import { useForm } from "vee-validate";

const position = [
  { id: 1, name: "UI/UX Designer" },
  { id: 2, name: "Back End Developer" },
  { id: 3, name: "Dev Ops" },
  { id: 4, name: "Graphics Designer" },
  { id: 5, name: "Front End Developer" },
  { id: 6, name: "Accountant" },
  { id: 7, name: "Attorney" },
];

const project = reactive([
  { name: "HaHu Jobs", select: false },
  { name: "EMDMS", select: false },
  { name: "HaHu TVET", select: false },
  { name: "MD5", select: false },
  { name: "HPR Employee Managment", select: false },
]);

const links = [
  "Facebook",
  "LinkedIn",
  "Twitter",
  "GitHub",
  "GitHub",
  "GitHub",
  "GitHub",
];

const value = ref(true);
const showselect = ref(links[0]);
const status = ref(true);
const isSocial = ref(false);
const isProject = ref(false);
let selectedPosition = ref(position[0]);
let queryPosition = ref("");
let selectedProject = ref(project[0]);
const scrollComponent = ref(null);
const item = reactive({ status: false, showselect: links[0] });

const { handleSubmit } = useForm({});

const submit = handleSubmit(async (values) => {
  // console.log("printing out value", item);
});

const comboValue = (val) => {};
let filteredPosition = computed(() =>
  queryPosition.value === ""
    ? position
    : position.filter((p) =>
        p.name
          .toLowerCase()
          .replace(/\s+/g, "")
          .includes(queryPosition.value.toLowerCase().replace(/\s+/g, ""))
      )
);

const projSelector = (id) => {
  project[id].select = !project[id].select;
  item.projects = project.filter((pro) => pro.select === true);
};
function closeSocial() {
  isSocial.value = false;
}
function closeProject() {
  isProject.value = false;
}
function addSocial() {
  isSocial.value = true;
}
function addProject() {
  isProject.value = true;
}
</script>

<style src="@vueform/toggle/themes/default.css">
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #797979;
}
</style>
