<script setup>
import { onUpdated, ref, watchEffect } from "vue";
import { useRoute, useRouter } from "vue-router";
import copyLinkIcon from "@/assets/copyLinkIcon.svg?url";
import facebook from "@/assets/facebookShare.svg?url";
import twitter from "@/assets/twitterShare.svg?url";
import instagram from "@/assets/instaShare.svg?url";
import telegram from "@/assets/telegramShare.svg?url";
import pdfFile from "/images/pdf-test.pdf";
import { reports } from "@/data/data.json";
import { XIcon, ArrowNarrowLeftIcon } from "@heroicons/vue/solid";
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
  DialogDescription,
} from "@headlessui/vue";

const route = useRoute();
const router = useRouter();
const id = ref(route.params);
const isPublish = ref(false);

onUpdated(() => {
  id.value = route.params;
});

const filteredData = ref([]);

function closePublish(val) {
  isPublish.value = false;
  if (val) {
    router.push({
      name: "app-io-reports-reportPost-id-unpublished",
      params: { id: filteredData.value.id },
      hash: "#unpublished",
    });
  }
}

function unPublishBlog() {
  isPublish.value = true;
}

watchEffect(() => {
  filteredData.value = reports.published.find((el) => id.value.id == el.id);
});
</script>
<template>
  <!-- <div
    class="flex flex-1 flex-col pl-10 pr-5 xl:pl-20 xl:pr-10 2xl:pl-[162px] 2xl:pr-[84px] "
  > -->
  <div
    class="mx-4 mt-20 mb-5 flex flex-1 flex-col items-center rounded-2xl bg-white py-9 px-14 lg:mx-8 xl:mx-14 2xl:mx-[72px]"
  >
    <div
      class="fixed top-20 z-20 flex w-dscreen justify-end bg-secondary-1 px-20 py-5"
    >
      <!-- <router-link
        class="flex items-center rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
        :to="{ name: 'admin-projects-projectPost' }"
      >
        <ArrowNarrowLeftIcon class="mr-1 h-5 w-5" />
        Back
      </router-link> -->
      <div class="flex justify-end space-x-5">
        <router-link
          class="rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
          :to="{
            name: 'app-io-reports-reportPost-edit-id',
            params: { id: `${filteredData.id}` },
            hash: '#draft',
          }"
        >
          Edit
        </router-link>
        <button
          class="rounded border-[1px] border-red-500 px-[11px] py-2 text-xs font-medium leading-4 text-red-500 hover:bg-red-400 hover:text-black"
          @click="unPublishBlog"
        >
          Unpublish
        </button>
      </div>
    </div>
    <div class="flex flex-col">
      <h2 class="text-3xl font-bold leading-[60px] text-primary">
        {{ filteredData.title }}
      </h2>
      <div class="flex space-x-7">
        <h4
          class="rounded-full bg-primary-lite px-2 py-[2px] text-lg font-normal leading-[18px] text-white"
        >
          {{ filteredData.catg }}
        </h4>
        <h4 class="text-base font-light leading-6 text-primary">
          {{ filteredData.date }}
        </h4>
      </div>

      <p class="mt-9 text-lg font-normal leading-[30px] text-HahuGray2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum
        etiam elit vel ligula massa sagittis sit. At nec massa fermentum
        consectetur diam faucibus hendrerit. Fringilla sit arcu eu vitae. Diam
        euismod varius ac sed neque cursus in.
      </p>
      <img :src="filteredData.xlimg" class="mt-12 rounded-3xl object-contain" />
      <p
        class="mt-[53px] mb-10 text-lg font-normal leading-[30px] text-HahuGray2"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum
        etiam elit vel ligula massa sagittis sit. At nec massa fermentum
        consectetur diam faucibus hendrerit. Fringilla sit arcu eu vitae. Diam
        euismod varius ac sed neque cursus in. Tellus nunc posuere morbi ac
        tellus cursus malesuada blandit. Purus ut laoreet ornare amet, vel,
        porttitor eleifend egestas mauris. Blandit odio aliquet egestas magna
        amet. At nec massa fermentum consectetur diam faucibus hendrerit.
        Fringilla sit arcu eu vitae. Diam euismod varius ac sed neque cursus in.
        Tellus nunc posuere morbi ac tellus cursus malesuada blandit. Purus ut
        laoreet ornare amet, vel, porttitor eleifend egestas mauris. Blandit
        odio aliquet egestas magna amet.
      </p>
      <div class="rounded-2xl border-2 border-HahuGray4 py-5">
        <iframe src="/images/pdf-test.pdf" width="100%" height="800px"></iframe>
      </div>

      <div class="mt-[100px] flex justify-center">
        <button
          class="flex items-center rounded-md border-[1px] border-gray-200 px-4 py-2"
        >
          <img :src="copyLinkIcon" class="mr-[6px]" /> Copy Link
        </button>
        <div class="ml-[100px] flex space-x-2">
          <button
            class="flex items-center rounded-md border-[1px] border-gray-200 px-3 py-2"
          >
            <img :src="facebook" />
          </button>
          <button
            class="flex items-center rounded-md border-[1px] border-gray-200 px-2 py-2"
          >
            <img :src="twitter" />
          </button>
          <button
            class="flex items-center rounded-md border-[1px] border-gray-200 px-3 py-2"
          >
            <img :src="instagram" />
          </button>
          <button
            class="flex items-center rounded-md border-[1px] border-gray-200 px-3 py-2"
          >
            <img :src="telegram" />
          </button>
        </div>
      </div>
    </div>
    <TransitionRoot appear :show="isPublish" as="template">
      <Dialog as="div" @close="closePublish(false)" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full transform overflow-hidden rounded-2xl bg-white p-6 px-[74px] text-left align-middle shadow-xl transition-all md:max-w-md lg:max-w-lg xl:max-w-xl"
              >
                <DialogTitle
                  as="h3"
                  class="mt-[38px] text-lg font-medium leading-6 text-gray-900"
                >
                  Are you sure?
                </DialogTitle>
                <div class="mt-[51px]">
                  <p class="text-xl font-normal leading-4 text-HahuGray1">
                    Are you sure you want to
                    <span class="text-red-500">Unpublish</span> this Blog?
                  </p>
                </div>

                <div class="mt-[53px] flex justify-center space-x-[50px]">
                  <button
                    type="button"
                    class="rounded border-2 border-Hahugreen/3 px-[21px] py-[7px] text-xs font-medium leading-4 text-HahuGray1"
                    @click="closePublish(false)"
                  >
                    No
                  </button>
                  <button
                    type="button"
                    class="rounded bg-red-500 px-[21px] py-[7px] text-xs font-medium leading-4 text-white"
                    @click="closePublish(true)"
                  >
                    Yes
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </div>
</template>

<style scoped>
iframe {
  overflow: hidden;
}
</style>
