<script setup>
import { PencilAltIcon, BanIcon } from "@heroicons/vue/solid";
import { BookOpenIcon, CalendarIcon } from "@heroicons/vue/outline";
const props = defineProps({
  item: {
    type: Object,
    default: () => ({}),
  },
});

const emit = defineEmits(["navigate"]);
const navigate = () => {
  emit("navigate", props.item);
};
</script>

<template>
  <div
    @click="navigate(item)"
    class="flex min-w-[425px] cursor-pointer rounded bg-white hover:bg-Hahugreen/3"
    :class="item.selected ? 'bg-Hahugreen/3' : 'bg-white'"
  >
    <img :src="item.blogsToShow.img" class="mt-4 object-contain px-[18px]" />
    <div class="mt-4 ml-[14px] flex flex-col pr-4">
      <h3 class="max-w-[262px] text-lg font-medium leading-6">
        {{ item.blogsToShow.dTitle }}
      </h3>
      <h3
        class="mt-4 self-start rounded-full bg-primary-lite px-3 text-xs font-medium leading-[18px] text-primary"
      >
        {{ item.blogsToShow.catg }}
      </h3>
      <div class="mt-5 mb-4">
        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-2">
            <CalendarIcon class="w-5 text-primary" />
            <h4 class="text-sm font-normal leading-6 text-primary">
              {{ item.blogsToShow.date }}
            </h4>
          </div>
          <div
            class="flex text-primary"
            :class="
              item.blogsToShow.route.hash == '#draft' ? 'block' : 'hidden'
            "
          >
            <PencilAltIcon class="mr-2 h-5 w-5 text-primary" />
            Draft
          </div>
          <div
            class="flex text-primary"
            :class="
              item.blogsToShow.route.hash == '#unpublished' ? 'block' : 'hidden'
            "
          >
            <BanIcon class="mr-2 h-5 w-5 text-primary" />
            Unpublished
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
