<script setup>
import { ref, computed, watch } from "vue";

import get_users from "@/composables/users/users/users.js";
import { ChevronDownIcon } from "@heroicons/vue/outline";

const item = ref({
  user_id: "",
});

const props = defineProps({
  modelValue: {
    type: String,
  },
  label: {
    type: String,
  },
  name: {
    type: String,
  },
  init: {
    type: Object,
    default: () => {},
  },
  data: {
    type: Object,
    default: () => {},
  },
  required: {
    type: Boolean,
    default: false,
  },
});

const emit = defineEmits(["update:modelValue", "update:selected", 'getUserRoles']);

if (props.modelValue) {
  item.value.user_id = props.modelValue;
}

watch(item.value, (val) => {
  console.log(val.user_id);
  emit('getUserRoles', val.user_id)
  emit("update:selected", val);
  emit("update:modelValue", val.user_id);
});

const users = ref([]);
const limit = ref(100);
const offset = ref(0);
const search_user = ref("");

const where = computed(() => {
  return {
    name: { _ilike: `%${search_user.value}%` },
  };
});

const { onResult, loading } = get_users(offset, limit, where);

onResult(({ data }) => {
  if (data.users) {
    users.value = data.users.map((user) => {
      return { ...user };
    });
  }
});

const onUserSearch = (d) => {
  search_user.value = d;
};
</script>

<template>
  <div>
    <h-list-new
      :trailingIcon="ChevronDownIcon"
      :placeholder="label"
      :name="name"
      :items="users"
      :loading="loading"
      @search="onUserSearch"
      v-model="item.user"
      v-model:selected="item.user_id"
      supporter="max-h-36"
      :init="init"
    >
      <template v-slot:label>
        <div class="text-lg mb-2 text-black dark:text-white font-body font-medium">
          {{ label }}
        </div>
      </template>
    </h-list-new>
  </div>
</template>