<script setup>
import { ref, computed, watch } from "vue";
import { ChevronDownIcon } from "@heroicons/vue/outline";
import roles_gql from "@/composables/users/roles/roles";

const incoming = ref([]);

const props = defineProps({
  modelValue: {
    type: Array,
  },
  label: {
    type: String,
  },
  name: {
    type: String,
  },
  init: {
    type: Object,
    default: () => {},
  },
});

const emit = defineEmits(["update:modelValue"]);
const helper = ref({});


watch(helper.value, (val) => {
  // console.log("watched!!!", incoming.value);
  emit("update:modelValue", incoming.value);
});

const roles = ref([]);
const limit = ref(20);
const offset = ref(0);
const search_role = ref("");

const where = computed(() => {
  return {
    name: {
      _ilike: `%${search_role.value}%`,
    },
  };
});

const { onResult, loading: role_loading } = roles_gql(offset, limit, where);

onResult(({ data }) => {
  console.log("roles::", data);
  if (data.roles) {
    roles.value = data.roles;
  }
});

const onRoleSearch = (d) => {
  search_role.value = d;
};
</script>
<template>
  <div>
    <h-multiple-select-new
      v-model="incoming"
      v-model:selected="helper.incomming_obj"
      @search="onRoleSearch"
      :trailingIcon="ChevronDownIcon"
      :items="roles"
      name="role"
      rules="required"
      supporter="h-28"
      multiple
    >
      <template v-slot:label>
        <div class="text-black dark:text-white font-medium text-lg mb-2 font-body">
          User roles
        </div>
      </template>

    </h-multiple-select-new>
  </div>
</template>
