<script setup>
import { ref, computed, watch } from "vue";
import get_entities from "@/composables/users/entities/entities";
import { ChevronDownIcon } from "@heroicons/vue/outline";

const item = ref({
  entity_id: "",
});

const props = defineProps({
  modelValue: {
    type: String,
  },
  label: {
    type: String,
  },
  name: {
    type: String,
  },
  init: {
    type: Object,
    default: () => {},
  },
  data: {
    type: Object,
    default: () => {},
  },
  required: {
    type: Boolean,
    default: false,
  },
});

const emit = defineEmits(["update:modelValue", "update:selected"]);

if (props.modelValue) item.value.entity_id = props.modelValue;

watch(item.value, (val) => {
  console.log("value of emitted", val);
  emit("update:selected", val);
  emit("update:modelValue", val.entity_id);
  // emit("update:data", item.value.entity)
});

const entities = ref([]);
const limit = ref(100);
const offset = ref(0);
const search_entity = ref("");

const where = computed(() => {
  return {
    name: { _ilike: `%${search_entity.value}%` },
  };
});

const { onResult, loading: entityLoading } = get_entities(offset, limit, where);

onResult(({ data }) => {
  console.log(data);
  if (data.entities) {
    // entities.value = data.items;
    entities.value = data.entities.map((val) => {
      return { ...val };
    });
      console.log("entities", entities);
  }
});

const onEntitySearch = (d) => {
  search_entity.value = d;
};
</script>
<template>
  <div>
    <h-list-new
      :trailingIcon="ChevronDownIcon"
      :placeholder="label"
      :name="name"
      :items="entities"
      :loading="entityLoading"
      @search="onEntitySearch"
      v-model="item.entity"
      v-model:selected="item.entity_id"
      supporter="max-h-36"
      :init="init"
    >
    <template v-slot:label>
        <div class="text-lg mb-2 text-black dark:text-white font-body font-medium">
          {{ label }}
        </div>
      </template>
    </h-list-new>
    
  </div>
</template>
