<script setup>
import { ref } from "vue";
import {
  Dialog,
  DialogOverlay,
  DialogTitle,
  TransitionChild,
  TransitionRoot,
} from "@headlessui/vue";
import { useTimeoutFn } from "@vueuse/core";
import { useRouter } from "vue-router";
import { OfficeBuildingIcon, LogoutIcon } from "@heroicons/vue/outline";
import useUser from "@/use/user";
import { useQuery } from "@vue/apollo-composable";

import useNotify from "@/use/notify";
import useErrorParser from "@/use/errorParser";
import token_for_entity from "@/composables/auth/token_for_entity";
import basic_entities_gql from "@/composables/auth/basic_entities";
import user_entities_gql from "@/composables/auth/user_entities.js"


const router = useRouter();
const {unset, setEntity } = useUser();
const enabled = ref(false);
const { notify } = useNotify();
const { parse } = useErrorParser();
const item = ref({});
const selectedEntity = ref({});
const entities = ref([]);


// const {onResult: basicEntitiesResult, loading: basicEntityLoading} = basic_entities_gql(); 
const {onResult: userEntitiesResult, loading: userEntitiesLoading} = user_entities_gql();

userEntitiesResult(({data}) => {
  console.log(data);
  if(data){
    entities.value = data.entities.map((val) => {
      return {
        ...val
      }
    })
  }
})

const {onResult: onRes, loading} = token_for_entity(item, enabled);

onRes(({ data }) => {
  console.log("done!!!", data);
  const obj = (data && data.token_for_entity) || {};
  const meta = JSON.parse(
    window.atob((obj.access_token || "").split(".")[1]) || "{}"
  );
  meta.metadata = { ...meta.metadata, ...selectedEntity.value };
  setEntity({
    access_token: obj.access_token,
    ...meta,
  });
  enabled.value = false;
  selectedEntity.value = {};
  router.push({ name: "app" });
});

const selectEntity = (selected) => {
  console.log(selected);
  item.value = { entity_id: selected.entity_id };
  enabled.value = true;
  selectedEntity.value = selected;
};

const open = ref(true);

const logout = () => {
  unset();
  router.push({ name: "index" });
};
</script>
<template>
  <TransitionRoot as="template" :show="open">
    <Dialog as="div" class="fixed z-10 inset-0 overflow-y-auto">
      <div
        class="
          flex
          items-center
          justify-center
          min-h-screen
          pt-4
          px-4
          pb-20
          text-center
          sm:block sm:p-0
        "
      >
        <TransitionChild
          as="template"
          enter="ease-out duration-300"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="ease-in duration-200"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <DialogOverlay
            class="fixed inset-0 bg-gray-500 dark:bg-tertiary-dark dark:bg-opacity-80 bg-opacity-75 transition-opacity"
          />
        </TransitionChild>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <span
          class="hidden sm:inline-block sm:align-middle sm:h-screen"
          aria-hidden="true"
          >&#8203;</span
        >
        <TransitionChild
          as="template"
          enter="ease-out duration-300"
          enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          enter-to="opacity-100 translate-y-0 sm:scale-100"
          leave="ease-in duration-200"
          leave-from="opacity-100 translate-y-0 sm:scale-100"
          leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        >
          <div
            class="
              inline-block
              align-middle
              bg-white
              dark:bg-tertiary-dark
              rounded-lg
              px-4
              pt-5
              pb-4
              text-left
              overflow-hidden
              shadow-xl
              transform
              transition-all
              w-full
              max-w-lg
              sm:my-8 sm:p-6
            "
          >
            <div>
              <div
                class="
                  mx-auto
                  flex
                  items-center
                  justify-center
                  h-12
                  w-12
                  rounded-full
                "
              >
                <img
                  src="/images/logo_150.png"
                  class="h-10 w-10"
                  :class="loading && 'animate-spin'"
                />
              </div>
              <div class="mt-3 text-center sm:mt-5">
                <DialogTitle
                  as="h3"
                  class="text-sm leading-6 font-medium text-secondary dark:text-white"
                >
                  {{ $t("select_entity") }}
                </DialogTitle>
                <div class="mt-2">
                  <div
                    class="
                      rounded-md
                      border-2 border-gray-400 border-opacity-20
                      flex flex-wrap
                      items-center
                      cursor-pointer
                      justify-center
                      hover:shadow-md hover:border-opacity-0
                      my-2
                      p-4
                      hover:font-medium
                    "
                    v-for="user_entity in entities"
                    :key="user_entity.entity_id"
                    @click="selectEntity(user_entity)"
                  >
                    <div class="w-full xl:w-auto">
                      <div
                        class="
                          mx-auto
                          flex
                          flex-wrap
                          items-center
                          justify-center
                          h-12
                          w-28
                          max-w-xs
                          text-primary
                        "
                      >
                        <img
                          v-if="user_entity.entity.logo"
                          :src="user_entity.entity.logo"
                          class="h-6 w-auto object-contain"
                          alt=""
                        />
                        <OfficeBuildingIcon
                          v-else
                          class="h-8 w-8 stroke-current"
                        />
                      </div>
                    </div>
                    <div class="ml-8 w-full xl:w-auto">
                      <div>
                        {{ user_entity.entity.name }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-2 flex justify-center">
                  <h-button
                    class="flex items-center justify-center hover:text-primary"
                    @click="logout"
                  >
                    <LogoutIcon class="h-7 w-7"></LogoutIcon>
                    <div class="ml-3 flex">
                      {{ $t("logout") }}
                    </div>
                  </h-button>
                </div>
              </div>
            </div>
          </div>
        </TransitionChild>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<route lang="yaml">
meta:
  layout: empty
</route>
