<script setup>

const courses = ref([{ courseName: ""}])

const addMore = () => {
      courses.push({
        courseName: "",
      });

const remove = () => {
    courses.splice(index, 1);
}
</script>

<template>
  <div>
    <h1>{{ msg }}</h1>
    <div class="w-full mt-4 p-10">
      <button
        type="button"
        class="flex justify-start ml-2 rounded-md border px-3 py-2 bg-pink-600 text-white"
        @click="addMore()"
      >
        Add More
      </button>
      <div v-for="(course, index) in courses" :key="index">
        <div class="flex justify-start ml-2 mt-4">
          <input
            v-model="course.courseName"
            placeholder="enter you course name"
            class="w-full py-2 border border-indigo-500 rounded"
          />
          <button
            type="button"
            class="ml-2 rounded-md border px-3 py-2 bg-red-600 text-white"
            @click="remove(index)"
            v-show="index != 0"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
