<script setup>
import { ref, watchEffect } from "vue";
const errorMsg = ref([]);

const is_dragover = ref(false);
const loaded = ref(false);

const props = defineProps({
  name: {
    type: String,
    default: undefined,
    required: true,
  },
  uploadCount: {
    type: Number,
    default: 1,
    required: false,
  },
  fileSize: {
    type: Number,
    default: 2.5,
  },
  id: {
    type: String,
    default: undefined,
    required: false,
  },
  type: {
    type: String,
    default: "",
    required: false,
  },
  placeholder: {
    type: String,
    default: undefined,
    required: false,
  },
  placeholderClass: {
    type: String,
    default: () => "",
    required: false,
  },
  label: {
    type: String,
    default: undefined,
    required: false,
  },
  labelClass: {
    type: String,
    default:
      "mb-4 flex flex-col w-full h-40 border-4 border-green-200 border-dashed hover:bg-green-100 hover:border-green-300 cursor-pointer",
    required: false,
  },
  uploadIcon: {
    type: Function,
    default: undefined,
    required: false,
  },
});
// ============== Functions ==================

watchEffect(() => {
  props.labelClass;
});
const base64str = ref([]);

const imageReader = async (img) => {
  const reader = new FileReader();

  console.log("show files", img.size / 1048576);

  // if (img.size / 1048576 > props.fileSize) {
  //   errorMsg.value = "file is too large must be less than 2Mb";
  //   return;
  // } else if (img.type !== "image/jpeg" && img.type !== "image/png") {
  //   errorMsg.value("File must be type of .png, .jpg, .jpeg, .bmp");
  //   console.log("not correct file type");
  //   return;
  // }

  await reader.readAsDataURL(img);
  reader.onloadend = () => {
    base64str.value.push(reader.result);
    loaded.value = true;
    console.log(base64str.value);
  };
  reader.onerror = (err) => {
    console.log(err, "something NEW went wrong");
  };
};

const upload = ($event) => {
  is_dragover.value = false;
  const files = $event.dataTransfer
    ? [...$event.dataTransfer.files]
    : [...$event.target.files];

  if (files.length > props.uploadCount) {
    errorMsg.value = `Maximum file upload is ${props.uploadCount} files.`;
    return;
  } else {
    errorMsg.value = "";
    for (let file in files) {
      imageReader(files[file]);
    }
  }
};

const fileCheck = (img) => {
  return (
    JSON.stringify(img).includes("application/pdf") ||
    JSON.stringify(img).includes("text/plain") ||
    JSON.stringify(img).includes("video")
  );
};
</script>
<template>
  <div
    class="rounded-lg bg-gray-50 shadow-full h-full flex flex-col justify-between"
  >
    <div class="h-full flex items-center self-center">
      <div
        v-if="loaded"
        v-for="img in base64str"
        class="flex justify-center items-center"
      >
        <iframe v-if="fileCheck(img)" :src="img" />
        <img v-if="JSON.stringify(img).includes('image')" :src="img" />
      </div>
    </div>

    <div class="flex flex-col justify-between">
      <div class="w-full border-t-2 py-1"></div>
      <label>
        <slot name="uploadLabel"></slot>
        <h1 v-if="errorMsg.length != 0" class="text-lg text-red-500 pl-5">
          {{ errorMsg }}
        </h1>
        <input
          class="hidden"
          type="file"
          multiple
          :accept="props.type"
          @change="upload($event)"
        />
      </label>
    </div>
  </div>
</template>
