<script setup>
import { ref, computed } from "vue";
import {
  PlusIcon,
  SearchIcon,
  XIcon,
  TrashIcon,
  EyeIcon,
  PencilIcon,
  DotsHorizontalIcon,
  ChevronDownIcon,
  ExclamationIcon,
} from "@heroicons/vue/outline";
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";

import {
  format,
  formatDistanceToNowStrict,
  parseISO,
  compareAsc,
  compareDesc,
} from "date-fns";

import { useRouter } from "vue-router";
import Notify from "@/use/notify";
import useErrorParser from "@/use/errorParser";
import i18n from "@/plugins/i18n";

import get_entity_users from "@/composables/users/entities/entity_users.js";

const t = i18n.global.t;

const { notify } = Notify();
const { parse } = useErrorParser();
const router = useRouter();

const props = defineProps({
  id: String,
});


const headers = [
  {
    text: "Full Name",
    value: "name",
  },
  {
    text: "Email",
    value: "email",
  },
  {
    text: "Created At",
    value: "created_at",
  },
  {
    text: "Updated At",
    value: "updated_at",
  },
  // {
  //   text: "Action",
  //   value: "actions",
  // },
];

const users = ref([]);

const offset = ref(0);
const limit = ref(10);
const length = ref(0);
const search = ref("");
const sort = ref([{ name: "desc" }]);
const openInviteDialog = ref(false);
const openCreateDialog = ref(false);

const {
  onResult,
  onError: getUserError,
  loading: loadingUsersError,
  refetch,
} = get_entity_users(offset, limit, props.id);

onResult(({ data }) => {
  if (data) {
    users.value = data.users;
    length.value = data.length.aggregate.count;
  }
});

getUserError((err) => {
  notify(parse(err));
});

const viewUsers = (item) => {
  router.push({ name: "app-users-id", params: { id: item.id } });
};

const clickRow = (row) => {
  viewUsers(row.user);
};


</script>

<template>
  <invite-user
    v-if="openInviteDialog"
    v-model="openInviteDialog"
    :id="id"
    @refetch="refetch"
  ></invite-user>

  <create-user
    v-if="openCreateDialog"
    v-model="openCreateDialog"
    :id="id"
    @refetch="refetch"
  ></create-user>

  <div class="flex gap-3 flex-row-reverse p-6 m-6">
    <div>
      <button
        @click="openInviteDialog = true"
        class="
          flex
          bg-primary
          hover:opacity-80
          p-3
          text-white
          rounded-md
          shadow-md
        "
      >
        <PlusIcon class="h-5 w-5 mt-0.5 mr-2" />
        <span class="text-md font-bold">{{ $t("invite_user") }}</span>
      </button>
    </div>
    <div>
      <button
        @click="openCreateDialog = true"
        class="
          flex
          bg-primary
          hover:opacity-80
          p-3
          text-white
          rounded-md
          shadow-md
        "
      >
        <PlusIcon class="h-5 w-5 mt-0.5 mr-2" />
        <span class="text-md font-bold">{{ $t("create_user") }}</span>
      </button>
    </div>
  </div>
  <div class="p-6">
    <v-table
      :headers="headers"
      :items="users"
      :loading="loadingUsersError"
      v-model:sort="sort"
      @clickRow="clickRow"
    >
      <template v-slot:name="{ item }">
        {{ item.user.name }}
      </template>
      <template v-slot:email="{ item }">
        {{ item.user.email }}
      </template>
      <template v-slot:created_at="{ item }">
        {{
          formatDistanceToNowStrict(new Date(item.user.created_at), {
            addSuffix: true,
          })
        }}
      </template>
      <template v-slot:updated_at="{ item }">
        {{
          formatDistanceToNowStrict(new Date(item.user.updated_at), {
            addSuffix: true,
          })
        }}
      </template>
    </v-table>
    <div class="text-white">
      <paginate
        v-model:offset="offset"
        :items-per-page="limit"
        :total-data="length"
        class=""
      >
      </paginate>
    </div>
  </div>
</template>

<route lang="yaml">
meta:
  layout: app
</route>