<script setup>
import { ref, computed } from "vue";
import { XIcon, DotsCircleHorizontalIcon } from "@heroicons/vue/solid";

const props = defineProps({
  modelValue: {
    type: Boolean,
  },
});

const emit = defineEmits(["update:modelValue", "save"]);

const temp_prop = ref({});
const helper = ref({ entity_obj: {} });

const saveUserEntity = () => {
  console.log("helper data", helper.value);
  emit("save", helper.value);
  emit("update:modelValue", false);
  // helper.value = {};
};

const close = () => {
  emit("update:modelValue", false);
  helper.value = {};
};

const valid = computed(() => {
  if (
    helper.value &&
    helper.value.entity_id &&
    helper.value.roles &&
    helper.value.roles.length
  ) {
    return true;
  }
  return false;
});
</script>

<template>
  <modal v-model="modelValue" class="mx-auto w-1/4">
    <template v-slot>
      <div class="flex bg-primary dark:bg-secondary-dark py-3">
        <div class="pl-6 md:text-lg font-medium text-white items-center">
          Add User Entity
        </div>
        <div class="absolute lg:right-5 right-4">
          <button @click="close">
            <XIcon class="lg:w-6 lg:h-6 h-5 w-5 text-white" />
          </button>
        </div>
      </div>
      <div class="items-center justify-center">
        <div class="pb-2 px-7 mt-3">
          <div>
            <select-entities
              v-model="helper.entity_id"
              v-model:selected="helper.entity_obj"
              name="entity"
              label="Entity"
            />
          </div>
          <div>
            <select-roles v-model="helper.roles" />
          </div>
          <div></div>
          <div class="mt-10 w-full flex justify-end gap-x-3">
            <button
              class="
                md:px-10
                px-6
                items-center
                inline-flex
                justify-center
                rounded-md
                border border-gray-300
                shadow-md
                py-2
                bg-white
                dark:bg-tertiary-dark dark:text-white 
                text-base
                font-medium
                text-primary
                hover:bg-gray-50
              "
              type="button"
              @click="close"
            >
              Cancel
            </button>
            <button
              class="
                bg-primary
                text-white
                rounded-md
                hover:bg-primary-dark
                px-6
                py-2
                md:px-10 md:py-3
                font-bold
                shadow-md
              "
              :disabled="!valid"
              @click="saveUserEntity"
              :class="valid ? '' : ' opacity-50 cursor-not-allowed'"
            >
              <span>Save</span>
            </button>
          </div>
        </div>
      </div>
    </template>
  </modal>
</template>
