<script setup>
import { ref, computed } from "vue";
import { useForm } from "vee-validate";
import { useMutation } from "@vue/apollo-composable";
import useErrorParser from "@/use/errorParser";
import Notify from "@/use/notify";
import { DotsCircleHorizontalIcon, EyeIcon } from "@heroicons/vue/solid";
import i18n from "@/plugins/i18n";

import change_password from "@/composables/users/users/change_password.js";
const props = defineProps({
  modelValue: {
    type: Boolean,
    reqired: true,
  },
});

const emit = defineEmits(["update:modelValue"]);
const t = i18n.global.t;
const { parse } = useErrorParser();
const { notify } = Notify();

const user_password = ref({});
const { handleSubmit } = useForm();

const {
  mutate: change_user_password,
  onDone,
  onError,
  loading,
} = change_password();

onDone(() => {
  console.log("Done");
  emit("update:modelValue", false);
  user_password.value = {};
  notify({
    title: t("password_changed"),
    description: t("password_changed_successfully"),
    cardClass: "bg-green-100",
  });
});

onError((err) => {
  // console.log("error", err);
  parse(notify(err));
});

const submit = handleSubmit(async () => {
  change_user_password({
    newPassword: user_password.value.new,
    oldPassword: user_password.value.current,
  });
});

const close = () => {
  emit("update:modelValue", false);
  user_password.value = {};
};
</script>

<template>
  <modal v-model="modelValue" class="w-2/5 mx-auto">
    <template v-slot>
      <div class="py-5 px-10 font-body">
        <!-- <div class="flex text-xl text-black font-bold justify-center mb-5">
          Change your password
        </div> -->
        <form @submit.prevent="submit">
          <div class="pt-5">
            <div>
              <h-text-field
                v-model="user_password.current"
                name="Current password"
                rules="required"
                type="password"
                :trailingIcon="() => EyeIcon()"
              >
                <template v-slot:label>
                  <div
                    class="font-medium text-lg mb-2 text-black dark:text-white"
                  >
                    Current password
                    <span class="text-red-500">*</span>
                  </div>
                </template>
              </h-text-field>
            </div>
            <div>
              <h-text-field
                v-model="user_password.new"
                name="password"
                rules="required|password"
                type="password"
                :trailingIcon="() => EyeIcon()"
              >
                <template v-slot:label>
                  <div
                    class="font-medium text-lg mb-2 text-black dark:text-white"
                  >
                    New password
                    <span class="text-red-500">*</span>
                  </div>
                </template>
              </h-text-field>
            </div>
            <div>
              <h-text-field
                v-model="user_password.confirm"
                name="confirm"
                rules="required|confirm:@password"
                type="password"
                :trailingIcon="() => EyeIcon()"
              >
                <template v-slot:label>
                  <div
                    class="font-medium text-lg mb-2 text-black dark:text-white"
                  >
                    Confirm password
                    <span class="text-red-500">*</span>
                  </div>
                </template>
              </h-text-field>
            </div>
            <div class="text-right mt-3 flex justify-end gap-x-3">
              <button
                type="button"
                class="
                  px-5
                  items-center
                  inline-flex
                  justify-center
                  rounded-md
                  border border-gray-300
                  shadow-md
                  py-2
                  bg-white
                  dark:bg-tertiary-dark dark:text-white
                  text-base
                  font-medium
                  text-primary
                  hover:bg-gray-50
                "
                @click="close"
              >
                Cancel
              </button>
              <button
                class="
                  bg-primary
                  text-white
                  rounded-md
                  hover:bg-primary-dark
                  px-5
                  py-3
                  font-bold
                  shadow-md
                "
              >
                <span :class="loading ? 'hidden' : 'vissible'">Change</span>
                <div
                  :class="loading ? 'vissible' : 'hidden'"
                  class="flex justify-center"
                >
                  <DotsCircleHorizontalIcon
                    class="animate-spin h-5 w-5"
                  ></DotsCircleHorizontalIcon>
                </div>
              </button>
            </div>
          </div>
        </form>
      </div>
    </template>
  </modal>
</template>
