<script setup>
import { ref, computed } from "vue";
import {
  XIcon,
  DotsCircleHorizontalIcon,
  ChevronDownIcon,
} from "@heroicons/vue/solid";

import roles_gql from "@/composables/users/roles/roles";

const props = defineProps({
  modelValue: {
    type: Boolean,
  },
  data: {
    type: Object,
    default: {},
  },
});

const emit = defineEmits(["update:modelValue", "update:data", "save"]);

const roles = ref([]);
const limit = ref(20);
const offset = ref(0);
const search_role = ref("");
const helper = ref({});
const temp_prop = ref([]);

helper.value.ids = [...props.data];

const where = computed(() => {
  return {
    name: {
      _ilike: `%${search_role.value}%`,
    },
  };
});

const { onResult, loading } = roles_gql(offset, limit, where);

onResult(({ data }) => {
  if (data.roles) {
    roles.value = data.roles;
  }
});

const onRoleSearch = (d) => {
  search_role.value = d;
};

const saveRole = () => {
    emit("update:data", helper.value.ids);
    emit("save");
    emit("update:modelValue", false);

  console.log("saved!!!", helper.value.roles);
};

const close = () => {
  temp_prop.value = {};
  emit("update:modelValue", false);
};

const valid = computed(() => {
  if (helper.value && helper.value.ids && helper.value.ids.length > 0) {
    return true;
  }
  return false;
});
</script>

<template>
  <modal v-model="modelValue" class="mx-auto w-1/4">
    <template v-slot>
      <div class="flex bg-primary dark:bg-secondary-dark py-3">
        <div class="pl-6 md:text-lg font-medium text-white items-center">
          Update Roles
        </div>
        <div class="absolute lg:right-5 right-4">
          <button @click="close">
            <XIcon class="lg:w-6 lg:h-6 h-5 w-5 text-white" />
          </button>
        </div>
      </div>
      <div class="items-center justify-center">
        <div class="pb-2 px-7">
          <div class="mt-3">
            <h-multiple-select-new
              v-model="helper.ids"
              v-model:selected="helper.roles"
              @search="onRoleSearch"
              :trailingIcon="ChevronDownIcon"
              :items="roles"
              name="role"
              supporter="h-28"
              multiple
            >
              <template v-slot:label>
                <div class="text-black dark:text-white font-medium text-lg mb-2 font-body">
                  Roles
                </div>
              </template>
            </h-multiple-select-new>
          </div>

          <div></div>
          <div class="mt-10 w-full flex justify-end gap-x-3">
            <button
              class="
                px-10
                items-center
                inline-flex
                justify-center
                rounded-md
                border border-gray-300
                shadow-md
                py-2
                bg-white
                dark:bg-tertiary-dark dark:text-white 
                text-base
                font-medium
                text-primary
                hover:bg-gray-50
              "
              type="button"
              @click="close"
            >
              Cancel
            </button>
            <button
              class="
                bg-primary
                text-white
                rounded-md
                hover:bg-primary-dark
                px-10
                py-3
                font-bold
                shadow-md
              "
              :disabled="!valid"
              @click="saveRole"
              :class="valid ? '' : ' opacity-50 cursor-not-allowed'"
            >
              <span>Save</span>
            </button>
          </div>
        </div>
      </div>
    </template>
  </modal>
</template>