<script setup>
import { ref } from "vue";
import { useForm } from "vee-validate";
import { DotsCircleHorizontalIcon } from "@heroicons/vue/outline";
import useErrorParser from "@/use/errorParser";
import Notify from "@/use/notify";
import { useRouter } from "vue-router";
import i18n from "@/plugins/i18n";

import role_upsert from "@/composables/users/roles/upsert.js";

const t = i18n.global.t;
const router = useRouter();
const { notify } = Notify();
const { parse } = useErrorParser();

const { handleSubmit, handleReset } = useForm();

const props = defineProps({
  modelValue: {
    type: Object,
    default: {},
  },
});

const role = ref({ ...props.modelValue });

const { mutate, onDone, onError, loading } = role_upsert();

onDone((role) => {
  handleReset();
  role.value = {};
  notify({
    title: t("role_saved"),
    description: t("role_saved_successfully"),
    cardClass: "bg-green-100",
  });
  router.back();
});

onError((err) => {
  notify(parse(err));
});

const submit = handleSubmit(async () => {
  delete role.value.created_at;
  mutate({ role: role.value });
});
</script>

<template>
  <div class="xl:px-10 md:py-5 p-6 mt-5 font-body overflow-hidden items-center">
    <div class="w-full font-body justify-center items-center overflow-hidden">
      <div
        class="
          w-full
          lg:w-[90%]
          2xl:10/12
          sm:w-8/12
          mx-5
          shadow-md
          sm:mx-auto
          rounded-lg
          bg-white
          dark:bg-secondary-dark
          lg:mb-10
          items-center
        "
      >
        <div class="py-5 xl:px-8">
          <div
            class="
              font-bold
              text-xl
              xl:mx-20
              mx-10
              align-middle
              text-black
              dark:text-white
              mt-10
            "
          >
            Roles
          </div>
          <form @submit.prevent="submit">
            <div class="my-5 xl:mx-20 mx-10 items-center">
              <div class="mb-2 flex flex-wrap justify-between">
                <div class="lg:w-1/2 w-full">
                  <h-text-field
                    v-model="role.name"
                    name="Name"
                    placeholder="Role Name"
                    placeholderStyle="text-gray-600 "
                    rules="required"
                  >
                    <template v-slot:label>
                      <div
                        class="
                          font-medium
                          text-lg
                          mb-2
                          text-black
                          dark:text-white
                        "
                      >
                        Name
                        <span class="text-red-500">*</span>
                      </div>
                    </template>
                  </h-text-field>
                </div>
                <div class="mb-2 w-full">
                  <h-text-area
                    v-model="role.description"
                    rows="8"
                    name="description"
                    placeholder="Role Description"
                    label="Discription"
                    label-class="mb-2 font-medium text-lg text-black dark:text-white"
                    supporter-class="shadow-sm"
                  >
                  </h-text-area>
                </div>
                <div class="mt-5 w-full flex justify-end gap-x-3">
                  <button
                    class="
                      px-10
                      items-center
                      inline-flex
                      justify-center
                      rounded-md
                      border border-gray-300
                      shadow-md
                      py-2
                      bg-white
                      dark:bg-tertiary-dark
                      dark:text-white
                      text-base
                      font-medium
                      text-primary
                      hover:bg-gray-50
                    "
                    type="button"
                    @click="
                      () => {
                        router.back();
                      }
                    "
                  >
                    Back
                  </button>
                  <button
                    class="
                      bg-primary
                      text-white
                      rounded-md
                      hover:bg-primary-dark
                      px-10
                      py-3
                      font-bold
                      shadow-md
                    "
                  >
                    <div v-if="loading" class="flex justify-center">
                      <DotsCircleHorizontalIcon
                        class="animate-spin h-5 w-5"
                      ></DotsCircleHorizontalIcon>
                    </div>
                    <span v-else>Save</span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<route lang="yaml">
meta:
  layout: app
</route>