<script setup>
import { ref } from "vue";

import useErrorParser from "@/use/errorParser";
import Notify from "@/use/notify";
import role_query from "@/composables/users/roles/role.js";
const { notify } = Notify();
const { parse } = useErrorParser();

const props = defineProps({
  name: String,
});

const role = ref({});

const { onResult, onError, loading, refetch } = role_query(props.name);

onResult(({ data }) => {
  if (data) {
    role.value = data.role;
  }
});
</script>

<template>
  <role-upsert v-if="role.name" v-model="role"></role-upsert>
</template>

<route lang="yaml">
meta:
  layout: app
</route>