<script setup>
import { PencilAltIcon, BanIcon } from "@heroicons/vue/solid";
import { CalendarIcon, BookOpenIcon } from "@heroicons/vue/outline";
const props = defineProps({
  item: {
    type: Object,
    default: () => ({}),
  },
});

const emit = defineEmits(["navigate"]);
const navigate = () => {
  emit("navigate", props.item);
};
function toTop() {
  window.scrollTo({ top: 0, behavior: "smooth" });
}
</script>

<template>
  <div
    @click="
      navigate(item);
      toTop();
    "
    class="flex min-w-[425px] cursor-pointer rounded bg-white hover:bg-Hahugreen/3"
    :class="item.selected ? 'bg-Hahugreen/3' : 'bg-white'"
  >
    <img :src="item.blogsToShow.img" class="mt-4 object-contain px-[18px]" />
    <div class="mt-4 ml-[14px] flex flex-col pr-4">
      <h3 class="text-lg font-medium leading-6">
        {{ item.blogsToShow.title }}
      </h3>
      <div class="grid min-w-[250px] grid-cols-2">
        <div class="flex">
          <h3
            class="mt-4 self-start rounded-full bg-primary-lite px-3 text-xs font-medium leading-[18px] text-primary"
          >
            {{ item.blogsToShow.catg }}
          </h3>
        </div>

        <h4
          class="flex self-center text-primary"
          :class="item.blogsToShow.route.hash == '#draft' ? 'block' : 'hidden'"
        >
          <PencilAltIcon class="ml-4 mr-2 h-5 w-5 self-end text-primary" />
          Draft
        </h4>
        <h4
          class="flex self-center text-primary"
          :class="
            item.blogsToShow.route.hash == '#unpublished' ? 'block' : 'hidden'
          "
        >
          <BanIcon class="ml-3 mr-2 h-5 w-5 self-end text-primary" />
          Unpublished
        </h4>
      </div>
      <div class="mt-5 mb-4 flex space-x-[34px]">
        <div class="flex items-center space-x-[7px]">
          <CalendarIcon class="w-5 text-primary" />
          <h4 class="text-sm font-normal leading-6 text-primary">
            {{ item.blogsToShow.date }}
          </h4>
        </div>
        <div class="flex items-center space-x-[7px]">
          <BookOpenIcon class="w-5 text-primary" />
          <h4 class="text-sm font-normal leading-6 text-primary">
            {{ item.blogsToShow.read }} read
          </h4>
        </div>
      </div>
    </div>
  </div>
</template>
