<script setup>
import { computed, ref } from "vue";
import { useRoute } from "vue-router";
import { SearchIcon } from "@heroicons/vue/solid";
import { watchEffect } from "vue";
import { blogs } from "@/data/data.json";
const props = defineProps({
  items: {
    type: Array,
    default: () => [],
    required: true,
  },
  defaultItem: {
    type: Number,
    default: 0,
  },
  selected: {
    type: String,
    default: "",
  },
  role: String,
  path: String,
});

const route = useRoute();
const current = computed(() => {
  return route.hash || props.items[props.defaultItem]?.to?.hash;
});

const currentTab = computed(() => {
  return props.items.reduce((res, item) => {
    if (item.to.hash === current.value) {
      return item;
    }
    return res;
  }, {});
});

const incomingData = ref([
  {
    id: "1",
    img: "/images/BlogPic.png",
    title: "Training for university students",
    catg: "SCIENCE",
    date: "Feb 12, 2022",
    read: 25,
  },
  {
    id: "2",
    img: "/images/BlogPic.png",
    title: "Test One",
    catg: "TECHNOLOGY",
    date: "Feb 12, 2022",
    read: 25,
  },
  {
    id: "3",
    img: "/images/BlogPic.png",
    title: "Test Two",
    catg: "TECHNOLOGY",
    date: "Feb 12, 2022",
    read: 25,
  },
  {
    id: "4",
    img: "/images/BlogPic.png",
    title: "Test Three",
    catg: "TECHNOLOGY",
    date: "Feb 12, 2022",
    read: 25,
  },
  {
    id: "5",
    img: "/images/BlogPic.png",
    title: "Test Three",
    catg: "TECHNOLOGY",
    date: "Feb 12, 2022",
    read: 25,
  },
  {
    id: "6",
    img: "/images/BlogPic.png",
    title: "Test Three",
    catg: "TECHNOLOGY",
    date: "Feb 12, 2022",
    read: 25,
  },
  {
    id: "7",
    img: "/images/BlogPic.png",
    title: "Test Three",
    catg: "TECHNOLOGY",
    date: "Feb 12, 2022",
    read: 25,
  },
]);

// console.log(data.blogs.published);

const items = computed(() => {
  return blogs.published.map((item) => {
    return {
      selected: item.id === props.selected,
      ...item,
      route: {
        name: `${props.path}-id-${current.value?.replace("#", "")}`,
        hash: current.value,
        params: { id: item.id },
      },
    };
  });
});

// console.log("items prop value", props.items);

const tabs = computed(() => {
  return props.items.map((tab) => {
    return {
      ...tab,
      current: current.value == tab?.to?.hash,
    };
  });
});

const toTop = () => {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
};
</script>

<template>
  <aside class="flex h-dscreen bg-secondary-1">
    <div
      class="sticky top-0 flex flex-col overflow-y-auto pl-[22px] shadow-[5px_0px_20px_-15px_rgba(0,0,0,0.4)]"
    >
      <div class="mt-9 pr-3">
        <h-text-field
          name="search"
          inputClass="px-6 py-4 font-normal leading-6 text-HahuGray2"
          placeholder="Search"
          :trailingIcon="SearchIcon"
        >
        </h-text-field>
      </div>

      <div class="flex pr-3">
        <nav class="flex w-full justify-around" aria-label="Tabs">
          <router-link
            v-for="tab in tabs"
            :key="tab.name"
            class="border-b-2 py-1 px-1 text-center text-base font-medium hover:border-gray-300 hover:text-gray-700"
            :class="
              tab.current
                ? 'border-b-4 border-primary text-primary'
                : 'text-secondary'
            "
            :to="tab.to"
          >
            {{ tab.name }}
          </router-link>
        </nav>
      </div>

      <div
        class="mt-5 mb-10 flex flex-col space-y-5 pr-[14px]"
        @click="toTop"
        v-if="items && items.length"
      >
        <template v-for="item in items">
          <slot name="card" :item="item"></slot>
        </template>
      </div>
    </div>
  </aside>
</template>

<style>
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #797979;
}
</style>
