<script setup>
import { toRefs, ref, computed } from "vue";
import { useForm } from "vee-validate";

import useErrorParser from "@/use/errorParser";
import Notify from "@/use/notify";
import { DotsCircleHorizontalIcon, EyeIcon } from "@heroicons/vue/outline";
import { useRouter } from "vue-router";
import i18n from "@/plugins/i18n";

import create_user_mutation from "@/composables/users/users/create_user.js";

const t = i18n.global.t;
const router = useRouter();
const { notify } = Notify();
const { parse } = useErrorParser();

const { handleSubmit, handleReset } = useForm();

const { mutate, onDone, onError, loading } = create_user_mutation();

const user = ref({});

const submit = handleSubmit(async () => {
  // with invitation
  // mutate({ email: user.value.email, name: user.value.name });

  // with create
   const _user = {
    email: user.value.email,
    name: user.value.name,
    password: user.value.password,
  };
  mutate({ user: _user });
});

onDone((user) => {
  handleReset();
  user.value = {};
  notify({
    title: t("user_added"),
    description: t("user_added_successfully"),
    cardClass: "bg-green-100",
  });
  router.back();
})

onError((err) => {
  notify(parse(err));
})
</script>

<template>
  <div class="xl:px-10 md:py-5 p-6 mt-5 font-body overflow-hidden items-center">
    <div class="w-full font-body justify-center items-center overflow-hidden">
      <div
        class="
          w-full
          lg:w-[90%]
          2xl:10/12
          sm:w-8/12
          mx-5
          shadow-md
          sm:mx-auto
          rounded-lg
          bg-white
          dark:bg-secondary-dark
          lg:mb-10
          items-center
        "
      >
        <div class="py-5 xl:px-8">
          <div
            class="
              font-bold
              text-xl
              xl:mx-20
              mx-10
              align-middle
              text-black
              dark:text-white
              mt-10
            "
          >
            New User
          </div>
          <form @submit.prevent="submit">
            <div class="my-5 xl:mx-20 mx-10 items-center">
              <div class="mb-2 flex flex-wrap justify-between">
                <div class="flex md:flex-row flex-col gap-3 w-full">
                  <div class="lg:w-1/2 w-full">
                    <h-text-field
                      v-model="user.name"
                      name="Name"
                      rules="required"
                      placeholder="Name"
                    >
                      <template v-slot:label>
                        <div class="font-medium text-lg mb-2 text-black dark:text-white">
                          Name
                          <span class="text-red-500">*</span>
                        </div>
                      </template>
                    </h-text-field>
                  </div>
                  <div class="w-full lg:w-1/2">
                    <h-text-field
                      v-model="user.email"
                      name="email"
                      rules="required|email"
                    >
                      <template v-slot:label>
                        <div class="font-medium text-lg mb-2 text-black dark:text-white">
                          Email
                          <span class="text-red-500">*</span>
                        </div>
                      </template>
                    </h-text-field>
                  </div>
                </div>
                 <div class="flex md:flex-row flex-col gap-3 w-full">
                  <div class="lg:w-1/2 w-full">
                    <h-text-field
                      v-model="user.password"
                      name="password"
                      rules="required"
                      type="password"
                      :trailingIcon="() => EyeIcon()"
                    >
                      <template v-slot:label>
                        <div class="font-medium text-lg mb-2 text-black dark:text-white">
                          Password
                          <span class="text-red-500">*</span>
                        </div>
                      </template>
                    </h-text-field>
                  </div>
                </div>
                <div class="mt-5 w-full flex justify-end gap-x-3">
                  <button
                    class="
                      px-10
                      items-center
                      inline-flex
                      justify-center
                      rounded-md
                      border border-gray-300 dark:border-none
                      shadow-md
                      py-2
                      bg-white
                      dark:bg-tertiary-dark
                      dark:text-white
                      text-base
                      font-medium
                      text-primary
                      hover:bg-gray-50
                    "
                    type="button"
                    @click="
                      () => {
                        router.back();
                      }
                    "
                  >
                    Back
                  </button>
                  <button
                    class="
                      bg-primary
                      text-white
                      rounded-md
                      hover:bg-primary-dark
                      px-10
                      py-3
                      font-bold
                      shadow-md
                    "
                  >
                    <div v-if="loading" class="flex justify-center">
                      <DotsCircleHorizontalIcon
                        class="animate-spin h-5 w-5"
                      ></DotsCircleHorizontalIcon>
                    </div>
                    <span v-else>Save</span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<route lang="yaml">
meta:
  layout: app
</route>
