<script setup>
// import Logo from "@/assets/Hahu_logo2.png";
// import logout from "@/assets/LogoutIcon.svg?url";
import { useRoute } from "vue-router";
import { computed } from "@vue/reactivity";
import {
  HomeIcon,
  NewspaperIcon,
  CollectionIcon,
  PresentationChartLineIcon,
  UserAddIcon,
  FolderIcon,
  ChatIcon,
  LogoutIcon,
} from "@heroicons/vue/outline";

import { Disclosure, DisclosureButton, DisclosurePanel } from "@headlessui/vue";
import { ChevronDownIcon } from "@heroicons/vue/solid";

const navItems = [
  { name: "Address", icon: HomeIcon, path: "app-io-Home" },
  { name: "Education", icon: NewspaperIcon, path: "app-io-blogs-blogPost" },
  {
    name: "Skills & Abilities",
    icon: CollectionIcon,
    path: "app-io-projects-projectPost",
  },
  {
    name: "Classifications",
    icon: PresentationChartLineIcon,
    path: "app-io-reports-reportPost",
  },
  {
    name: "Qualifications",
    icon: UserAddIcon,
    path: "app-io-staffs-staffMembers",
  },
  { name: "Hahu IP", icon: FolderIcon, path: "app-io-other" },
  { name: "Config", icon: ChatIcon, path: "app-io-messages" },
];

const route = useRoute();
const routeName = computed(() => {
  return route.name;
});
</script>

<template>
  <div class="h-screen max-w-[290px] flex-col bg-primary-dark px-2 2xl:flex">
    <div
      class="mt-12 mb-16 flex w-full flex-col space-y-10 overflow-y-auto overflow-x-hidden 2xl:space-y-10 4xl:mt-[101px]"
    >
      <router-link to="/app" class="mt-20 my-20 px-10">
        <img src="/images/Hahu_logo_2.png" />
      </router-link>

      <div class="w-full px-4 pt-16">
        <div class="mx-auto w-full max-w-md rounded-2xl py-2">
          <Disclosure
            v-slot="{ open }"
            v-for="nav in navItems"
            as="div"
            class="my-5"
          >
            <DisclosureButton
              class="flex w-full duration-500 justify-between rounded-lg px-4 py-2 text-left text-sm font-medium text-white hover:bg-white/20 focus:outline-none focus-visible:ring focus-visible:ring-purple-500 focus-visible:ring-opacity-75"
            >
              <span>{{ nav.name }} </span>
              <ChevronDownIcon
                :class="open ? 'rotate-180 transform' : ''"
                class="h-5 w-5 text-white duration-500"
              />
            </DisclosureButton>
            <DisclosurePanel
              class="px-4 pt-4 pb-2 text-sm bg-secondary-1 rounded-md text-gray-300"
            >
              If you're unhappy
            </DisclosurePanel>
          </Disclosure>
        </div>
      </div>
      <div class="mb-10 h-20"></div>
    </div>
    <router-link class="flex flex-col items-center" :to="{ path: '/app' }">
      <div
        class="absolute bottom-0 flex w-full items-center justify-center bg-HahuGray5"
      >
        <button
          class="flex items-center self-center bg-HahuGray5 py-5 font-bold leading-6 text-gray-200 gap-x-7"
        >
          <span class="hidden 2xl:block">Logout</span>
          <LogoutIcon class="w-5" />
        </button>
      </div>
    </router-link>
  </div>
</template>

<style scoped>
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #797979;
}
</style>
