<script setup>
// import Logo from "@/assets/Hahu_logo2.png";
// import logout from "@/assets/LogoutIcon.svg?url";
import { useRoute } from "vue-router";
import { computed } from "@vue/reactivity";
import {
  HomeIcon,
  NewspaperIcon,
  CollectionIcon,
  PresentationChartLineIcon,
  UserAddIcon,
  FolderIcon,
  ChatIcon,
  LogoutIcon,
} from "@heroicons/vue/outline";

const navItems = [
  { name: "Home", icon: HomeIcon, path: "app-io-Home" },
  { name: "Blog", icon: NewspaperIcon, path: "app-io-blogs-blogPost" },
  {
    name: "Project",
    icon: CollectionIcon,
    path: "app-io-projects-projectPost",
  },
  {
    name: "Report",
    icon: PresentationChartLineIcon,
    path: "app-io-reports-reportPost",
  },
  { name: "Staff", icon: UserAddIcon, path: "app-io-staffs-staffMembers" },
  { name: "Other", icon: FolderIcon, path: "app-io-other" },
  { name: "Message", icon: ChatIcon, path: "app-io-messages" },
];

const route = useRoute();
const routeName = computed(() => {
  return route.name;
});
</script>

<template>
  <div class="h-screen max-w-[290px] flex-col bg-primary-dark px-2 2xl:flex">
    <div
      class="mt-12 mb-16 flex w-full flex-col space-y-10 overflow-y-auto overflow-x-hidden 2xl:space-y-10 4xl:mt-[101px]"
    >
      <router-link to="/app" class="flex justify-center my-10">
        <img src="/images/Hahu_logo_2.png" />
      </router-link>
      <router-link
        v-for="(nav, index) in navItems"
        :key="index"
        class="flex rounded-lg hover:bg-HahuGray5"
        :class="routeName.includes(nav.path) ? 'bg-HahuGray5' : ''"
        :to="{ name: `${nav.path}` }"
      >
        <button
          class="flex justify-between px-2 py-1 text-base font-bold leading-6 text-gray-200 2xl:space-x-6 2xl:py-[10px] 2xl:pl-9 2xl:pr-[119px]"
        >
          <component :is="nav.icon" class="w-7 justify-center self-center" />
          <span class="hidden self-center 2xl:block">{{ nav.name }}</span>
        </button>
      </router-link>
      <div class="mb-10 h-20"></div>
    </div>
    <router-link class="flex flex-col items-center" :to="{ path: '/app' }">
      <div
        class="absolute bottom-0 flex w-full items-center justify-center bg-HahuGray5"
      >
        <button
          class="flex items-center self-center bg-HahuGray5 py-5 font-bold leading-6 text-gray-200 gap-x-7"
        >
          <span class="hidden 2xl:block">Logout</span>
          <LogoutIcon class="w-5" />
        </button>
      </div>
    </router-link>
  </div>
</template>

<style scoped>
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #797979;
}
</style>
