<script setup>
import { onUpdated, ref, watchEffect } from "vue";
import { useRoute, useRouter } from "vue-router";
import { BookOpenIcon } from "@heroicons/vue/outline";
import { XIcon, ArrowNarrowLeftIcon } from "@heroicons/vue/solid";
import { blogs } from "@/data/data.json";
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
  DialogDescription,
} from "@headlessui/vue";

const route = useRoute();
const router = useRouter();
const id = ref(route.params);

onUpdated(() => {
  id.value = route.params;
});

const filteredData = ref([]);

const isDelete = ref(false);
const isPublish = ref(false);
function closeDelete() {
  isDelete.value = false;
}

function deleteUnpublished() {
  isDelete.value = true;
}

function closePublish(val) {
  isPublish.value = false;
  if (val) {
    router.push({
      name: "app-io-blogs-blogPost",
      hash: "#published",
    });
  }
}

function publishBlog() {
  isPublish.value = true;
}

watchEffect(() => {
  filteredData.value = blogs.unpublished.find((el) => id.value.id == el.id);
});
</script>
<template>
  <div
    class="mx-4 mt-20 mb-5 flex flex-1 flex-col items-center rounded-2xl bg-white py-9 px-14 lg:mx-8 xl:mx-14 2xl:mx-[72px]"
  >
    <div
      class="fixed top-20 z-20 flex w-dscreen justify-end bg-secondary-1 px-20 py-5"
    >
      <!-- <router-link
        class="flex items-center rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
        :to="{ name: 'admin-blogs-blogPost' }"
      >
        <ArrowNarrowLeftIcon class="mr-1 h-5 w-5" />
        Back
      </router-link> -->
      <div class="flex justify-end space-x-5">
        <router-link
          class="rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
          :to="{
            name: 'app-io-blogs-blogPost-edit-id',
            hash: '#draft',
            params: { id: `${filteredData.id}` },
          }"
        >
          Edit
        </router-link>
        <button
          class="rounded border-[1px] border-red-500 px-[11px] py-2 text-xs font-medium leading-4 text-red-500 hover:bg-red-500 hover:text-white"
          @click="deleteUnpublished"
        >
          Delete
        </button>
        <button
          class="rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
          @click="publishBlog"
        >
          Publish
        </button>
      </div>
    </div>
    <div class="flex flex-col">
      <h2 class="text-3xl font-bold leading-[60px] text-HahuGray1">
        {{ filteredData.title }}
      </h2>
      <div class="mt-6 flex items-center">
        <h4
          class="self-start rounded-full bg-HaHuGreen/2 px-4 py-[5px] font-medium text-primary"
        >
          {{ filteredData.catg }}
        </h4>
        <h4 class="ml-[56px] text-base font-medium leading-6 text-primary">
          {{ filteredData.date }}
        </h4>
        <div class="ml-8 flex items-center space-x-[7px]">
          <BookOpenIcon class="w-5 text-primary" />
          <h4 class="text-base font-medium leading-6 text-primary">
            {{ filteredData.read }} read
          </h4>
        </div>
      </div>

      <p class="mt-9 text-lg font-normal leading-[30px] text-HahuGray2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum
        etiam elit vel ligula massa sagittis sit. At nec massa fermentum
        consectetur diam faucibus hendrerit. Fringilla sit arcu eu vitae. Diam
        euismod varius ac sed neque cursus in. Tellus nunc posuere morbi ac
        tellus cursus malesuada blandit. Purus ut laoreet ornare amet, vel,
        porttitor eleifend egestas mauris. Blandit odio aliquet egestas magna
        amet.
      </p>
      <img
        src="/images/publishBlogImg.jpg"
        class="mt-12 rounded-3xl object-contain"
      />
      <p class="mt-[53px] text-lg font-normal leading-[30px] text-HahuGray2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum
        etiam elit vel ligula massa sagittis sit. At nec massa fermentum
        consectetur diam faucibus hendrerit. Fringilla sit arcu eu vitae. Diam
        euismod varius ac sed neque cursus in. Tellus nunc posuere morbi ac
        tellus cursus malesuada blandit. Purus ut laoreet ornare amet, vel,
        porttitor eleifend egestas mauris. Blandit odio aliquet egestas magna
        amet.
      </p>
    </div>
    <TransitionRoot appear :show="isPublish" as="template">
      <Dialog as="div" @close="closePublish(false)" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full transform overflow-hidden rounded-2xl bg-white p-6 px-[74px] text-left align-middle shadow-xl transition-all md:max-w-md lg:max-w-lg xl:max-w-xl"
              >
                <DialogTitle
                  as="h3"
                  class="mt-[38px] text-lg font-medium leading-6 text-gray-900"
                >
                  Are you sure?
                </DialogTitle>
                <div class="mt-[51px]">
                  <p class="text-xl font-normal leading-4 text-HahuGray1">
                    Are you sure you want to
                    <span class="text-primary">Publish</span> this Blog?
                  </p>
                </div>

                <div class="mt-[53px] flex justify-center space-x-[50px]">
                  <button
                    type="button"
                    class="rounded border-2 border-Hahugreen/3 px-[21px] py-[7px] text-xs font-medium leading-4 text-HahuGray1"
                    @click="closePublish(false)"
                  >
                    No
                  </button>
                  <button
                    type="button"
                    class="rounded bg-primary px-[21px] py-[7px] text-xs font-medium leading-4 text-white"
                    @click="closePublish(true)"
                  >
                    Yes
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>

    <TransitionRoot appear :show="isDelete" as="template">
      <Dialog as="div" @close="closeDelete" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full transform overflow-hidden rounded-2xl bg-white p-6 px-[74px] text-left align-middle shadow-xl transition-all md:max-w-md lg:max-w-lg xl:max-w-xl"
              >
                <DialogTitle
                  as="h3"
                  class="mt-[38px] text-lg font-medium leading-6 text-gray-900"
                >
                  Are you sure?
                </DialogTitle>
                <div class="mt-[51px]">
                  <p class="text-xl font-normal leading-4 text-HahuGray1">
                    Are you sure you want to
                    <span class="text-red-600">Delete</span> this?
                  </p>
                </div>

                <div class="mt-[53px] flex justify-center space-x-[50px]">
                  <button
                    type="button"
                    class="rounded border-2 border-Hahugreen/3 px-[21px] py-[7px] text-xs font-medium leading-4 text-HahuGray1"
                    @click="closeDelete"
                  >
                    No
                  </button>
                  <button
                    type="button"
                    class="rounded bg-HahuRed px-[21px] py-[7px] text-xs font-medium leading-4 text-white"
                    @click="closeDelete"
                  >
                    Yes
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </div>
</template>

<style scoped></style>
