<script setup>
import { ref } from "vue";
import {
  ArrowNarrowRightIcon,
  ArrowNarrowLeftIcon,
  ArrowNarrowDownIcon,
  SearchIcon,
  ChevronDownIcon,
  CheckIcon,
  SelectorIcon,
  PencilIcon,
  PlusIcon,
} from "@heroicons/vue/solid";
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
  DialogDescription,
  Listbox,
  ListboxLabel,
  ListboxButton,
  ListboxOptions,
  ListboxOption,
} from "@headlessui/vue";

const isOpen = ref(false);

const category = [{ name: "Montly" }, { name: "Annualy" }, { name: "Yearly" }];

const selectedCategory = ref(category[0].name);

function closeModal() {
  isOpen.value = false;
}
function openModal() {
  isOpen.value = true;
}
</script>

<template>
  <div class="flex flex-1 flex-col items-center justify-center space-y-8">
    <router-link
      class="flex items-center rounded bg-primary px-6 py-[13px] text-base font-medium leading-6 text-white hover:bg-primary-lite"
      :to="{ name: 'app-io-staffs-staffMembers-create' }"
    >
      <PlusIcon class="mr-4 w-5 text-white" :src="plus" />New Staff Member
    </router-link>
  </div>
</template>



<style scoped></style>
