<script setup>
import { onMounted, reactive, ref } from "vue";
import { PlusIcon } from "@heroicons/vue/outline";
import {
  ArrowNarrowRightIcon,
  ArrowNarrowLeftIcon,
  ArrowNarrowDownIcon,
  SearchIcon,
  ChevronDownIcon,
  CheckIcon,
  SelectorIcon,
  PencilIcon,
  XIcon,
} from "@heroicons/vue/solid";
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
  DialogDescription,
  Listbox,
  ListboxLabel,
  ListboxButton,
  ListboxOptions,
  ListboxOption,
} from "@headlessui/vue";

const isOpen = ref(false);

const category = ["Montly", "Annualy", "Yearly"];

const item = reactive({
  completed: 27,
  clients: 17,
  deliveryTime: 6,
  period: category[0],
});

const submit = () => {
  closeModal();
  console.log("items value", item);
};

function closeModal() {
  isOpen.value = false;
}
function openModal() {
  isOpen.value = true;
}
</script>

<template>
  <div class="flex flex-1 flex-col items-center justify-center space-y-8">
    <router-link
      class="flex items-center rounded bg-primary px-6 py-[13px] text-base font-medium leading-6 text-white hover:bg-primary-lite"
      :to="{ name: 'app-io-projects-projectPost-create', hash: '#draft' }"
    >
      <PlusIcon class="mr-4 w-5" />New Project
    </router-link>

    <button
      class="flex items-center rounded-md border-[1px] border-gray-300 bg-white px-[25px] py-3 hover:bg-Hahugreen/3"
      @click="openModal"
    >
      <PencilIcon class="mr-[14px] h-5 w-5" />
      Edit Stat
    </button>
    <TransitionRoot appear :show="isOpen" as="template">
      <Dialog as="div" @close="closeModal" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full max-w-lg transform overflow-hidden rounded-2xl bg-white p-6 pl-11 text-left align-middle shadow-xl transition-all"
              >
                <DialogTitle
                  as="h3"
                  class="mt-[30px] flex items-center justify-between text-[22px] font-bold leading-6 text-primary"
                >
                  <div class="flex">Project Stat</div>
                  <XIcon
                    @click="closeModal"
                    class="mr-5 h-5 w-5 cursor-pointer text-HahuGray1"
                  />
                </DialogTitle>
                <form @submit.prevent="submit">
                  <div class="mt-7 flex flex-col pr-20">
                    <h-text-field-2
                      v-model.number="item.completed"
                      rules="required|number"
                      name="completed"
                      placeholder="27"
                    >
                      <template v-slot:label>
                        <div
                          class="my-5 text-lg font-normal leading-6 text-black"
                        >
                          Projects Completed
                        </div>
                      </template>
                    </h-text-field-2>
                    <h-text-field-2
                      v-model.number="item.clients"
                      rules="required|number"
                      name="clients"
                      placeholder="27"
                    >
                      <template v-slot:label>
                        <div
                          class="my-5 text-lg font-normal leading-6 text-black"
                        >
                          Number of Clients
                        </div>
                      </template>
                    </h-text-field-2>
                    <div class="mt-5 flex w-full">
                      <HTextField
                        v-model.number="item.deliveryTime"
                        rules="required|number"
                        name="deliveryTime"
                        type="text"
                        id="website-admin"
                        class="rounded-none rounded-l-lg"
                        placeholder="6"
                      />
                      <Listbox v-model="item.period">
                        <div class="relative w-32">
                          <ListboxButton
                            class="text-Hahugray/1 relative flex w-full cursor-default items-center justify-center rounded-r-md border border-l-0 border-Hahugreen/3 bg-white py-2 pl-4 pr-10 text-left text-xs font-normal leading-6 focus:outline-none focus-visible:border-Hahugreen/3 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-Hahugreen/3 sm:text-sm lg:text-base"
                          >
                            <span class="block truncate">{{
                              item.period
                            }}</span>
                            <span
                              class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-4"
                            >
                              <ChevronDownIcon
                                class="h-5 w-5 text-HahuGray1"
                                aria-hidden="true"
                              />
                            </span>
                          </ListboxButton>

                          <transition
                            leave-active-class="transition duration-100 ease-in"
                            leave-from-class="opacity-100"
                            leave-to-class="opacity-0"
                          >
                            <ListboxOptions
                              class="absolute z-50 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
                            >
                              <ListboxOption
                                v-slot="{ active, selected }"
                                v-for="cat in category"
                                :key="cat"
                                :value="cat"
                                as="template"
                              >
                                <li
                                  :class="[
                                    active
                                      ? 'bg-primary-lite text-white'
                                      : 'text-gray-900',
                                    'relative cursor-default select-none py-2 pl-10 pr-4',
                                  ]"
                                >
                                  <span
                                    :class="[
                                      selected ? 'font-medium' : 'font-normal',
                                      'block truncate',
                                    ]"
                                    >{{ cat }}</span
                                  >
                                  <span
                                    v-if="selected"
                                    class="absolute inset-y-0 left-0 flex items-center pl-3 text-primary"
                                  >
                                    <CheckIcon
                                      class="h-5 w-5"
                                      aria-hidden="true"
                                    />
                                  </span>
                                </li>
                              </ListboxOption>
                            </ListboxOptions>
                          </transition>
                        </div>
                      </Listbox>
                    </div>
                  </div>

                  <div class="mt-20 flex justify-end space-x-[26px] pr-20">
                    <button
                      type="button"
                      class="rounded-md border-2 border-Hahugreen/3 px-[17px] py-[9px] text-sm font-medium leading-[20px] text-HahuGray1"
                      @click="closeModal"
                    >
                      Cancel
                    </button>
                    <button
                      class="rounded-md bg-primary px-[17px] py-[9px] text-sm font-medium leading-[20px] text-white"
                    >
                      Save
                    </button>
                  </div>
                </form>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </div>
</template>

<style scoped></style>

<route lang="yaml">
meta:
  layout: io
</route>
