<script setup></script>
<template>
  <div class="bg-secondary-1 dark:bg-tertiary-dark fixed py-3 bottom-0 w-full">
    <div class="flex justify-center w-full">
      <p class="text-center text-sm leading-6 text-footer-text dark:text-gray-200">
        &copy; Hahujobs
        {{ new Date().getFullYear() }}
      </p>
    </div>
  </div>
</template>

<style></style>
