<script setup>
import { onUpdated, ref, watchEffect } from "vue";
import { useRoute } from "vue-router";
import copyLinkIcon from "@/assets/copyLinkIcon.svg?url";
import facebook from "@/assets/facebookShare.svg?url";
import twitter from "@/assets/twitterShare.svg?url";
import instagram from "@/assets/instaShare.svg?url";
import telegram from "@/assets/telegramShare.svg?url";
import pdfFile from "/images/pdf-test.pdf";
import projectImg from "/images/staffProject.png";

import {
  XIcon,
  ArrowNarrowLeftIcon,
  PhoneIcon,
  MailIcon,
} from "@heroicons/vue/solid";
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
  DialogDescription,
} from "@headlessui/vue";

const route = useRoute();
const id = ref(route.params);
const isPublish = ref(false);

onUpdated(() => {
  id.value = route.params;
});

const filteredData = ref([]);

const incomingData = [
  {
    id: "1",
    name: "JHON DOE",
    img: "/images/staffPhoto.png",
    position: "Co-founder, COO",
    phone: "+251 913998334",
    email: "kaleab.mezgebu@hahu.jobs",
    status: "active",
    socialMedia: [
      { icon: twitter, link: "" },
      { icon: facebook, link: "" },
      { icon: telegram, link: "" },
    ],
    project: [
      { name: "National Recruitment Platform", img: projectImg },
      { name: "National Recruitment Platform", img: projectImg },
      { name: "National Recruitment Platform", img: projectImg },
    ],
    summary:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit sollicitudin mattis lacus dignissim viverra amet proin.",
  },
  {
    id: "2",
    name: "JHON DOE",
    img: "/images/staffPhoto.png",
    position: "Co-founder, COO",
    phone: "+251 913998334",
    email: "kaleab.mezgebu@hahu.jobs",
    status: "active",
    project: [
      { name: "National Recruitment Platform", img: projectImg },
      { name: "National Recruitment Platform", img: projectImg },
      { name: "National Recruitment Platform", img: projectImg },
    ],
    socialMedia: [
      { icon: twitter, link: "" },
      { icon: facebook, link: "" },
      { icon: telegram, link: "" },
    ],
    summary:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit sollicitudin mattis lacus dignissim viverra amet proin.",
  },
  {
    id: "3",
    name: "JHON DOE",
    img: "/images/staffPhoto.png",
    position: "Co-founder, COO",
    phone: "+251 913998334",
    email: "kaleab.mezgebu@hahu.jobs",
    status: "active",
    project: [
      { name: "National Recruitment Platform", img: projectImg },
      { name: "National Recruitment Platform", img: projectImg },
      { name: "National Recruitment Platform", img: projectImg },
    ],
    socialMedia: [
      { icon: twitter, link: "" },
      { icon: facebook, link: "" },
      { icon: telegram, link: "" },
    ],
    summary:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit sollicitudin mattis lacus dignissim viverra amet proin.",
  },
  {
    id: "4",
    name: "JHON DOE",
    img: "/images/staffPhoto.png",
    position: "Co-founder, COO",
    phone: "+251 913998334",
    email: "kaleab.mezgebu@hahu.jobs",
    status: "active",
    project: [
      { name: "National Recruitment Platform", img: projectImg },
      { name: "National Recruitment Platform", img: projectImg },
      { name: "National Recruitment Platform", img: projectImg },
    ],
    socialMedia: [
      { icon: twitter, link: "" },
      { icon: facebook, link: "" },
      { icon: telegram, link: "" },
    ],
    summary:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit sollicitudin mattis lacus dignissim viverra amet proin.",
  },
  {
    id: "5",
    name: "JHON DOE",
    img: "/images/staffPhoto.png",
    position: "Co-founder, COO",
    phone: "+251 913998334",
    email: "kaleab.mezgebu@hahu.jobs",
    status: "active",
    project: [
      { name: "National Recruitment Platform", img: projectImg },
      { name: "National Recruitment Platform", img: projectImg },
      { name: "National Recruitment Platform", img: projectImg },
    ],
    socialMedia: [
      { icon: twitter, link: "" },
      { icon: facebook, link: "" },
      { icon: telegram, link: "" },
    ],
    summary:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit sollicitudin mattis lacus dignissim viverra amet proin.",
  },
];

function closePublish() {
  isPublish.value = false;
}

function unPublishBlog() {
  isPublish.value = true;
}

watchEffect(() => {
  filteredData.value = incomingData.find((el) => id.value.id == el.id);
});
</script>

<template>
  <!-- <div
    class="flex flex-1 flex-col pl-10 pr-5 xl:pl-20 xl:pr-10 2xl:pl-[162px] 2xl:pr-[84px] "
  > -->
  <div
    class="mx-4 mt-20 mb-5 flex flex-1 flex-col items-center rounded-2xl bg-white py-9 px-14 lg:mx-8 xl:mx-14 2xl:mx-[72px]"
  >
    <div
      class="fixed top-20 z-20 flex w-dscreen justify-between bg-secondary-1 px-20 py-5"
    >
      <router-link
        class="flex items-center rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
        :to="{ name: 'app-io-projects-projectPost' }"
      >
        <ArrowNarrowLeftIcon class="mr-1 h-5 w-5" />
        Back
      </router-link>
      <div class="flex justify-end space-x-5">
        <router-link
          class="rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
          :to="{
            name: 'app-io-staffs-staffMembers-edit-id',
            params: { id: `${filteredData.id}` },
          }"
        >
          Edit
        </router-link>
        <button
          class="rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
          @click="unPublishBlog"
        >
          Unpublish
        </button>
      </div>
    </div>
    <div class="flex">
      <div class="flex flex-col">
        <img :src="filteredData.img" />
        {{ socialMedia }}
        <div class="mt-10 flex justify-center space-x-7">
          <a
            class="flex"
            :href="social.link"
            v-for="social in filteredData.socialMedia"
            ><img :src="social.icon"
          /></a>
        </div>
      </div>
      <div class="ml-24 flex max-w-[680px] flex-col">
        <h1 class="font-bold leading-[54px] text-HahuGray1">
          {{ filteredData.name }}
        </h1>
        <h2 class="text-2xl font-medium leading-8 text-primary">
          {{ filteredData.position }}
        </h2>
        <h3 class="flex items-center text-lg font-semibold leading-9">
          <PhoneIcon class="mr-5 h-5 w-5 text-HahuGray1" />{{
            filteredData.phone
          }}
        </h3>
        <h3 class="flex items-center text-lg font-semibold leading-9">
          <MailIcon class="mr-5 h-5 w-5 text-HahuGray1" />
          {{ filteredData.email }}
        </h3>
        <p class="mt-4 text-lg font-semibold leading-[35px] text-HahuGray1">
          {{ filteredData.summary }}
        </p>
        <p class="mt-8 text-lg font-semibold leading-[35px] text-HahuGray2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu quis ut
          tincidunt feugiat tristique iaculis ac. Quis morbi pretium sed eget.
          Dui, nisl, eget ultrices eu egestas sit. Tincidunt sed scelerisque
          lacus habitant. Tortor sagittis, viverra ultricies aenean gravida.
          Elementum suscipit lorem lacus, imperdiet diam nisl. Lobortis gravida
          ac quis turpis integer. Vitae ut molestie iaculis turpis vitae turpis
          sed vulputate mattis
        </p>

        <h2
          class="mt mt-14 text-3xl font-extrabold leading-[43px] text-HahuGray1"
        >
          Projects
        </h2>
        <li class="mt-12 flex" v-for="project in filteredData.project">
          <img :src="project.img" class="self-start object-contain" />
          <div class="ml-8 flex flex-col">
            <h4 class="text-lg font-semibold leading-6 text-primary">
              {{ project.name }}
            </h4>
            <p class="mt-6 text-lg font-semibold leading-9 text-secondary-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. A neque
              lacus consectetur aliquam, ultrices maecenas lorem id eget.
              Pharetra a quis enim gravida viverra mattis commodo facilisi
              suspendisse.
            </p>
            <button
              class="mt-6 self-start text-lg font-normal leading-8 text-primary"
            >
              View Project
            </button>
            <hr class="mt-6 rounded-full border-b-2 border-HahuGray4" />
          </div>
        </li>
      </div>
    </div>
  </div>
</template>
