<script setup>
import { ref, computed } from "vue";
import {
  PlusIcon,
  SearchIcon,
  XIcon,
  TrashIcon,
  EyeIcon,
  PencilIcon,
  DotsHorizontalIcon,
  ChevronDownIcon,
  ExclamationIcon,
} from "@heroicons/vue/outline";
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";

import {
  format,
  formatDistanceToNowStrict,
  parseISO,
  compareAsc,
  compareDesc,
} from "date-fns";

import { useRouter } from "vue-router";
import Notify from "@/use/notify";
import useErrorParser from "@/use/errorParser";
import i18n from "@/plugins/i18n";
import get_users from "@/composables/users/users/users";

const t = i18n.global.t;

const { notify } = Notify();
const { parse } = useErrorParser();
const router = useRouter();

const headers = [
  {
    text: "Full Name",
    value: "name",
  },
  {
    text: "Email",
    value: "email",
  },
  {
    text: "Created At",
    value: "created_at",
  },
  {
    text: "Updated At",
    value: "updated_at",
  },
  {
    text: "Action",
    value: "actions",
  },
];

const users = ref([]);
const user = ref({});

const offset = ref(0);
const limit = ref(15);
const length = ref(0);
const type = ref(undefined);
const search = ref("");
const sort = ref([{ name: "desc" }]);
const confirmOpen = ref(false);

const where = computed(() => {
  return {
    name: {
      _ilike:
        search.value && search.value !== "" ? `%${search.value}%` : undefined,
    },
  };
});

const { onResult, onError, loading, refetch } = get_users(offset, limit, where);

const viewUser = (itm) => {
  router.push({ name: "app-users-id", params: { id: itm.id } });
};

onResult(({ data }) => {
  if (data) {
    users.value = data.users || [];
    length.value = data.length;
  }
});

onError((err) => {
  notify(parse(err));
});
</script>
<template>
  <div class="flex justify-between p-6 m-6 rounded-md">
    <div class="mt-1 md:w-96">
      <h-text-field
        v-model="search"
        name="search"
        support-class="rounded-3xl"
        :trailing-icon="SearchIcon"
        placeholder="Search"
        placeholder-style="text-gray-500"
      ></h-text-field>
    </div>
    <div>
      <button
        @click="router.push({ name: 'app-users-insert' })"
        class="
          flex
          bg-primary
          hover:opacity-80
          p-3
          text-white
          rounded-md
          shadow-md
        "
      >
        <PlusIcon class="h-5 w-5 mt-0.5 mr-2" />
        <span class="text-md font-bold font-body">New User</span>
      </button>
    </div>
  </div>
  <div class="p-6">
    <v-table
      :headers="headers"
      :items="users"
      :loading="loading"
      v-model:sort="sort"
    >
      <template v-slot:created_at="{ item }">
        {{
          formatDistanceToNowStrict(new Date(item.created_at), {
            addSuffix: true,
          })
        }}
      </template>
      <template v-slot:updated_at="{ item }">
        {{
          formatDistanceToNowStrict(new Date(item.updated_at), {
            addSuffix: true,
          })
        }}
      </template>
      <template v-slot:actions="{ item }">
        <div class="ml-2">
          <Menu as="div" class="relative inline-block text-left">
            <div>
              <MenuButton>
                <DotsHorizontalIcon
                  class="w-6 h-6 mx-auto hover:text-primary z-10"
                  aria-hidden="true"
                />
              </MenuButton>
              <transition
                enter-active-class="transition duration-100 ease-out"
                enter-from-class="transform scale-95 opacity-0"
                enter-to-class="transform scale-100 opacity-100"
                leave-active-class="transition duration-75 ease-in"
                leave-from-class="transform scale-100 opacity-100"
                leave-to-class="transform scale-95 opacity-0"
              >
                <MenuItems
                  class="
                    absolute
                    right-0
                    w-56
                    mt-2
                    origin-top-right
                    bg-white
                    dark:bg-tertiary-dark
                    divide-y divide-gray-100
                    rounded-md
                    shadow-lg
                    ring-1 ring-primary ring-opacity-5
                    focus:outline-none
                    z-10
                  "
                >
                  <div class="px-1 py-1 z-10">
                    <MenuItem v-slot="{ active }" class="z-10">
                      <a
                        :class="[
                          active
                            ? 'hover:bg-primary text-white'
                            : 'text-secondary-8',
                          'group flex rounded-md items-center w-full px-3 font-body py-2 text-sm',
                        ]"
                        @click="viewUser(item)"
                      >
                        <EyeIcon class="w-5 h-5 mr-5" />
                        View
                      </a>
                    </MenuItem>
                  </div>
                </MenuItems>
              </transition>
            </div>
          </Menu>
        </div>
      </template>
    </v-table>
    <div class="text-white">
      <paginate
        v-model:offset="offset"
        :items-per-page="limit"
        :total-data="length"
        class=""
      >
      </paginate>
    </div>
  </div>
</template>
<route lang="yaml">
meta:
  layout: app
</route>
