<script setup>
import { ref, watchEffect, reactive, computed } from "vue";
import { useForm } from "vee-validate";
import { useRouter } from "vue-router";
import { SelectorIcon, CollectionIcon } from "@heroicons/vue/outline";
import {
  ArrowNarrowRightIcon,
  ArrowNarrowLeftIcon,
  ArrowNarrowDownIcon,
  SearchIcon,
  ChevronDownIcon,
  CheckIcon,
} from "@heroicons/vue/solid";

import {
  Listbox,
  ListboxLabel,
  ListboxButton,
  ListboxOptions,
  ListboxOption,
  Switch,
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
  DialogDescription,
} from "@headlessui/vue";

const category = [
  "TECHNOLOGY",
  "SCIENCE",
  "MEDICINE",
  "LAW",
  "ECONOMY",
  "POLITICS",
];
const item = reactive({ enabled: false, category: category[0] });
const isPublish = ref(false);

const router = useRouter();

const modelValue = ref({});

const { handleSubmit } = useForm({});

const submit = handleSubmit(async (values) => {
  publishBlog();
});

function preview() {
  router.push({
    name: "app-io-blogs-blogPost-id-preview",
    params: { id: "1" },
    hash: "#draft",
  });
}

function saveDraft() {
  router.push({
    name: "app-io-blogs-blogPost",
    hash: "#draft",
  });
}

function closePublish(val) {
  isPublish.value = false;
  if (val) {
    router.push({
      name: "app-io-blogs-blogPost",
      hash: "#published",
    });
  }
}

function publishBlog() {
  isPublish.value = true;
}
</script>
<template>
  <!-- <div class="flex flex-1 flex-col pl-[162px] pr-[84px]"> -->

  <form
    form
    @submit.prevent="submit"
    class="absolute flex w-full flex-col items-center px-10"
  >
    <div
      class="sticky top-0 z-20 flex w-full justify-end space-x-4 bg-secondary-1 py-5"
    >
      <button
        @click="saveDraft"
        class="rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
      >
        Save
      </button>
      <button
        @click="preview"
        class="rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
      >
        Preview
      </button>
      <button
        class="rounded border-[1px] border-primary bg-primary px-[11px] py-2 text-xs font-medium leading-4 text-white hover:bg-primary-lite hover:text-black"
      >
        Publish
      </button>
    </div>

    <div class="mt-5 mb-5 flex w-full rounded-2xl bg-secondary-3 px-10">
      <div class="flex w-full flex-col">
        <h-text-field-2
          v-model="item.title"
          rules="required"
          type="text"
          name="title"
          placeholder="Title..."
          placeholderStyle="text-HahuGray2"
          class="w-7/12 shadow-none"
          ><template v-slot:label>
            <div
              class="mt-10 mb-5 text-lg font-medium leading-6 text-gray-800 dark:text-white"
            >
              Title
            </div>
          </template></h-text-field-2
        >

        <div class="mt-10 flex flex-col">
          <div class="mr-10 flex items-center gap-x-10">
            <CollectionIcon class="w-6 text-primary font-bold" />
            <h1 class="font-semibold text-black">Category</h1>
          </div>
          <div class="mt-5 w-60 rounded-lg border-2 border-primary">
            <Listbox v-model="item.category">
              <div class="relative">
                <ListboxButton
                  class="relative flex w-full cursor-default justify-center rounded-lg bg-white py-2 pl-4 pr-10 text-left text-xs font-semibold leading-6 text-white shadow-md focus:outline-none focus-visible:border-Hahugreen/3 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-Hahugreen/3 sm:text-sm"
                >
                  <span class="block truncate text-black">{{
                    item.category
                  }}</span>
                  <span
                    class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-4"
                  >
                    <ChevronDownIcon
                      class="h-5 w-5 text-primary"
                      aria-hidden="true"
                    />
                  </span>
                </ListboxButton>

                <transition
                  leave-active-class="transition duration-100 ease-in"
                  leave-from-class="opacity-100"
                  leave-to-class="opacity-0"
                >
                  <ListboxOptions
                    class="absolute z-50 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
                  >
                    <ListboxOption
                      v-slot="{ active, selected }"
                      v-for="cat in category"
                      :key="cat"
                      :value="cat"
                      as="template"
                    >
                      <li
                        :class="[
                          active
                            ? 'bg-primary-lite text-white'
                            : 'text-gray-900',
                          'relative cursor-default select-none py-2 pl-10 pr-4',
                        ]"
                      >
                        <span
                          :class="[
                            selected ? 'font-medium' : 'font-normal',
                            'block truncate',
                          ]"
                          >{{ cat }}</span
                        >
                        <span
                          v-if="selected"
                          class="absolute inset-y-0 left-0 flex items-center pl-3 text-primary"
                        >
                          <CheckIcon class="h-5 w-5" aria-hidden="true" />
                        </span>
                      </li>
                    </ListboxOption>
                  </ListboxOptions>
                </transition>
              </div>
            </Listbox>
          </div>
        </div>
        <div class="mt-[52px] flex items-center">
          <h4 class="mr-6 text-lg font-normal leading-6 text-black">
            Show on home
          </h4>
          <Switch
            v-model="item.enabled"
            :class="item.enabled ? 'bg-primary-lite' : 'bg-gray-400'"
            class="relative inline-flex h-[28px] w-[64px] shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75"
          >
            <span class="sr-only"></span>
            <span
              aria-hidden="true"
              :class="item.enabled ? 'translate-x-9' : 'translate-x-0'"
              class="pointer-events-none inline-block h-[24px] w-[24px] transform rounded-full bg-white shadow-lg ring-0 transition duration-200 ease-in-out"
            />
          </Switch>
        </div>
        <!-- <h3 class="mt-[34px] text-lg font-medium leading-6 text-black">
          Intro
        </h3> -->
        <h-text-area-2
          v-model="item.intro"
          rules="required"
          inputClass="bg-transparent border-[1px] border-HahuGray3 text-black py-7 px-10 text-lg font-light leading-[30px]"
          placeholder="Write short intro about the blog with less than 240 words"
          name="intro"
          labelClass=""
          label="Intro"
        >
          <template v-slot:label>
            <div class="my-8 text-lg font-bold leading-6 text-black mt-5">
              Intro
            </div>
          </template>
        </h-text-area-2>
        <h4 class="my-8 text-lg font-medium leading-5 text-black">
          Cover Photo
        </h4>
        <div class="mt-2 rounded bg-white">
          <h-file-upload
            v-model="item.upload"
            rules="required"
            name="upload"
            fileTypes=".png, .jpg, .webp"
            :modelValue="modelValue"
            class="border-1 border-primary bg-white"
          />
        </div>
        <h-editor
          name="editor"
          v-model="item.editor"
          rules="required"
          class="mt-9 mb-20 bg-white px-10"
        />
      </div>
      <TransitionRoot appear :show="isPublish" as="template">
        <Dialog as="div" @close="closePublish" class="relative z-10">
          <TransitionChild
            as="template"
            enter="duration-300 ease-out"
            enter-from="opacity-0"
            enter-to="opacity-100"
            leave="duration-200 ease-in"
            leave-from="opacity-100"
            leave-to="opacity-0"
          >
            <div class="fixed inset-0 bg-black bg-opacity-25" />
          </TransitionChild>

          <div class="fixed inset-0 overflow-y-auto">
            <div
              class="flex min-h-full items-center justify-center p-4 text-center"
            >
              <TransitionChild
                as="template"
                enter="duration-300 ease-out"
                enter-from="opacity-0 scale-95"
                enter-to="opacity-100 scale-100"
                leave="duration-200 ease-in"
                leave-from="opacity-100 scale-100"
                leave-to="opacity-0 scale-95"
              >
                <DialogPanel
                  class="w-full transform overflow-hidden rounded-2xl bg-white p-6 px-[74px] text-left align-middle shadow-xl transition-all md:max-w-md lg:max-w-lg xl:max-w-xl"
                >
                  <DialogTitle
                    as="h3"
                    class="mt-10 text-2xl font-medium leading-6 text-gray-900"
                  >
                    Are you sure?
                  </DialogTitle>
                  <div class="mt-14">
                    <p class="text-xl font-normal leading-4 text-HahuGray1">
                      Are you sure you want to
                      <span class="text-primary">Publish</span> this Blog?
                    </p>
                  </div>

                  <div class="mt-14 flex justify-center gap-x-20">
                    <button
                      type="button"
                      class="rounded border-2 border-Hahugreen/3 px-[21px] py-[7px] text-xs font-medium leading-4 text-HahuGray1 hover:bg-Hahugreen/3"
                      @click="closePublish(false)"
                    >
                      No
                    </button>
                    <button
                      type="button"
                      class="rounded bg-primary px-[21px] py-[7px] text-xs font-medium leading-4 text-white hover:bg-Hahugreen/3 hover:text-primary"
                      @click="closePublish(true)"
                    >
                      Yes
                    </button>
                  </div>
                </DialogPanel>
              </TransitionChild>
            </div>
          </div>
        </Dialog>
      </TransitionRoot>
    </div>
  </form>
</template>
