<script setup>
import {
  onMounted,
  computed,
  onUpdated,
  ref,
  watchEffect,
  reactive,
} from "vue";
import {
  ArrowNarrowRightIcon,
  ArrowNarrowLeftIcon,
  ArrowNarrowDownIcon,
  SearchIcon,
  ChevronDownIcon,
  PlusIcon,
  XIcon,
  CheckIcon,
  SelectorIcon,
  CheckCircleIcon,
  ExclamationCircleIcon,
} from "@heroicons/vue/solid";
import {
  Listbox,
  ListboxLabel,
  ListboxButton,
  ListboxOptions,
  ListboxOption,
  Switch,
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
  DialogDescription,
  Combobox,
  ComboboxInput,
  ComboboxOptions,
  ComboboxOption,
  ComboboxButton,
  Popover,
  PopoverButton,
  PopoverPanel,
} from "@headlessui/vue";
import { useForm } from "vee-validate";

const position = [
  { id: 1, name: "UI/UX Designer" },
  { id: 2, name: "Back End Developer" },
  { id: 3, name: "Dev Ops" },
  { id: 4, name: "Graphics Designer" },
  { id: 5, name: "Front End Developer" },
  { id: 6, name: "Accountant" },
  { id: 7, name: "Attorney" },
];

const project = reactive([
  { name: "HaHu Jobs", select: false },
  { name: "EMDMS", select: false },
  { name: "HaHu TVET", select: false },
  { name: "MD5", select: false },
  { name: "HPR Employee Managment", select: false },
]);

const links = ["Facebook", "LinkedIn", "Twitter", "GitHub", "Email"];

const value = ref(true);
const showselect = ref(links[0]);
const status = ref(true);
const isSocial = ref(false);
const isProject = ref(false);
let selectedPosition = ref(position[0]);
let queryPosition = ref("");
let selectedProject = ref(project[0]);
const scrollComponent = ref(null);
const item = reactive({ status: false, showselect: links[0] });
const selectedPhone = ref(256);
const selectedLink = ref(links[1]);
const { handleSubmit } = useForm({});

const submit = handleSubmit(async (values) => {
  // console.log("printing out value", item);
});

const comboValue = (val) => {};
let filteredPosition = computed(() =>
  queryPosition.value === ""
    ? position
    : position.filter((p) =>
        p.name
          .toLowerCase()
          .replace(/\s+/g, "")
          .includes(queryPosition.value.toLowerCase().replace(/\s+/g, ""))
      )
);

const projSelector = (id) => {
  project[id].select = !project[id].select;
  item.projects = project.filter((pro) => pro.select === true);
};
function closeSocial() {
  isSocial.value = false;
}
function closeProject() {
  isProject.value = false;
}
function addSocial() {
  isSocial.value = true;
}
function addProject() {
  isProject.value = true;
}
</script>
<template>
  <!-- <div class="flex flex-1 flex-col pl-[162px] pr-[84px]"> -->
  <form
    @submit.prevent="submit"
    class="mx-4 mt-20 mb-5 flex flex-1 flex-col items-center rounded-2xl bg-white py-9 px-14 lg:mx-8 xl:mx-14 2xl:mx-[72px]"
  >
    <div
      class="fixed top-20 z-20 flex w-dscreen justify-between bg-secondary-1 px-20 py-5"
    >
      <button
        class="rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
      >
        Save
      </button>
      <button
        class="rounded border-[1px] border-primary bg-primary px-[11px] py-2 text-xs font-medium leading-4 text-white hover:bg-primary-lite hover:text-black"
      >
        Add
      </button>
    </div>
    <div class="bg-white w-full">
      <!-- ================== ROW 1 ========================= -->
      <div class="grid grid-cols-2 place-items-center">
        <div class="w-9/12">
          <h-text-field-2
            id="name"
            v-model="item.fullName"
            rules="required"
            name="name"
            class="mt-5"
          >
            <template v-slot:label>
              <label
                for="title"
                class="text-xl font-normal leading-6 text-black"
                >Full Name</label
              >
            </template>
          </h-text-field-2>
        </div>
        <div class="w-9/12 flex items-center gap-x-5 mt-5">
          <label class="text-xl font-normal leading-[35px] text-black"
            >Status</label
          >
          <Switch
            v-model="item.status"
            :class="
              item.status
                ? 'bg-gray-white border-[1px] border-HahuGray4'
                : 'border-[1px] border-HahuGray4 bg-white'
            "
            class="relative inline-flex h-9 w-24 items-center rounded-full"
          >
            <span class="sr-only">Enable notifications</span>
            <span
              class="absolute left-2 text-sm font-bold leading-4 text-red-500"
              :class="!item.status ? 'block' : 'hidden'"
              >Inactive</span
            >
            <span
              class="flex w-full items-center justify-between"
              :class="!item.status ? 'translate-x-[62px]' : 'translate-x-1'"
            >
              <div class="rounded-full">
                <CheckCircleIcon
                  class="h-9 w-9 fill-primary pr-1 text-primary"
                  :class="item.status ? 'block' : 'hidden'"
                />
                <ExclamationCircleIcon
                  class="h-9 w-9 shrink-0 text-red-500 pr-1"
                  :class="!item.status ? 'block' : 'hidden'"
                />
              </div>
              <span
                class="pr-5 text-sm font-bold leading-4 text-primary"
                :class="item.status ? 'block' : 'hidden'"
                >Active</span
              >
            </span>
          </Switch>
        </div>
      </div>
      <!-- =================== ROW 2 ========================= -->
      <div class="grid grid-cols-2 place-items-center">
        <div class="w-9/12 mt-10">
          <h-select
            name="position"
            label="Position"
            rules="required"
            v-model="item.position"
            labelClass="mb-5 text-xl font-normal  text-black"
            :items="position"
            :trailingIcon="ChevronDownIcon"
          />
        </div>

        <div class="w-9/12 mt-10">
          <!-- ======================================================= -->
          <!-- <span
            class="w-16 mt-5 flex items-center justify-center self-center bg-secondary-1 px-2 h-[42px] text-xl rounded-l-lg"
          >
            <Popover class="relative">
              <PopoverButton class="border-none outline-none">{{
                selectedPhone
              }}</PopoverButton>

              <PopoverPanel
                class="absolute z-10 h-40 overflow-y-scroll cursor-pointer -right-4 w-[66px]"
              >
                <div class="flex flex-col bg-secondary-1 pl-1">
                  <div
                    v-for="i in 999"
                    class="hover:bg-secondary-1"
                    @click="selectedPhone = i"
                  >
                    + {{ i }}
                  </div>
                </div>
              </PopoverPanel>
            </Popover>
          </span> -->

          <h-text-field-2
            id="phone"
            v-model.name="item.phone"
            rules="required|International_phone_number"
            name="phone"
            class="mt-5"
            placeholder="+251. . ."
          >
            <template v-slot:label>
              <label for="title" class="text-xl font-normal text-black"
                >Phone Number</label
              >
            </template>
          </h-text-field-2>
        </div>
      </div>
      <!-- ======================== ROW 3 ======================= -->
      <div class="grid grid-cols-2 place-items-center">
        <div class="w-9/12">
          <div class="flex items-center space-x-10">
            <label class="mt-12 text-xl font-normal leading-6 text-black">
              Projects
            </label>
            <button
              class="flex items-center self-end rounded-full bg-primary py-1 px-3 text-white"
              type="button"
              @click="addProject"
            >
              <PlusIcon class="mr-2 h-5 w-5 text-white" />
              Add
            </button>
          </div>
        </div>
        <div class="w-9/12">
          <h-text-field-2
            id="email"
            v-model="item.email"
            rules="required|email"
            name="email"
            class="mt-5"
          >
            <template v-slot:label>
              <label
                for="title"
                class="text-xl font-normal leading-6 text-black"
                >Email</label
              >
            </template>
          </h-text-field-2>
        </div>
        <div></div>
      </div>
      <!-- ======================== ROW 4 ======================= -->
      <div class="grid grid-cols-2 place-items-center">
        <div class="w-9/12 mt-10 space-y-5">
          <label class="text-xl font-normal text-black"> Photo </label>
          <h-file-upload class="border-1 border-primary bg-white" />
        </div>
        <div class="w-9/12">
          <label class="mt-12 text-xl font-normal leading-6 text-black">
            Social Media
          </label>
          <button
            class="mt-[34px] flex items-center self-start rounded-full bg-primary py-[6px] px-[11px] text-white"
            type="button"
            @click="addSocial"
          >
            <PlusIcon class="mr-[14px] h-5 w-5 text-white" />
            Add Social Media
          </button>
        </div>
      </div>
      <!-- ======================= ROW 5 ======================== -->
      <div class="flex justify-center">
        <div class="w-11/12 mt-10">
          <h-text-area
            id="summary"
            name="summary"
            v-model="item.summary"
            rules="required"
            label="Summary"
            labelClass="mt-5 mb-5 text-xl font-normal leading-6 text-black"
            placeholder="Write short intro about the blog with less than 240 words"
            placeholderStyle="text-black"
          >
            <template v-slot:label>
              <div class="mt-5 mb-5 text-xl font-normal leading-6 text-black">
                Summary
              </div>
            </template>
          </h-text-area>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="w-11/12 mt-10">
          <label
            for="summary"
            class="mt-5 mb-5 text-xl font-normal leading-6 text-black"
            >Description</label
          >
          <h-editor
            name="editor"
            rules="required"
            v-model="item.editor"
            class="mt-9 mb-10 bg-white px-10"
          />
        </div>
      </div>
    </div>

    <TransitionRoot appear :show="isSocial" as="template">
      <Dialog as="div" @close="closeSocial" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full transform overflow-hidden rounded-2xl bg-white p-6 px-[74px] text-left align-middle shadow-xl transition-all md:max-w-md lg:max-w-lg xl:max-w-xl"
              >
                <DialogTitle
                  as="h3"
                  class="mt-[38px] flex justify-between text-lg font-medium leading-6 text-gray-900"
                >
                  Social Media
                  <XIcon
                    @click="closeSocial"
                    class="h-5 w-5 cursor-pointer text-HahuGray2"
                  />
                </DialogTitle>
                <div class="mt-14">
                  <div class="w-9/12 mt-10 flex relative">
                    <!-- ======================================================= -->

                    <select
                      v-model="item.showselect"
                      id="Domain"
                      name="domain"
                      autocomplete="Domain"
                      class="border-1 self-start rounded-l-md border border-r-0 border-gray-300 bg-gray-200 px-2 py-1.5 pr-8 text-lg hover:border-primary focus:border-primary focus:ring-primary"
                    >
                      <option v-for="cat in links">{{ cat }}</option>
                    </select>
                    <div class="flex items-center self-center">
                      <h-text-field-2
                        id="social"
                        v-model.name="item.phone"
                        rules="required"
                        name="social"
                        class="self-center rounded-none rounded-r-lg"
                        placeholder="Https://. . . "
                      >
                      </h-text-field-2>
                    </div>
                  </div>
                </div>

                <div class="my-12 mt-[53px] flex justify-end space-x-[50px]">
                  <button
                    type="button"
                    class="rounded border-2 border-Hahugreen/3 px-[21px] py-[7px] text-xs font-medium leading-4 text-HahuGray1"
                    @click="closeSocial"
                  >
                    Cancel
                  </button>
                  <button
                    type="button"
                    class="rounded bg-primary px-[21px] py-[7px] text-xs font-medium leading-4 text-white"
                    @click="closeSocial"
                  >
                    Save
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
    <TransitionRoot appear :show="isProject" as="template">
      <Dialog as="div" @close="closeProject" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full transform overflow-hidden rounded-2xl bg-white p-6 px-[74px] text-left align-middle shadow-xl transition-all md:max-w-md lg:max-w-lg xl:max-w-xl"
              >
                <DialogTitle
                  as="h3"
                  class="mt-[38px] flex justify-between text-lg font-medium leading-6 text-gray-900"
                >
                  Projects
                  <XIcon
                    @click="closeProject"
                    class="h-5 w-5 cursor-pointer text-HahuGray2"
                  />
                </DialogTitle>
                <div class="mt-5">
                  <h-text-field-2
                    name="searchProject"
                    :trailingIcon="SearchIcon"
                    class="mt-10 border-none bg-HaHuGreen/4"
                    placeholder="Search"
                  />
                  <p
                    v-for="(proj, i) in project"
                    class="flex justify-between border-b-[1px] border-HahuGray4 border-opacity-40 py-2"
                    @click="projSelector(i)"
                    :key="i"
                  >
                    {{ proj.name }}
                    <CheckCircleIcon
                      :class="proj.select ? 'visible' : 'invisible'"
                      class="h-5 w-5 text-primary"
                    />
                  </p>
                </div>
                <div class="my-12 mt-[53px] flex justify-end space-x-[50px]">
                  <button
                    type="button"
                    class="rounded border-2 border-Hahugreen/3 px-[21px] py-[7px] text-xs font-medium leading-4 text-HahuGray1"
                    @click="closeProject"
                  >
                    Cancel
                  </button>
                  <button
                    class="rounded bg-primary px-[21px] py-[7px] text-xs font-medium leading-4 text-white"
                    @click="closeProject"
                  >
                    Save
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </form>
</template>
