<script setup>
import { useRoute } from "vue-router";
import { watchEffect } from "vue";
import { computed } from "@vue/reactivity";
import { PencilAltIcon, BanIcon } from "@heroicons/vue/solid";
import activeDot from "@/assets/dotActive.svg?url";
import inactiveDot from "@/assets/dotInactive.svg?url";

const props = defineProps({
  item: {
    type: Object,
    default: () => ({}),
  },
});

const route = useRoute();
const emit = defineEmits(["navigate"]);
const navigate = () => {
  emit("navigate", props.item);
};
</script>

<template>
  <div
    @click="navigate(item)"
    class="flex min-w-[425px] cursor-pointer rounded bg-white hover:bg-Hahugreen/3"
    :class="item.selected ? 'bg-Hahugreen/3' : 'bg-white'"
  >
    <img :src="item.img" class="object-contain py-4 px-5" />
    <div class="ml-[14px] flex w-full pr-4">
      <div class="flex flex-col justify-center space-y-5">
        <h3 class="text-lg font-medium leading-6">
          {{ item.name }}
        </h3>
        <h2 class="text-sm font-medium leading-[18px] text-HahuGray2">
          {{ item.position }}
        </h2>
      </div>

      <div class="ml-16 flex items-center justify-between">
        <h3
          class="mt-4 self-start rounded-full bg-primary-lite px-3 text-xs font-medium leading-[18px] text-primary"
        >
          {{ item.catg }}
        </h3>
        <div
          class="flex items-center space-x-2"
          :class="item.route.hash == '#active' ? 'block' : 'hidden'"
        >
          <img :src="activeDot" class="object-contain" />
          <h3 class="self-end text-sm font-normal leading-6 text-primary">
            Active
          </h3>
        </div>
        <div
          class="flex items-center space-x-2"
          :class="item.route.hash == '#inactive' ? 'block' : 'hidden'"
        >
          <img :src="inactiveDot" class="object-contain" />
          <h3 class="self-end text-sm font-normal leading-6 text-red-500">
            Inactive
          </h3>
        </div>
      </div>
    </div>
  </div>
</template>
