<script setup>
import { computed, ref } from "@vue/reactivity";
import { useRoute } from "vue-router";
import { SearchIcon } from "@heroicons/vue/solid";
import { watchEffect } from "vue";

const props = defineProps({
  items: {
    type: Array,
    default: () => [],
    required: true,
  },
  defaultItem: {
    type: Number,
    default: 0,
  },
  selected: {
    type: String,
    default: "",
  },
  role: String,
  path: String,
});

const route = useRoute();
const current = computed(() => {
  return route.hash || props.items[props.defaultItem]?.to?.hash;
});

const currentTab = computed(() => {
  return props.items.reduce((res, item) => {
    if (item.to.hash === current.value) {
      return item;
    }
    return res;
  }, {});
});

const incomingData = ref([
  {
    id: "1",
    img: "/images/staff.png",
    name: "Staff Name",
    position: "Work Position",
    activity: "active",
  },
  {
    id: "2",
    img: "/images/staff.png",
    name: "Staff Name",
    position: "Work Position",
    activity: "active",
  },
  {
    id: "3",
    img: "/images/staff.png",
    name: "Staff Name",
    position: "Work Position",
    activity: "active",
  },
  {
    id: "4",
    img: "/images/staff.png",
    name: "Staff Name",
    position: "Work Position",
    activity: "active",
  },
  {
    id: "5",
    img: "/images/staff.png",
    name: "Staff Name",
    position: "Work Position",
    activity: "active",
  },
]);

const items = computed(() => {
  return incomingData.value.map((item) => {
    return {
      selected: item.id === props.selected,
      ...item,
      route: {
        name: `${props.path}-id-${current.value?.replace("#", "")}`,
        hash: current.value,
        params: { id: item.id },
      },
    };
  });
});

// console.log("items prop value", props.items);

const tabs = computed(() => {
  return props.items.map((tab) => {
    return {
      ...tab,
      current: current.value == tab?.to?.hash,
    };
  });
});
</script>

<template>
  <aside class="flex h-dscreen">
    <div
      class="sticky top-0 flex flex-col overflow-y-auto pl-5 shadow-[5px_0px_20px_-15px_rgba(0,0,0,0.4)]"
    >
      <h2 class="mt-6 text-2xl font-medium leading-6 text-black">
        Staff Dashboard
      </h2>
      <div class="mt-9 pr-3">
        <h-text-field
          name="search"
          inputClass="px-5 py-4 font-normal leading-6 text-HahuGray2"
          placeholder="Search"
          :trailingIcon="SearchIcon"
        />
      </div>

      <div class="flex pr-3">
        <nav class="flex w-full justify-around" aria-label="Tabs">
          <router-link
            v-for="tab in tabs"
            :key="tab.name"
            class="border-b-2 py-1 px-1 text-center text-base font-medium hover:border-gray-300 hover:text-gray-700"
            :class="tab.current ? 'border-b-4 border-primary text-primary' : ''"
            :to="tab.to"
          >
            {{ tab.name }}
          </router-link>
        </nav>
      </div>

      <div
        class="mt-5 mb-5 flex flex-col space-y-5 pr-3"
        v-if="items && items.length"
      >
        <template v-for="item in items">
          <slot name="card" :item="item"></slot>
        </template>
      </div>
    </div>
  </aside>
</template>
