<script setup>
import { reactive, computed, ref } from "vue";
import { useForm } from "vee-validate";
import { useRouter } from "vue-router";
import useNotify from "@/use/notify";
import useErrorParser from "@/use/errorParser";
import useLogin from "@/use/login";
import { EyeIcon, DotsCircleHorizontalIcon } from "@heroicons/vue/solid";
import useUser from "@/use/user";

import hahu from "@/assets/Hahu_logo.png";

const { notify } = useNotify();

const { parse } = useErrorParser();

const router = useRouter();

const item = reactive({});
// const loading = ref(false);

const computedItem = computed(() => {
  return {
    username: item.username && item.username.toLowerCase().trim(),
    password: item.password,
  };
});

const { login, onResult, loading, onError } = useLogin(computedItem);

onResult((res) => {
  router.push({ name: "common-login-resolver" });
});

const { handleSubmit } = useForm({});
const submit = handleSubmit(async (values) => {
  // login();
  router.push({ name: "app" });
});
</script>
<template>
  <div class="bg-secondary-4 dark:bg-tertiary-dark font-body overflow-x-hidden">
    <div class="justify-center flex py-20">
      <img src="/images/hahu_logo_150.png" class="object-contain w-72 h-32" />
    </div>
    <div class="flex w-screen flex-wrap justify-center">
      <div class="w-11/12 max-w-xl">
        <div
          class="shadow-lg bg-white dark:bg-secondary-dark rounded-xl lg:pt-3 lg:px-12 lg:pb-8 p-8"
        >
          <div
            class="text-black dark:text-white text-2xl font-bold text-center mt-3 pb-2"
          >
            {{ $t("sign_in") }}
          </div>
          <form @submit.prevent="submit" class="mt-7">
            <div class="my-2">
              <h-text-field
                v-model="item.username"
                rules="required|email"
                type="text"
                name="Username"
              >
                <template v-slot:label>
                  <div
                    class="text-black dark:text-white font-body text-lg mb-2"
                  >
                    {{ $t("email") }}
                  </div>
                </template></h-text-field
              >
            </div>
            <div class="lg:my-2">
              <h-text-field
                v-model="item.password"
                rules="required"
                type="password"
                name="Password"
                :trailingIcon="() => EyeIcon()"
              >
                <template v-slot:label>
                  <div
                    class="text-black dark:text-white font-body text-lg mb-2"
                  >
                    {{ $t("password") }}
                  </div>
                </template></h-text-field
              >
            </div>
            <div class="mt-1 relative rounded-md shadow-sm"></div>
            <div class="mt-4 flex justify-end text-primary font-bold">
              <router-link :to="{ name: 'app' }"
                >{{ $t("forgot_your_password") }}?</router-link
              >
            </div>
            <div class="mt-4 lg:mt-8 flex justify-center">
              <h-button
                :loading="loading"
                class="btn-xl btn-primary w-full mb-3"
              >
                {{ $t("sign_in") }}</h-button
              >
            </div>
          </form>
        </div>
      </div>
      <div
        class="2xl:w-5/6 xl:w-11/12 w-full mt-24 xl:mb-16 mb-32 flex justify-center flex-wrap gap-10 xl:px-10 2xl:gap-10 space-x-5 items-center pb-10"
      >
        <div>
          <img :src="hahu" class="object-contain w-9/12" />
        </div>
      </div>
    </div>
  </div>
</template>
<route lang="yaml">
meta:
  layout: empty
</route>
