<script setup>
import { ref } from "vue";
import { CollectionIcon, ClipboardCheckIcon } from "@heroicons/vue/outline";
import { useRoute, useRouter } from "vue-router";

const router = useRouter();
const route = useRoute();

const navigate = (item) => {
  router.push(item.route);
};

const refresh = (item) => {
  refetch();
  router.push({
    name: `app-io-staffs-staffMembers`,
    params: {},
    hash: "#active",
  });
};

const tabs = ref([
  {
    name: "Active",
    to: {
      name: "app-io-staffs-staffMembers",
      params: { id: "active" },
      hash: "#active",
    },
  },
  {
    name: "Inactive",
    to: {
      name: "app-io-staffs-staffMembers",
      params: { id: "inactive" },
      hash: "#inactive",
    },
  },
]);
</script>

<template>
  <div class="flex w-full">
    <staff-list
      :items="tabs"
      :selected="route.params?.id"
      path="app-io-staffs-staffMembers"
      class="sticky top-20"
    >
      <template v-slot:card="{ item }">
        <staff-list-card :item="{ ...item }" @navigate="navigate">
        </staff-list-card>
      </template>
    </staff-list>

    <main
      class="relative z-0 flex-1 overflow-y-auto focus:outline-none xl:order-last"
    >
      <div class="flex h-full flex-col">
        <router-view @refresh="refresh"></router-view>
      </div>
    </main>
  </div>
</template>

<style scoped></style>
