<script setup>
import { toRefs, ref, computed, watch } from "vue";
import { useForm } from "vee-validate";

import useErrorParser from "@/use/errorParser";
import Notify from "@/use/notify";
import { DotsCircleHorizontalIcon } from "@heroicons/vue/outline";
import { useRouter } from "vue-router";
import i18n from "@/plugins/i18n";

import assign_user_entity_roles from "@/composables/users/users/assign_roles.js";
import user_roles from "@/composables/users/roles/user_roles.js";

const t = i18n.global.t;
const router = useRouter();

const { notify } = Notify();
const { parse } = useErrorParser();

const { handleSubmit, handleReset } = useForm();

const user_entity_roles = ref({});
const loading = ref(false);
const enabled = ref(false);
const user_id = ref("");
const selected_user_roles = ref([]);

const { onResult, onError } = user_roles(user_id, enabled);

const {
  mutate,
  onDone,
  onError: onSaveError,
  loading: onSaveLoading,
} = assign_user_entity_roles();

const submit = handleSubmit(async () => {
  // console.log(user_entity_roles.value.roles);
  // console.log(selected_user_roles.value);

  const _objects = user_entity_roles.value.roles.map((role_id) => {
    return {
      role_id: role_id,
      user_id: user_entity_roles.value.user_id,
      entity_id: user_entity_roles.value.entity_id,
    };
  });
  mutate({ objects: _objects });
});

onDone(({ data }) => {
  handleReset();
  notify({
    title: t("roles_assigned"),
    description: t("roles_assigned_successfully"),
    cardClass: "bg-green-100",
  });
  router.back();
});

onSaveError((err) => {
  console.log(err.message);
  // notify(parse({

  // }));
});

const getUserRoles = (userId) => {
  user_id.value = userId;
  enabled.value = true;
};

onResult(({ data }) => {
  console.log(data);
  console.log(data.roles);

  selected_user_roles.value = data.roles.map((role) => {
    return role.role_id;
  });
  console.log(selected_user_roles.value);
});

const valid = computed(() => {
  if (
    user_entity_roles.value &&
    user_entity_roles.value.user_id &&
    user_entity_roles.value.entity_id &&
    user_entity_roles.value.roles.length
  ) {
    return true;
  }
  return false;
});
</script>

<template>
  <div class="xl:px-10 md:py-5 p-6 mt-5 font-body overflow-hidden items-center">
    <div class="w-full font-body justify-center items-center overflow-hidden">
      <div
        class="
          w-full
          lg:w-[90%]
          2xl:10/12
          sm:w-8/12
          mx-5
          shadow-md
          sm:mx-auto
          rounded-lg
          bg-white
          dark:bg-secondary-dark
          lg:mb-10
          items-center
        "
      >
        <div class="py-5 xl:px-8">
          <div
            class="
              font-bold
              text-xl
              xl:mx-20
              mx-10
              align-middle
              text-black
              dark:text-white
              mt-10
            "
          >
            {{ $t("new_user_entity") }}
          </div>
          <form @submit.prevent="submit">
            <div class="my-5 xl:mx-20 mx-10 items-center">
              <div class="mb-2 flex flex-wrap justify-between">
                <div class="flex md:flex-row flex-col gap-3 w-full">
                  <div class="lg:w-1/2 w-full">
                    <select-user
                      v-model="user_entity_roles.user_id"
                      @getUserRoles="getUserRoles"
                      name="User"
                      label="User"
                    ></select-user>
                  </div>
                  <div class="w-full lg:w-1/2">
                    <select-roles
                      v-model="user_entity_roles.roles"
                      v-model:data="selected_user_roles"
                    />
                  </div>
                </div>
                <div class="flex md:flex-row flex-col gap-3 w-full">
                  <div class="lg:w-1/2 w-full">
                    <select-entities
                      v-model="user_entity_roles.entity_id"
                      name="Entity"
                      label="Entity"
                    >
                    </select-entities>
                  </div>
                </div>
                <div class="mt-5 w-full flex justify-end gap-x-3">
                  <button
                    class="
                      px-10
                      items-center
                      inline-flex
                      justify-center
                      rounded-md
                      border border-gray-300
                      shadow-md
                      py-2
                      bg-white
                      text-base
                      font-medium
                      text-primary
                      dark:bg-tertiary-dark
                      dark:text-white
                      hover:bg-gray-50
                    "
                    type="button"
                    @click="
                      () => {
                        router.back();
                      }
                    "
                  >
                    Back
                  </button>
                  <button
                    class="
                      bg-primary
                      text-white
                      rounded-md
                      hover:bg-primary-dark
                      px-10
                      py-3
                      font-bold
                      shadow-md
                    "
                    :class="valid ? '': 'opacity-50 cursor-not-allowed'"
                    :disabled="!valid"
                  >
                    
                    <div v-if="loading" class="flex justify-center">
                      <DotsCircleHorizontalIcon
                        class="animate-spin h-5 w-5"
                      ></DotsCircleHorizontalIcon>
                    </div>
                    <span v-else>Save</span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<route lang="yaml">
meta:
  layout: app
</route>

