<script setup>
import { computed, ref } from "@vue/reactivity";
import { useRoute } from "vue-router";
import { SearchIcon, SelectorIcon, CheckIcon } from "@heroicons/vue/solid";
import { watchEffect } from "vue";

import {
  Listbox,
  ListboxLabel,
  ListboxButton,
  ListboxOptions,
  ListboxOption,
} from "@headlessui/vue";

const project = [
  { name: "All" },
  { name: "HaHu Jobs" },
  { name: "Industry Park" },
];
const selectedProject = ref(project[0]);

const props = defineProps({
  items: {
    type: Array,
    default: () => [],
    required: true,
  },
  defaultItem: {
    type: Number,
    default: 0,
  },
  selected: {
    type: String,
    default: "",
  },
  role: String,
  path: String,
});

const route = useRoute();
const current = computed(() => {
  return route.hash || props.items[props.defaultItem]?.to?.hash;
});

const currentTab = computed(() => {
  return props.items.reduce((res, item) => {
    if (item.to.hash === current.value) {
      return item;
    }
    return res;
  }, {});
});

const incomingData = ref([
  {
    id: "1",
    media: "/images/ReportImg1.png",
    xlimg: "/images/project-thumbnail.png",
    title: "ባሳለፍነው የፈረንጆች ወር ያወጣናቸ...",
    catg: "MONTHLY",
    date: "Feb 12, 2022",
    read: 25,
  },
  {
    id: "2",
    media: "/images/ReportImg2.png",
    xlimg: "/images/project-thumbnail.png",
    title: "ባሳለፍነው የፈረንጆች ወር ያወጣናቸ...",
    catg: "MONTHLY",
    date: "Feb 12, 2022",
    read: 25,
  },
  {
    id: "3",
    media: "/images/ReportImg3.png",
    xlimg: "/images/project-thumbnail.png",
    title: "ባሳለፍነው የፈረንጆች ወር ያወጣናቸ...",
    catg: "ANNUALLY",
    date: "Feb 12, 2022",
    read: 25,
  },
  {
    id: "4",
    media: "/images/ReportImg3.png",
    xlimg: "/images/project-thumbnail.png",
    title: "ባሳለፍነው የፈረንጆች ወር ያወጣናቸ...",
    catg: "ANNUALLY",
    date: "Feb 12, 2022",
    read: 25,
  },
  {
    id: "5",
    media: "/images/ReportImg3.png",
    xlimg: "/images/project-thumbnail.png",
    title: "ባሳለፍነው የፈረንጆች ወር ያወጣናቸ...",
    catg: "ANNUALLY",
    date: "Feb 12, 2022",
    read: 25,
  },
  {
    id: "6",
    media: "/images/ReportImg3.png",
    xlimg: "/images/project-thumbnail.png",
    title: "ባሳለፍነው የፈረንጆች ወር ያወጣናቸ...",
    catg: "ANNUALLY",
    date: "Feb 12, 2022",
    read: 25,
  },
]);

const items = computed(() => {
  return incomingData.value.map((item) => {
    return {
      selected: item.id === props.selected,
      ...item,
      route: {
        name: `${props.path}-id-${current.value?.replace("#", "")}`,
        hash: current.value,
        params: { id: item.id },
      },
    };
  });
});

const tabs = computed(() => {
  return props.items.map((tab) => {
    return {
      ...tab,
      current: current.value == tab?.to?.hash,
    };
  });
});
</script>

<template>
  <aside class="flex h-dscreen">
    <div
      class="sticky top-0 flex flex-col overflow-y-auto pl-[22px] shadow-[5px_0px_20px_-15px_rgba(0,0,0,0.4)]"
    >
      <div class="mt-9 pr-3 w-full flex">
        <h-text-field
          name="search"
          classprop=" py-4 font-normal leading-6 text-HahuGray2"
          class="rounded-none rounded-l-lg"
          placeholder="Search"
          :trailingIcon="SearchIcon"
        />
        <div class="w-36">
          <Listbox v-model="selectedProject">
            <div class="relative z-10">
              <ListboxButton
                class="relative flex h-[42px] w-full cursor-default border border-gray-300 justify-center rounded-r-lg bg-white py-2 pl-3 pr-10 text-left focus:outline-none focus-visible:border-primary focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-HaHuGreen/4 sm:text-sm"
              >
                <span class="block truncate">{{ selectedProject.name }}</span>
                <span
                  class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2"
                >
                  <SelectorIcon
                    class="h-5 w-5 text-gray-400"
                    aria-hidden="true"
                  />
                </span>
              </ListboxButton>

              <transition
                leave-active-class="transition duration-100 ease-in"
                leave-from-class="opacity-100"
                leave-to-class="opacity-0"
              >
                <ListboxOptions
                  class="absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
                >
                  <ListboxOption
                    v-slot="{ active, selected }"
                    v-for="pro in project"
                    :key="pro.name"
                    :value="pro"
                    as="template"
                  >
                    <li
                      :class="[
                        active ? 'bg-Hahugreen/3 text-black' : 'text-gray-900',
                        'relative cursor-default select-none py-2 pl-10 pr-4',
                      ]"
                    >
                      <span
                        :class="[
                          selected ? 'font-medium' : 'font-normal',
                          'block truncate',
                        ]"
                        >{{ pro.name }}</span
                      >
                      <span
                        v-if="selected"
                        class="absolute inset-y-0 left-0 flex items-center pl-3 text-HaHuGreen/2"
                      >
                        <CheckIcon class="h-5 w-5" aria-hidden="true" />
                      </span>
                    </li>
                  </ListboxOption>
                </ListboxOptions>
              </transition>
            </div>
          </Listbox>
        </div>
      </div>

      <div class="flex pr-3">
        <nav class="flex w-full justify-around" aria-label="Tabs">
          <router-link
            v-for="tab in tabs"
            :key="tab.name"
            class="border-b-2 py-1 px-1 text-center text-base font-medium hover:border-gray-300 hover:text-gray-700"
            :class="tab.current ? 'border-b-4 border-primary text-primary' : ''"
            :to="tab.to"
          >
            {{ tab.name }}
          </router-link>
        </nav>
      </div>

      <div
        class="mt-5 mb-5 flex flex-col space-y-5 pr-3"
        v-if="items && items.length"
      >
        <template v-for="item in items">
          <slot name="card" :item="item"></slot>
        </template>
        <!-- <div class="flex items-center">
          <hr class="w-full rounded-full border-b-4 border-primary" />
          <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span class="text-3xl font-black text-primary"> End </span
          ><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <hr class="w-full rounded-full border-b-4 border-primary" />
        </div> -->
      </div>
    </div>
  </aside>
</template>
