<script setup>
import { useRoute } from "vue-router";
import { watchEffect } from "vue";
import { computed } from "@vue/reactivity";
import { BanIcon, CalendarIcon, BookOpenIcon } from "@heroicons/vue/outline";
import { PencilAltIcon } from "@heroicons/vue/solid";

const props = defineProps({
  item: {
    type: Object,
    default: () => ({}),
  },
});

const route = useRoute();
const emit = defineEmits(["navigate"]);
const navigate = () => {
  emit("navigate", props.item);
};

const current = computed(() => {
  return route.hash;
});
</script>

<template>
  <div
    @click="navigate(item)"
    class="flex min-w-[425px] cursor-pointer rounded bg-white hover:bg-Hahugreen/3"
    :class="item.selected ? 'bg-Hahugreen/3' : 'bg-white'"
  >
    <div class="min-w-24 max-w-24">
      <img :src="item.media" class="mt-4 object-contain px-[18px]" />
    </div>
    <div class="mt-4 ml-[14px] flex flex-col pr-4">
      <h3 class="text-lg font-medium leading-6">
        {{ item.title }}
      </h3>
      <div class="flex items-center justify-between">
        <h3
          class="mt-4 self-start rounded-full bg-primary-lite px-3 text-xs font-medium leading-[18px] text-primary"
        >
          {{ item.catg }}
        </h3>
        <div
          class="flex items-end space-x-2 self-end"
          :class="current == '#unpublished' ? 'block' : 'hidden'"
        >
          <BanIcon class="h-5 w-5 text-primary" />
          <h3 class="self-end text-sm font-normal leading-6 text-primary">
            Unpublished
          </h3>
        </div>
        <div
          class="flex items-end space-x-2 self-end"
          :class="current == '#draft' ? 'block' : 'hidden'"
        >
          <PencilAltIcon class="h-5 w-5 text-primary" />
          <h3 class="self-end text-sm font-normal leading-6 text-primary">
            Draft
          </h3>
        </div>
      </div>

      <div class="mt-5 mb-4 flex space-x-[34px]">
        <div class="flex items-center space-x-[7px]">
          <CalendarIcon class="w-5 text-primary" />
          <h4 class="text-sm font-normal leading-6 text-primary">
            {{ item.date }}
          </h4>
        </div>
        <div
          class="flex items-center space-x-[7px]"
          :class="current == '#draft' ? 'hidden' : 'block'"
        >
          <BookOpenIcon class="w-5 text-primary" />
          <h4 class="text-sm font-normal leading-6 text-primary">
            {{ item.read }} read
          </h4>
        </div>
      </div>
    </div>
  </div>
</template>
