<script setup>
import { ref } from "vue";
import {
  ArrowNarrowRightIcon,
  ArrowNarrowLeftIcon,
  ArrowNarrowDownIcon,
  SearchIcon,
  ChevronDownIcon,
  CheckIcon,
  SelectorIcon,
  PencilIcon,
  PlusIcon,
  XIcon,
} from "@heroicons/vue/solid";

import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
  DialogDescription,
  Listbox,
  ListboxLabel,
  ListboxButton,
  ListboxOptions,
  ListboxOption,
} from "@headlessui/vue";
import { useRouter } from "vue-router";
const isOpen = ref(false);

const category = [{ name: "Montly" }, { name: "Annualy" }, { name: "Yearly" }];
const router = useRouter();
const selectedCategory = ref(category[0].name);

function closeModal() {
  isOpen.value = false;
}
function openModal() {
  isOpen.value = true;
}
</script>

<template>
  <div class="flex flex-1 flex-col items-center justify-center space-y-8">
    <button
      class="flex items-center rounded bg-primary px-6 py-[13px] text-base font-medium leading-6 text-white hover:bg-primary-lite"
      @click="openModal"
    >
      <PlusIcon class="mr-4 w-5 text-white" />New Project
    </button>
    <!-- :to="{ name: 'admin-reports-reportPost-create' }" -->

    <TransitionRoot appear :show="isOpen" as="template">
      <Dialog as="div" @close="closeModal" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full transform overflow-hidden rounded-2xl bg-white p-6 px-[74px] text-left align-middle shadow-xl transition-all md:max-w-md lg:max-w-lg xl:max-w-xl"
              >
                <DialogTitle
                  as="h3"
                  class="relative mt-[38px] text-lg font-medium leading-6 text-gray-900"
                >
                  Select Project
                  <button class="absolute top-2 -right-8" @click="closeModal">
                    <XIcon class="h-6 w-6 text-black" />
                  </button>
                </DialogTitle>
                <div
                  class="mt-[51px] mb-[87px] flex w-full items-center space-x-[72px]"
                >
                  <router-link
                    class="flex flex-1 flex-col items-center rounded-2xl border-[1px] border-transparent bg-HaHuGreen/4 py-8 text-lg font-normal leading-4 text-primary hover:border-HaHuGreen/2"
                    :to="{
                      name: 'app-io-reports-reportPost-create',
                      hash: '#draft',
                    }"
                    ><PlusIcon class="mb-9 w-10 text-primary" /> HaHu Jobs
                  </router-link>
                  <router-link
                    class="flex flex-1 flex-col items-center rounded-2xl border-[1px] border-transparent bg-HaHuGreen/4 py-8 text-lg font-normal leading-4 text-primary hover:border-HaHuGreen/2"
                    :to="{
                      name: 'app-io-reports-reportPost-create',
                      hash: '#draft',
                    }"
                    ><PlusIcon class="w-10 mb-9 text-primary" /> Industry Park
                  </router-link>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </div>
</template>

<style scoped></style>

<route lang="yaml">
meta:
  layout: io
</route>
