<script setup>
import { onMounted, onUpdated, ref, reactive, watchEffect } from "vue";
import { useForm } from "vee-validate";
import { projects, teams as team } from "@/data/data.json";
import {
  ArrowNarrowRightIcon,
  ArrowNarrowLeftIcon,
  ArrowNarrowDownIcon,
  SearchIcon,
  ChevronDownIcon,
  PlusIcon,
  XIcon,
  CheckIcon,
  SelectorIcon,
} from "@heroicons/vue/solid";
import {
  Listbox,
  ListboxLabel,
  ListboxButton,
  ListboxOptions,
  ListboxOption,
  Switch,
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
  DialogDescription,
} from "@headlessui/vue";
import router from "@/router";

const { handleSubmit } = useForm({});
const item = reactive({ enabled: false });

const isPublish = ref(false);
const isTeam = ref(false);

const submit = handleSubmit(async (values) => {
  publishBlog();
});

function closeTeam() {
  isTeam.value = false;
}

function openTeam() {
  isTeam.value = true;
}

function closePublish(val) {
  isPublish.value = false;
  if (val) {
    router.push({
      name: "app-io-projects-projectPost",
      hash: "#published",
    });
  }
}

function publishBlog() {
  isPublish.value = true;
}

const scrollComponent = ref(null);
const teams = ref(team);

watchEffect(() => {
  if (scrollComponent.value !== null) {
    scrollComponent.value.addEventListener("wheel", function (e) {
      if (e.deltaY > 0) scrollComponent.value.scrollLeft += 100;
      else scrollComponent.value.scrollLeft -= 100;
    });
  }
});

function selector(idx) {
  teams.value[idx].selected = !teams.value[idx].selected;
}
</script>
<template>
  <!-- <div class="flex flex-1 flex-col pl-[162px] pr-[84px]"> -->

  <form
    @submit.prevent="submit"
    class="mx-4 mt-20 mb-5 flex flex-1 flex-col items-center rounded-2xl bg-white py-9 px-14 lg:mx-8 xl:mx-14 2xl:mx-16"
  >
    <div
      class="fixed top-20 z-20 flex w-dscreen justify-end space-x-5 bg-secondary-1 px-20 py-5"
    >
      <router-link
        :to="{ name: 'app-io-projects-projectPost', hash: '#draft' }"
        class="rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
      >
        Save
      </router-link>
      <router-link
        :to="{
          name: 'app-io-projects-projectPost-id-preview',
          params: { id: 1 },
          hash: '#draft',
        }"
        class="rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
      >
        Preview
      </router-link>
      <button
        class="rounded border-[1px] border-primary bg-primary px-[11px] py-2 text-xs font-medium leading-4 text-white hover:bg-primary-lite hover:text-black"
      >
        Publish
      </button>
    </div>
    <div class="flex w-full flex-col self-start">
      <div class="flex flex-col">
        <h-text-field-2
          v-model="item.title"
          rules="required"
          id="title"
          name="Title"
          class="mt-6 w-9/12 shadow-none"
          inputClass="text-xl w-6/12 leading-6 font-normal text-HahuGray1 px-3 py-[9px] ring ring-Hahugreen/3 ring-[1px] shadow-none"
          placeholder="Title Here"
        >
          <template v-slot:label>
            <div
              class="flex justify-between text-xl font-normal leading-6 text-black"
            >
              Title
              <HCheckbox v-model="item.enabled" label="Show on Home Page" />
            </div>
          </template>
        </h-text-field-2>
        <label for="title" class="text-xl font-normal leading-6 text-black"
          >Cover Photo</label
        >
        <div class="mt-5 rounded bg-white">
          <h-file-upload
            name="coverUpload"
            class="border-1 border-primary bg-white"
          />
        </div>
        <h-text-field-2
          v-model="item.caption"
          rules="required"
          id="caption"
          name="caption"
          class="mt-6"
          inputClass="text-xl leading-6 font-normal text-HahuGray1 px-3 py-[9px] ring ring-Hahugreen/3 ring-[1px] shadow-none"
          placeholder="Caption here..."
        >
          <template v-slot:label>
            <div class="mt-5 text-xl font-normal leading-6 text-black">
              Caption
            </div>
          </template>
        </h-text-field-2>
        <label for="title" class="mt-5 text-xl font-normal leading-6 text-black"
          >Client</label
        >
        <div class="mt-5 rounded bg-white">
          <h-file-upload
            name="clinetUpload"
            class="border-1 border-primary bg-white"
          />
        </div>
        <label for="title" class="mt-5 text-xl font-normal leading-6 text-black"
          >Partners</label
        >
        <div class="mt-5 rounded bg-white">
          <h-file-upload
            name="partnerUpload"
            class="border-1 border-primary bg-white"
          />
        </div>
        <label class="mt-5 text-xl font-normal leading-6 text-black"
          >Team</label
        >
        <button
          type="button"
          class="mt-[26px] flex items-center self-start rounded-full bg-primary px-[11px] py-[6px] text-xs font-medium leading-4 text-white"
          @click="openTeam"
        >
          <PlusIcon class="mr-[14px] h-5 w-5 text-white" /> Add Team Member
        </button>
      </div>
      <h-text-area
        name="summary"
        v-model="item.summary"
        rules="required"
        inputClass="bg-white border-[1px] border-HahuGray3 text-black py-7 px-10 text-lg font-light leading-[30px]"
        placeholder="Write short intro about the blog with less than 240 words"
        label="Summary"
        labelClass="mt-10 mb-5 text-xl font-normal leading-6 text-black"
      />
      <label
        for="title"
        class="mt-5 mb-5 text-xl font-normal leading-6 text-black"
        >Description</label
      >
      <h-editor
        name="editor"
        v-model="item.editor"
        rules="required"
        class="mt-9 mb-10 bg-white px-10"
      />
    </div>
    <TransitionRoot appear :show="isTeam" as="template">
      <Dialog as="div" @close="closeTeam" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="transform overflow-hidden bg-white p-6 px-10 text-left align-middle shadow-xl transition-all md:max-w-md lg:max-w-lg xl:max-w-2xl 2xl:min-w-[500px]"
              >
                <DialogTitle
                  as="h3"
                  class="mt-[38px] flex items-center justify-between text-xl font-medium leading-6 text-HahuGray1"
                >
                  Select Staff Member
                  <XIcon
                    @click="closeTeam"
                    class="h-5 w-5 cursor-pointer hover:scale-110"
                  />
                </DialogTitle>
                <div class="mt-[51px]">
                  <h-text-field-2
                    id="search"
                    name="search"
                    class="mt-6"
                    inputClass="text-xl leading-6 font-normal text-HahuGray1 px-3 py-[9px] ring ring-Hahugreen/3 ring-[1px] shadow-none"
                    placeholder="Search"
                    :trailingIcon="SearchIcon"
                  />
                  <ul
                    ref="scrollComponent"
                    class="flex h-full space-x-5 overflow-y-hidden overflow-x-scroll"
                  >
                    <li
                      class="relative mb-2 flex min-h-[180px] min-w-[180px] flex-col items-center justify-center rounded-md bg-secondary-4 px-[6px] py-[6px]"
                      v-for="(team, index) in teams"
                      :key="index"
                      @click="selector(index)"
                    >
                      <CheckIcon
                        class="absolute top-2 right-2 h-5 w-5 text-primary"
                        :class="team.selected ? 'visible' : 'invisible'"
                      />
                      <img class="" :src="team.img" />
                      <h2
                        class="mt-5 text-lg font-normal leading-6 text-HahuGray1"
                      >
                        {{ team.name }}
                      </h2>
                      <h3
                        class="mt-1 text-base font-normal leading-6 text-primary"
                      >
                        {{ team.position }}
                      </h3>
                    </li>
                  </ul>
                </div>
                <hr
                  class="mt-10 rounded-full border-b-[1px] border-HahuGray3"
                />

                <div class="mt-[53px] flex justify-center space-x-[50px]">
                  <button
                    type="button"
                    class="rounded border-2 border-Hahugreen/3 px-[21px] py-[7px] text-xs font-medium leading-4 text-HahuGray1 hover:bg-Hahugreen/3"
                    @click="closeTeam"
                  >
                    No
                  </button>
                  <button
                    type="button"
                    class="rounded bg-primary px-[21px] py-[7px] text-xs font-medium leading-4 text-white hover:bg-Hahugreen/3 hover:text-primary"
                    @click="closeTeam"
                  >
                    Yes
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
    <TransitionRoot appear :show="isPublish" as="template">
      <Dialog as="div" @close="closePublish(false)" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full transform overflow-hidden rounded-2xl bg-white p-6 px-[74px] text-left align-middle shadow-xl transition-all md:max-w-md lg:max-w-lg xl:max-w-xl"
              >
                <DialogTitle
                  as="h3"
                  class="mt-[38px] text-lg font-medium leading-6 text-gray-900"
                >
                  Are you sure?
                </DialogTitle>
                <div class="mt-[51px]">
                  <p class="text-xl font-normal leading-4 text-HahuGray1">
                    Are you sure you want to
                    <span class="text-primary">Publish</span> this Project?
                  </p>
                </div>

                <div class="mt-[53px] flex justify-center space-x-[50px]">
                  <button
                    type="button"
                    class="rounded border-2 border-Hahugreen/3 px-[21px] py-[7px] text-xs font-medium leading-4 text-HahuGray1 hover:bg-Hahugreen/3"
                    @click="closePublish(false)"
                  >
                    No
                  </button>
                  <button
                    type="button"
                    class="rounded bg-primary px-[21px] py-[7px] text-xs font-medium leading-4 text-white hover:bg-Hahugreen/3 hover:text-primary"
                    @click="closePublish(true)"
                  >
                    Yes
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </form>
</template>

<style scoped>
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #797979;
}
</style>
