<script setup>
import { ref } from "vue";
import { useRouter } from "vue-router";
import { BeakerIcon } from "@heroicons/vue/solid";
import { collapses } from "@/data/data.json";
const router = useRouter();

const isOpen = ref(0);

const trigR = (i) => {
  router.push({
    name: "app-basic-tables-slug",
    params: { slug: `${i}` },
  });
};
</script>
<template>
  <section>
    <o-collapse
      class="card rounded-lg mx-2"
      animation="slide"
      v-for="(collapse, index) of collapses"
      :key="index"
      :open="isOpen == index"
      @open="isOpen = index"
    >
      <template #trigger="props" as="div" class="hover:bg-HahuGray5">
        <div
          class="flex py-3 my-5 hover:bg-HahuGray5 rounded-lg"
          :class="
            collapse.routes.includes($route.params.slug) ? 'bg-HahuGray5' : ''
          "
          role="button"
          :aria-controls="'contentIdForA11y5-' + index"
          :aria-expanded="isOpen"
        >
          <img :src="collapse.icon" class="mx-5 w-7 text-primary" />
          <p class="text-white">
            {{ collapse.title }}
          </p>
          <a class="card-header-icon">
            <o-icon :icon="props.open ? 'caret-up' : 'caret-down'"> </o-icon>
          </a>
        </div>
      </template>
      <div
        class="hover:bg-HahuGray5 hover:rounded-r-lg ml-3 cursor-pointer border-l-2 border-white/20 pl-4 my-1 py-2"
        :class="$route.params.slug == collapse.routes[i] ? 'bg-HahuGray5' : ''"
        v-for="(route, i) in collapse.routes"
        @click="trigR(route)"
      >
        <!-- {{ $route.params.slug }} {{ $route.params.slug == collapse.routes[i] }} -->
        <div class="content text-white">
          {{ route.replace("_", " ").replace("_", " ") }}
        </div>
      </div>
    </o-collapse>
  </section>
</template>

<style>
.card-header {
  background-color: transparent;
  align-items: stretch;
  box-shadow: 0 1px 2px hsla(0, 0%, 4%, 0.1);
  display: flex;
}
.card-header-title {
  align-items: center;
  color: #363636;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem;
  margin: 0;
}
.card-header-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 0.75rem;
  justify-content: center;
}
.card-content {
  padding: 1.5rem;
  background-color: transparent;
}
</style>
