<script setup>
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";
import { useRoute, useRouter } from "vue-router";

import {
  ChevronDownIcon,
  DotsVerticalIcon,
  TrashIcon,
  PencilIcon,
} from "@heroicons/vue/solid";

const router = useRouter();
const route = useRoute();

const editor = (i) => {
  router.push({
    name: `app-basic-create-${i}`,
  });
};
</script>

<template>
  <div>
    <div class="w-auto text-right">
      <Menu as="div" class="relative inline-block text-left">
        <div>
          <MenuButton
            class="rounded-full hover:bg-black/10 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 p-1"
          >
            <DotsVerticalIcon
              class="w-5 text-3xl text-secondary font-bold"
              aria-hidden="true"
            />
          </MenuButton>
        </div>
        <transition
          enter-active-class="transition duration-100 ease-out"
          enter-from-class="transform scale-95 opacity-0"
          enter-to-class="transform scale-100 opacity-100"
          leave-active-class="transition duration-75 ease-in"
          leave-from-class="transform scale-100 opacity-100"
          leave-to-class="transform scale-95 opacity-0"
        >
          <MenuItems
            class="z-20 absolute right-0 mt-2 w-auto origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
          >
            <div class="px-1 py-1">
              <MenuItem v-slot="{ active }">
                <button
                  :class="[
                    active ? 'bg-secondary-3 text-primary' : 'text-secondary',
                    'group flex w-full items-center rounded-md px-2 py-2 text-sm',
                  ]"
                  @click="editor($route.params.slug)"
                >
                  <PencilIcon
                    :active="active"
                    class="mr-2 h-5 w-5 text-primary"
                    aria-hidden="true"
                  />
                  Edit
                </button>
              </MenuItem>
            </div>

            <div class="px-1 py-1">
              <MenuItem v-slot="{ active }">
                <button
                  :class="[
                    active
                      ? 'bg-secondary-3 text-red-500'
                      : 'text-secondary group',
                    'group flex w-full items-center rounded-md px-2 py-2 text-sm',
                  ]"
                >
                  <TrashIcon
                    :active="active"
                    class="mr-2 h-5 w-5 text-primary group-hover:text-red-500"
                    aria-hidden="true"
                  />
                  Delete
                </button>
              </MenuItem>
            </div>
          </MenuItems>
        </transition>
      </Menu>
    </div>
  </div>
</template>
