<script setup>
import {
  Menu,
  MenuButton,
  MenuItem,
  MenuItems,
  Popover,
  PopoverButton,
  PopoverPanel,
} from "@headlessui/vue";
import { SearchIcon } from "@heroicons/vue/solid";

import { computed } from "@vue/reactivity";

import {
  HomeIcon,
  NewspaperIcon,
  CollectionIcon,
  PresentationChartLineIcon,
  UserAddIcon,
  FolderIcon,
  ChatIcon,
  BellIcon,
  MenuIcon,
  XIcon,
  ChevronDownIcon,
  LogoutIcon,
  UserIcon,
} from "@heroicons/vue/outline";

import { useRoute } from "vue-router";
import { ref } from "vue";
const navItems = [
  { name: "Home", icon: HomeIcon, path: "home" },
  { name: "Blog Dashboard", icon: NewspaperIcon, path: "blogs" },
  {
    name: "Project Dashboard",
    icon: CollectionIcon,
    path: "projects",
  },
  {
    name: "Report Dashboard",
    icon: PresentationChartLineIcon,
    path: "reports",
  },
  { name: "Staff Dashboard", icon: UserAddIcon, path: "staffs" },
  { name: "Other Dashboard", icon: FolderIcon, path: "other" },
  { name: "Message Dashboard", icon: ChatIcon, path: "messages" },
];

const user = {
  name: "Meseret Hailu",
  email: "Meseret_Hailu@example.com",
  imageUrl: UserIcon,
};

const userNavigation = [
  { name: "Meseret Hailu", href: "#", icon: UserIcon },
  { name: "Sign out", href: "#", icon: LogoutIcon },
];
</script>
<template>
  <!-- When the mobile menu is open, add `overflow-hidden` to the `body` element to prevent double scrollbars -->
  <Popover as="template" v-slot="{ open }">
    <header
      :class="[
        open ? 'fixed inset-0 z-40 overflow-y-auto' : '',
        'bg-white shadow-sm lg:static lg:overflow-y-visible',
      ]"
    >
      <div class="px-4 sm:px-6 lg:px-8 2xl:mx-10">
        <div class="relative flex h-20 justify-between">
          <!-- ============= Left side =========== -->
          <div class="static flex md:left-0">
            <div class="flex flex-shrink items-center py-2">
              <div v-for="item in navItems">
                <div
                  v-if="$route.path.includes(item.path)"
                  class="min-h-20 ml-4 flex items-center space-x-5"
                >
                  <component :is="item.icon" class="w-8" />
                  <h1 class="font-bold text-black sm:truncate sm:text-xl">
                    {{ item.name }}
                  </h1>
                </div>
              </div>
            </div>
          </div>
          <!-- ============= Center ================ -->
          <div class="min-w-0 flex-1 md:px-8 lg:px-0"></div>
          <div
            class="flex items-center md:absolute md:inset-y-0 md:right-0 lg:hidden"
          >
            <!-- Mobile menu button -->
            <PopoverButton
              class="-mx-2 inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-secondary-2"
            >
              <span class="sr-only">Open menu</span>
              <MenuIcon v-if="!open" class="block h-6 w-6" aria-hidden="true" />
              <XIcon v-else class="block h-6 w-6" aria-hidden="true" />
            </PopoverButton>
          </div>
          <div class="hidden lg:flex lg:items-center lg:justify-end">
            <!-- Profile dropdown -->
            <Menu
              as="div"
              class="relative ml-5 flex-shrink-0 justify-items-end"
            >
              <div class="flex items-center">
                <MenuButton class="flex rounded-full">
                  <span class="sr-only">Open user menu</span>
                  <UserIcon
                    class="h-10 w-10 rounded-full bg-primary p-1"
                    alt=""
                  />
                  <ChevronDownIcon
                    class="ml-2 h-5 w-5 self-center text-primary duration-200 ease-in hover:translate-y-1"
                  />
                </MenuButton>
              </div>
              <transition
                enter-active-class="transition ease-out duration-100"
                enter-from-class="transform opacity-0 scale-95"
                enter-to-class="transform opacity-100 scale-100"
                leave-active-class="transition ease-in duration-75"
                leave-from-class="transform opacity-100 scale-100"
                leave-to-class="transform opacity-0 scale-95"
              >
                <MenuItems
                  class="absolute right-0 z-10 mt-2 flex w-48 origin-top-right flex-col rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                >
                  <MenuItem v-for="nav in userNavigation">
                    <a
                      href="#"
                      class="flex border-b-[1px] border-HahuGray2 px-2 py-2 last:border-0 hover:bg-secondary-4"
                      ><component
                        :is="nav.icon"
                        class="mr-6 h-6 w-6 flex-shrink-0 text-primary"
                        aria-hidden="true"
                      />
                      {{ nav.name }}</a
                    >
                  </MenuItem>
                </MenuItems>
              </transition>
            </Menu>
          </div>
        </div>
      </div>

      <PopoverPanel as="nav" class="lg:hidden" aria-label="Global">
        <div class="border-t border-gray-200 pt-4 pb-3">
          <div class="mx-auto flex max-w-3xl items-center px-4 sm:px-6">
            <div class="flex-shrink-0">
              <UserIcon class="w-5 rounded-full" />
            </div>
            <div class="ml-3">
              <div class="text-base font-medium text-gray-800">
                {{ user.name }}
              </div>
              <div class="text-sm font-medium text-gray-500">
                {{ user.email }}
              </div>
            </div>
          </div>
          <div class="mx-auto mt-3 max-w-3xl space-y-1 px-2 sm:px-4">
            <a
              href="#"
              class="block rounded-md py-2 px-3 text-base font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-900"
            >
              SignOut</a
            >
          </div>
        </div>
      </PopoverPanel>
    </header>
  </Popover>
</template>
