<script setup>
import {
  ExclamationIcon,
  DotsCircleHorizontalIcon,
} from "@heroicons/vue/solid";
const props = defineProps({
  modelValue: {
    type: Boolean,
    default: false,
  },
  title: {
    type: String,
    default: "remove_selected",
  },
  subtitle: {
    type: String,
    default: "are_you_sure_you_want_to_remove_this",
  },
  loading: {
    type: Boolean,
    default: false,
  },
});
const emit = defineEmits(["update:modelValue", "confirm"]);

const confirmIt = () => {
  emit("confirm");
};
const cancel = () => {
  emit("update:modelValue", false);
};
</script>
<template>
  <modal v-model="modelValue" class="xl:w-1/3 lg:w-6/12 w-8/12 mx-auto">
    <template v-slot>
      <div class="items-center justify-center font-body px-5 pb-3">
        <div class="text-base text-black flex items-center">
          <div>
            <ExclamationIcon class="h-8 w-8 text-red-500" aria-hidden="true" />
          </div>
          <div class="ml-5">
            <div class="font-base font-body font-medium">
              {{ $t(`${title}`) }}
            </div>
            <div class="text-sm text-gray-600 font-body font-medium">
              {{ $t(`${subtitle}`) }} ?
            </div>
          </div>
        </div>
        <div class="flex justify-end mt-5 gap-x-3">
          <button
            class="mt-3 w-full font-bold items-center inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-transparent sm:mt-0 sm:w-auto sm:text-sm font-body"
            @click="cancel"
          >
            {{ $t("cancel") }}
          </button>
          <button
            class="w-full font-bold item-center inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-transparent sm:w-auto sm:text-sm font-body"
            @click="confirmIt"
          >
            <DotsCircleHorizontalIcon
              v-if="loading"
              class="animate-spin w-5 h-5"
            />
            <div v-if="!loading">{{ $t("confirm") }}</div>
          </button>
        </div>
      </div>
    </template>
  </modal>
</template>
