<template>
  <div>
    <div
      class="bg-HahuGray1 h-screen sticky top-0 overflow-y-scroll w-60 text-white"
    >
      <div class="flex w-full justify-center mt-20 my-20">
        <router-link to="/app">
          <img src="/images/Hahu_logo_2.png" class="self-center" />
        </router-link>
      </div>
      <Collapse />
    </div>
  </div>
</template>

<script setup>
import Collapse from "./Collapse.vue";
</script>

<style></style>
