<script setup>
import { ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import Dropdown from "./Dropdown.vue";
import { PlusIcon } from "@heroicons/vue/solid";

const props = defineProps(["tableHeader"]);
const route = useRoute();
const router = useRouter();
console.log(route.params.slug);

const creator = (i) => {
  router.push({
    name: `app-basic-create-${i}`,
  });
};

const editor = (i) => {
  router.push({
    name: `app-basic-create-${i}`,
  });
};
</script>
<template>
  <section
    class="w-full my-2 h-auto flex flex-col justify-center shadow-full overflow-x-auto"
  >
    <div class="flex justify-between items-center border-b border-gray-400 p-5">
      <button
        class="bg-primary text-white flex items-center px-4 py-2 rounded-md shadow-lg"
        @click="creator($route.params.slug)"
      >
        <PlusIcon class="text-white w-5 mx-1" /><span>ADD NEW</span>
      </button>
      <div class="flex">
        <input
          type="text"
          id="text"
          placeholder="Search"
          class="w-[400px] text-xl rounded-md border border-primary-lite p-3 hover:border-primary focus:outline-none focus:ring-0 focus:border-primary focus:ring-primary active:ring-0 active:ring-primary"
        />
      </div>
    </div>
    <div class="px-3">
      <table class="w-full table-auto mb-24">
        <thead>
          <tr
            class="text-gray-600 uppercase text-sm border-b border-gray-300 leading-normal"
          >
            <th
              class="py-3 px-6 text-left"
              v-for="(header, i) in props.tableHeader.col"
            >
              {{ header }}
            </th>
          </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light px-2">
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td
              class="py-3 px-6 text-left whitespace-nowrap"
              v-for="(i, j) in props.tableHeader.col.length - 1"
            >
              <div class="flex items-center">Test Data Test</div>
            </td>
            <td class="py-3 px-6 text-center">
              <div class="flex item-center justify-start">
                <Dropdown />
              </div>
            </td>
          </tr>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td
              class="py-3 px-6 text-left whitespace-nowrap"
              v-for="(i, j) in props.tableHeader.col.length - 1"
            >
              <div class="flex items-center">Test Data</div>
            </td>
            <td class="py-3 px-6 text-center">
              <div class="flex item-center justify-start">
                <Dropdown />
              </div>
            </td>
          </tr>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td
              class="py-3 px-6 text-left whitespace-nowrap"
              v-for="(i, j) in props.tableHeader.col.length - 1"
            >
              <div class="flex items-center">Test Data</div>
            </td>
            <td class="py-3 px-6 text-center">
              <div class="flex item-center justify-start">
                <Dropdown />
              </div>
            </td>
          </tr>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td
              class="py-3 px-6 text-left whitespace-nowrap"
              v-for="(i, j) in props.tableHeader.col.length - 1"
            >
              <div class="flex items-center">Test Data</div>
            </td>
            <td class="py-3 px-6 text-center">
              <div class="flex item-center justify-start">
                <Dropdown />
              </div>
            </td>
          </tr>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td
              class="py-3 px-6 text-left whitespace-nowrap"
              v-for="(i, j) in props.tableHeader.col.length - 1"
            >
              <div class="flex items-center">Test Data</div>
            </td>
            <td class="py-3 px-6 text-center">
              <div class="flex item-center justify-start">
                <Dropdown />
              </div>
            </td>
          </tr>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td
              class="py-3 px-6 text-left whitespace-nowrap"
              v-for="(i, j) in props.tableHeader.col.length - 1"
            >
              <div class="flex items-center">Test Data</div>
            </td>
            <td class="py-3 px-6 text-center">
              <div class="flex item-center justify-start">
                <Dropdown />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</template>
