<script>
import { ArrowUpIcon, ArrowDownIcon } from "@heroicons/vue/solid";
import PersonTypeIndicator from "./person-type-indicator.vue";
import _get from "lodash.get";
import _set from "lodash.set";

export default {
  name: "v-table",
  components: {
    ArrowUpIcon,
    ArrowDownIcon,
  },
  props: {
    headers: {
      type: Array,
    },
    items: {
      type: Array,
    },
    sort: {
      type: Array,
    },
    loading: {
      type: Boolean,
      default: true,
    },
    supporterClass: {
      type: String,
    },
  },
  emits: ["clickRow"],
  data() {
    return {
      _sort: {},
    };
  },
  created() {
    this.sort.forEach((item) => {
      this._sort = { ...this._sort, ...item };
    });
  },
  methods: {
    _get,
    _set,
    sort_by(header) {
      if (header.sortable === false) return;

      let direction = this._sort[header.value];

      if (direction && direction === "asc") {
        this._sort[header.value] = "desc";
      } else if (direction && direction === "desc") {
        delete this._sort[header.value];
      } else {
        this._sort[header.value] = "asc";
      }

      let sort = [];

      Object.keys(this._sort).forEach((key) => {
        let obj = {};
        _set(obj, key, this._sort[key]);
        sort.push(obj);
      });

      this.$emit("update:sort", sort);
    },
  },
};
</script>

<template>
  <div class="h-1">
    <h-progress v-if="loading" />
  </div>
  <!-- component -->
  <div class="border-b border-gray-200 dark:border-tertiary-dark sm:rounded-lg shadow">
    <table
      class="border-collapse w-full divide-y divide-secondary-4 font-body"
      :class="supporterClass"
    >
      <thead class="bg-secondary-header">
        <tr>
          <th
            class="text-xs px-6 font-medium text-left text-gray-500 dark:text-white py-5 hidden lg:table-cell tracking-wider uppercase"
            v-for="(header) in headers"
            :key="header.value"
          >
            <span class="cursor-pointer font-body" @click="sort_by(header)">
              {{ header.text }}
              <ArrowUpIcon
                v-if="
                  _sort[header.value] === 'asc' && header.sortable !== false
                "
                class="h-3 w-3 inline-block text-primary"
              />
              <ArrowDownIcon
                v-if="
                  _sort[header.value] === 'desc' && header.sortable !== false
                "
                class="h-3 w-3 inline-block text-primary"
              />
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          :class="[
            ' border-secondary-4 dark:border-tertiary-dark  rounded last:border-0 hover:bg-blue-50 cursor-pointer',
            index % 2 !== 0 ? 'bg-gray-50 dark:bg-gray-700' : 'bg-white dark:bg-gray-800',
            index < items.length - 1 ? 'border-b' : ' border-none',
          ]"
          v-for="(item, index) in items"
          :key="item.id"
          @click="
            () => {
              $emit('clickRow', item);
            }
          "
          class="lg:hover:bg-blue-50 lg:dark:hover:bg-tertiary-dark flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap lg:mb-10 lg:shadow-none shadow mb-0"
        >
          <td
            v-for="header in headers"
            :key="header.value"
            class="w-full font-body lg:w-auto block lg:table-cell relative lg:static text-left text-gray-900 dark:text-white border-b rounded py-4 px-6 text-sm"
          >
            <span
              class="lg:hidden text-left w-1/3 align-middle inline-block text-sm font-normal text-secondary-2 dark:text-white font-body"
              >{{ header.text }}
            </span>
            <slot :item="item" :name="header.value">
              <span
                class="w-2/3 align-middle overflow-ellipsis overflow-hidden whitespace-nowrap flex flex-wrap"
                v-if="header.value == 'full_name'"
              >
                <PersonTypeIndicator :type="item.type" />

                {{ _get(item, header.value) }}
              </span>
              <span
                class="inline-block w-2/3 align-middle overflow-ellipsis overflow-hidden whitespace-nowrap font-body"
                v-else
              >
                {{ _get(item, header.value) || "-" }}
              </span>
            </slot>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
