<script setup>
import { ref, computed } from "vue";
import {
  PlusIcon,
  SearchIcon,
  TrashIcon,
  PencilIcon,
  DotsHorizontalIcon,
  ExclamationIcon,
} from "@heroicons/vue/outline";
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";
import { useRouter } from "vue-router";

import useErrorParser from "@/use/errorParser";
import Notify from "@/use/notify";
// import get_entities from "@/composables/users/entities/entities";
import get_user_entities from "@/composables/users/entities/user_entities.js"

import i18n from "@/plugins/i18n";

const t = i18n.global.t;
const { notify } = Notify();
const { parse } = useErrorParser();
const router = useRouter();

const headers = [
  {
    text: "Logo",
    value: "logo",
  },
  {
    text: "Name",
    value: "name",
  },
  {
    text: "Email",
    value: "email",
  },
  {
    text: "Phone Number",
    value: "phone_number",
  },
  {
    text: "Contact Person",
    value: "contact_person_name",
  },
];

const offset = ref(0);
const limit = ref(25);
const length = ref(0);
const type = ref(undefined);
const search = ref("");
const sort = ref([{ name: "desc" }]);
const confirmOpen = ref(false);

const entities = ref([]);

const where = computed(() => {
  return {
    entity: {
      name: { _ilike: `%${search.value}%` },
    },
  };
});

const { onResult, onError, loading, refetch } = get_user_entities(
  offset,
  limit,
  where
);

onResult(({ data }) => {
  console.log(data.entities);
  entities.value = data.entities || [];
  length.value = data.length.aggregate.count;
});

const viewUsers = (itm) => {
  router.push({ name: "app-entities-id", params: { id: itm.id } });
};

const clickRow = (row) => {
  viewUsers(row.entity);
}
</script>
<template>
  <div class="flex justify-between p-6 m-6 rounded-md">
    <div class="mt-1 md:w-96">
      <h-text-field
        v-model="search"
        name="search"
        support-class="rounded-3xl"
        :trailing-icon="SearchIcon"
        placeholder="Search"
        placeholder-style="text-gray-500"
      ></h-text-field>
    </div>
    <div>
      <button
        @click="router.push({ name: 'app-entities-insert' })"
        class="
          flex
          bg-primary
          hover:opacity-80
          p-3
          text-white
          rounded-md
          shadow-md
        "
      >
        <PlusIcon class="h-5 w-5 mt-0.5 mr-2" />
        <span class="text-md font-bold">Create New</span>
      </button>
    </div>
  </div>
  <div class="p-6">
    <v-table
      :headers="headers"
      :items="entities"
      :loading="loading"
      v-model:sort="sort"
      @clickRow="clickRow"
    >
      <template v-slot:logo="{ item }">
        <img
          class="h-12 w-12 rounded object-contain"
          :src="item.entity.logo"
          alt="logo"
        />
      </template>
      <template v-slot:name="{ item }">
        <div class="flex gap-1 gap-x-4 items-center">
          <span>{{ item.entity.name && item.entity.name  }}</span>
        </div>
      </template>
      <template v-slot:email="{ item }">
        <div class="flex gap-1 gap-x-4 items-center">
          <span>{{ item.entity.email && item.entity.email  }}</span>
        </div>
      </template>
      <template v-slot:phone_number="{ item }">
        <div class="flex gap-1 gap-x-4 items-center">
          <span>{{ item.entity.phone_number && item.entity.phone_number  }}</span>
        </div>
      </template>
      <template v-slot:contact_person_name="{ item }">
        <div class="flex gap-1 gap-x-4 items-center">
          <span>{{ item.entity.contact_person_name && item.entity.contact_person_name  }}</span>
        </div>
      </template>
      <template v-slot:created_at="{ item }">
        {{
          formatDistanceToNowStrict(new Date(item.entity.created_at), {
            addSuffix: true,
          })
        }}
      </template>
    </v-table>
    <div class="text-white">
      <paginate
        v-model:offset="offset"
        :items-per-page="limit"
        :total-data="length"
        class=""
      >
      </paginate>
    </div>
  </div>
</template>
<route lang="yaml">
meta:
  layout: app
</route>
