<script setup>
import { onMounted, onUpdated, reactive, ref, watchEffect } from "vue";
import { useForm } from "vee-validate";
import { useRoute, useRouter } from "vue-router";
import { reports } from "@/data/data.json";
import { CollectionIcon, CalendarIcon } from "@heroicons/vue/outline";
import {
  ArrowNarrowRightIcon,
  ArrowNarrowLeftIcon,
  ArrowNarrowDownIcon,
  SearchIcon,
  ChevronDownIcon,
  PlusIcon,
  XIcon,
  CheckIcon,
  SelectorIcon,
} from "@heroicons/vue/solid";
import {
  Listbox,
  ListboxLabel,
  ListboxButton,
  ListboxOptions,
  ListboxOption,
  Switch,
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
  DialogDescription,
} from "@headlessui/vue";
import roleUpsertVue from "@/components/user/role-upsert.vue";

const { handleSubmit } = useForm({});

const incomingData = [
  {
    id: "1",
    media: "/images/ReportImg1.png",
    xlimg: "/images/ReportImg1xl.png",
    title: "ባሳለፍነው የፈረንጆች ወር ያወጣናቸ...",
    catg: "MONTHLY",
    date: "JAN 12, 2022",
    read: 25,
    enabled: true,
    caption: "some test caption for one",
    intro: "intro",
    summary: "summary",
    description: "description",
  },
  {
    id: "2",
    media: "/images/ReportImg2.png",
    xlimg: "/images/ReportImg1xl.png",
    title: "ባሳለፍነው የፈረንጆች ወር ያወጣናቸ...",
    catg: "MONTHLY",
    date: "JAN 12, 2022",
    read: 25,
    enabled: false,
    caption: "some test caption for second",
    intro: "intro",
    summary: "summary",
    description: "description",
  },
  {
    id: "3",
    media: "/images/ReportImg3.png",
    xlimg: "/images/ReportImg1xl.png",
    title: "ባሳለፍነው የፈረንጆች ወር ያወጣናቸ...",
    catg: "ANNUALLY",
    date: "JAN 12, 2022",
    read: 25,
    enabled: false,
    caption: "test three",
    intro: "intro three",
    summary: "summary",
    description: "description",
  },
  {
    id: "4",
    media: "/images/ReportImg3.png",
    xlimg: "/images/ReportImg1xl.png",
    title: "ባሳለፍነው የፈረንጆች ወር ያወጣናቸ...",
    catg: "ANNUALLY",
    date: "JAN 12, 2022",
    read: 25,
    enabled: false,
    caption: "test four caption",
    intro: "intro asdf",
    summary: "summary",
    description: "description",
  },
  {
    id: "5",
    media: "/images/ReportImg3.png",
    xlimg: "/images/ReportImg1xl.png",
    title: "ባሳለፍነው የፈረንጆች ወር ያወጣናቸ...",
    catg: "ANNUALLY",
    date: "JAN 12, 2022",
    read: 25,
    enabled: false,
    caption: "test five caption",
    intro: "intro five",
    summary: "summary",
    description: "description",
  },
  {
    id: "6",
    media: "/images/ReportImg3.png",
    xlimg: "/images/ReportImg1xl.png",
    title: "ባሳለፍነው የፈረንጆች ወር ያወጣናቸ...",
    catg: "ANNUALLY",
    date: "JAN 12, 2022",
    read: 25,
    enabled: false,
    caption: "test seven caption",
    intro: "intro sex",
    summary: "summary",
    description: "description",
  },
];

const filteredData = ref([]);
const route = useRoute();
const router = useRouter();
const id = ref(route.params);

const category = ["MONTLY", "ANNUALLY", "YEARLY"];
const item = reactive({ enabled: false });

const isPublish = ref(false);

onUpdated(() => {
  id.value = route.params;
});

onMounted(() => {
  filteredData.value = reports.draft.find((el) => id.value.id == el.id);
  item.category = filteredData.value.catg;
  item.title = filteredData.value.title;
  item.enabled = filteredData.value.enabled;
  item.caption = filteredData.value.caption;
  item.intro = filteredData.value.intro;
  item.summary = filteredData.value.summary;
});

const submit = handleSubmit(async (values) => {
  // console.log("printing out value", item);
  publishBlog();
});

function closePublish(val) {
  isPublish.value = false;
  if (val) {
    router.push({
      name: "app-io-reports-reportPost",
      hash: "#published",
    });
  }
}

function publishBlog() {
  isPublish.value = true;
}

const scrollComponent = ref(null);
const selectedCategory = ref(category[0]);
watchEffect(() => {
  if (scrollComponent.value !== null) {
    scrollComponent.value.addEventListener("wheel", function (e) {
      if (e.deltaY > 0) scrollComponent.value.scrollLeft += 100;
      else scrollComponent.value.scrollLeft -= 100;
    });
  }
});
</script>

<template>
  <!-- <div class="flex flex-1 flex-col pl-[162px] pr-[84px]"> -->
  <form
    @submit.prevent="submit"
    class="mx-4 mt-20 mb-5 flex flex-1 flex-col items-center rounded-2xl bg-white py-9 px-14 lg:mx-8 xl:mx-14 2xl:mx-[72px]"
  >
    <div
      class="fixed top-20 z-20 flex w-dscreen justify-end space-x-5 bg-secondary-1 px-20 py-5"
    >
      <router-link
        class="rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
        :to="{ name: 'app-io-reports-reportPost', hash: '#draft' }"
      >
        Save
      </router-link>
      <router-link
        class="rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
        :to="{ name: 'app-io-reports-reportPost-id-preview', hash: '#draft' }"
      >
        Preview
      </router-link>
      <button
        class="rounded border-[1px] border-primary bg-primary px-[11px] py-2 text-xs font-medium leading-4 text-white hover:bg-primary-lite hover:text-black"
      >
        Publish
      </button>
    </div>
    <div class="flex w-full flex-col self-start">
      <div class="flex flex-col">
        <h-text-field-2
          v-model="item.title"
          rules="required"
          id="title"
          name="Title"
          class="mt-6 w-9/12 shadow-none"
          placeholder="Title Here"
        >
          <template v-slot:label>
            <div class="text-xl font-normal leading-6 text-black">Title</div>
          </template>
        </h-text-field-2>

        <div class="mt-8 flex items-center">
          <h4 class="mr-6 text-lg font-normal leading-6 text-black">
            Show on home
          </h4>
          <Switch
            v-model="item.enabled"
            :class="item.enabled ? 'bg-primary-lite' : 'bg-gray-400'"
            class="relative inline-flex h-[28px] w-[64px] shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75"
          >
            <span class="sr-only"></span>
            <span
              aria-hidden="true"
              :class="item.enabled ? 'translate-x-9' : 'translate-x-0'"
              class="pointer-events-none inline-block h-[24px] w-[24px] transform rounded-full bg-white shadow-lg ring-0 transition duration-200 ease-in-out"
            />
          </Switch>
        </div>

        <h1 class="my-8 text-xl font-normal leading-9 text-HahuGray1">
          Category
        </h1>
        <div class="flex items-center">
          <CalendarIcon class="mr-10 text-primary w-7" />
          <div class="w-40">
            <Listbox v-model="item.category">
              <div class="relative">
                <ListboxButton
                  class="relative flex w-full cursor-default justify-center rounded-lg bg-white border-primary border-2 py-2 pl-4 pr-10 text-left text-xs font-semibold leading-6 text-primary shadow-md focus:outline-none focus-visible:border-Hahugreen/3 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-Hahugreen/3 sm:text-sm"
                >
                  <span class="block truncate">{{ item.category }}</span>
                  <span
                    class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-4"
                  >
                    <ChevronDownIcon
                      class="h-5 w-5 text-primary"
                      aria-hidden="true"
                    />
                  </span>
                </ListboxButton>

                <transition
                  leave-active-class="transition duration-100 ease-in"
                  leave-from-class="opacity-100"
                  leave-to-class="opacity-0"
                >
                  <ListboxOptions
                    class="absolute z-50 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm"
                  >
                    <ListboxOption
                      v-slot="{ active, selected }"
                      v-for="cat in category"
                      :key="cat"
                      :value="cat"
                      as="template"
                    >
                      <li
                        :class="[
                          active
                            ? 'bg-primary-lite text-white'
                            : 'text-gray-900',
                          'relative cursor-default select-none py-2 pl-10 pr-4',
                        ]"
                      >
                        <span
                          :class="[
                            selected ? 'font-medium' : 'font-normal',
                            'block truncate',
                          ]"
                          >{{ cat }}</span
                        >
                        <span
                          v-if="selected"
                          class="absolute inset-y-0 left-0 flex items-center pl-3 text-primary"
                        >
                          <CheckIcon class="h-5 w-5" aria-hidden="true" />
                        </span>
                      </li>
                    </ListboxOption>
                  </ListboxOptions>
                </transition>
              </div>
            </Listbox>
          </div>
        </div>
        <label
          for="title"
          class="mt-12 text-xl font-normal leading-6 text-black"
          >Media</label
        >
        <div class="mt-5 rounded bg-white">
          <h-file-upload class="border-1 border-primary bg-white" />
        </div>
        <h-text-field-2
          v-model="item.caption"
          rules="required"
          id="caption"
          name="caption"
        >
          <template v-slot:label>
            <div class="my-8 text-xl font-normal leading-6 text-black">
              Caption
            </div>
          </template>
        </h-text-field-2>
      </div>
      <h-text-area
        v-model="item.intro"
        rules="required"
        type="text"
        id="intro"
        name="intro"
        placeholder="Write short intro about the blog with less than 240 words"
        placeholderStyle="text-HahuGray1"
      >
        <template v-slot:label>
          <div
            class="my-8 text-lg font-medium leading-6 text-gray-800 duration-500 ease-in dark:text-white"
          >
            Intro
          </div>
        </template>
      </h-text-area>

      <h-text-area
        v-model="item.summary"
        name="summary"
        rules="required"
        type="text"
        placeholder="Write short intro about the blog with less than 240 words"
        placeholderStyle="text-HahuGray1"
      >
        <template v-slot:label>
          <div
            class="my-8 text-lg font-medium leading-6 text-gray-800 duration-500 ease-in dark:text-white"
          >
            Summary
          </div>
        </template>
      </h-text-area>
      <label for="summary" class="my-5 text-xl font-normal leading-6 text-black"
        >Description</label
      >
      <h-editor
        name="editor"
        v-model="item.editor"
        rules="required"
        class="mb-10 bg-white px-10"
      />
    </div>

    <TransitionRoot appear :show="isPublish" as="template">
      <Dialog as="div" @close="closePublish(false)" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full transform overflow-hidden rounded-2xl bg-white p-6 px-[74px] text-left align-middle shadow-xl transition-all md:max-w-md lg:max-w-lg xl:max-w-xl"
              >
                <DialogTitle
                  as="h3"
                  class="mt-[38px] text-lg font-medium leading-6 text-gray-900"
                >
                  Are you sure?
                </DialogTitle>
                <div class="mt-[51px]">
                  <p class="text-xl font-normal leading-4 text-HahuGray1">
                    Are you sure you want to
                    <span class="text-primary">Publish</span> this Project?
                  </p>
                </div>

                <div class="mt-[53px] flex justify-center space-x-[50px]">
                  <button
                    type="button"
                    class="rounded border-2 border-Hahugreen/3 px-[21px] py-[7px] text-xs font-medium leading-4 text-HahuGray1 hover:bg-Hahugreen/3"
                    @click="closePublish(false)"
                  >
                    No
                  </button>
                  <button
                    type="button"
                    class="rounded bg-primary px-[21px] py-[7px] text-xs font-medium leading-4 text-white hover:bg-Hahugreen/3 hover:text-primary"
                    @click="closePublish(true)"
                  >
                    Yes
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </form>
</template>

<style scoped>
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #797979;
}
</style>
