<script setup>
import { ref } from "vue";
import { CollectionIcon, ClipboardCheckIcon } from "@heroicons/vue/outline";
import { useRoute, useRouter } from "vue-router";

const router = useRouter();
const route = useRoute();

const navigate = (item) => {
  router.push(item.route);
};

const refresh = (item) => {
  refetch();
  router.push({
    name: `app-io-projects-projectPost`,
    params: {},
  });
};

const tabs = ref([
  {
    name: "published",
    to: {
      name: "app-io-projects-projectPost",
      params: { id: "published" },
      hash: "#published",
    },
  },
  {
    name: "draft",
    to: {
      name: "app-io-projects-projectPost",
      params: { id: "draft" },
      hash: "#draft",
    },
  },
  {
    name: "unpublished",
    to: {
      name: "app-io-projects-projectPost",
      params: { id: "unpublished" },
      hash: "#unpublished",
    },
  },
]);
</script>

<template>
  <div class="flex w-full">
    <project-list
      :items="tabs"
      :selected="route.params?.id"
      path="app-io-projects-projectPost"
      class="sticky top-20"
    >
      <template v-slot:card="{ item }">
        <project-list-card
          :item="{ blogsToShow: item, ...item }"
          @navigate="navigate"
        >
        </project-list-card>
      </template>
    </project-list>

    <main
      class="relative z-0 flex-1 overflow-y-auto focus:outline-none xl:order-last"
    >
      <div class="flex h-full flex-col">
        <router-view @refresh="refresh"></router-view>
      </div>
    </main>
  </div>
</template>

<style scoped></style>

<route lang="yaml">
meta:
  layout: io
</route>
