<script setup>
import { ref } from "vue";

const TotalRead = ref(734);
const TodayRead = ref(29);
const TotalBlog = ref(30);
const projects = ref(34);
const published = ref(29);
const Unpublished = ref(4);

const TotalEng = ref(734);
const TodayEng = ref(29);
const TotalRep = ref(30);
const staff = ref(24);
const active = ref(21);
const inactive = ref(2);
const engagmentData = ref([
  {
    name: "Workout",
    data: {
      "2017-01-01 00:00:00 ": 3,
      "2017-01-02 00:00:00 ": 4,
      "2017-01-03 00:00:00 ": 5,
      "2017-01-05 00:00:00 ": 6,
      "2017-01-08 00:00:00 ": 6,
      "2017-01-12 00:00:00 ": 5,
      "2017-01-14 00:00:00 ": 4,
      "2017-01-16 00:00:00 ": 1,
    },
  },
  {
    name: "Call parents",
    data: {
      "2017-01-01 00:00:00": 5,
      "2017-01-02 00:00:00": 3,
      "2017-01-06 00:00:00": 3,
    },
  },
]);
const readerData = ref({
  13: 9,
  14: 11,
  17: 8,
  18: 9,
  19: 15,
  20: 11,
  21: 17,
  22: 18,
  23: 18,
  24: 19,
  25: 20,
  26: 19,
  27: 19,
  28: 18,
  29: 17,
  30: 16,
  31: 17,
  32: 18,
  33: 15,
  34: 19,
});
</script>

<template>
  <div
    class="mt-[50px] flex flex-col items-center overflow-y-auto md:px-10 lg:px-24 3xl:flex-row 3xl:space-x-12"
  >
    <div class="flex flex-col">
      <div class="self-start rounded-2xl bg-white">
        <div class="mx-10 mt-[34px] flex flex-col">
          <h2
            class="self-start rounded-[5px] bg-HaHuGreen/4 px-[10px] py-[2px] text-base font-normal leading-6 text-primary"
          >
            Blog
          </h2>
          <div
            class="mt-[26px] rounded-[15px] border-[1px] border-HahuGray3 px-9"
          >
            <h2 class="mt-[35px] text-xl font-medium leading-6 text-HahuGray1">
              Daily Readers
            </h2>
            <h3
              class="mt-[9px] text-[15px] font-light leading-[17px] text-HahuGray2"
            >
              Last 30 days
            </h3>
            <line-chart
              class="mt-[18px] mb-[71px]"
              id="users-chart"
              width="480px"
              height="200px"
              :discrete="true"
              label="price"
              :curve="false"
              loading="Loading..."
              :min="7"
              :data="readerData"
              :download="true"
              download="oil price"
            ></line-chart>
          </div>
          <div class="mt-[46px] mb-[29px] flex justify-around">
            <div class="flex flex-col">
              <h1
                class="self-center text-2xl font-bold leading-[60px] text-primary"
              >
                {{ TotalRead }}
              </h1>
              <h2
                class="mt-2 text-center text-lg font-medium leading-[30px] text-gray-500"
              >
                Total Reads
              </h2>
            </div>
            <div class="flex flex-col">
              <h1
                class="self-center text-2xl font-bold leading-[60px] text-primary"
              >
                {{ TodayRead }}
              </h1>
              <h2
                class="mt-2 text-center text-lg font-medium leading-[30px] text-gray-500"
              >
                Today’s Reads
              </h2>
            </div>
            <div class="flex flex-col">
              <h1
                class="self-center text-2xl font-bold leading-[60px] text-primary"
              >
                {{ TotalBlog }}
              </h1>
              <h2
                class="mt-2 text-center text-lg font-medium leading-[30px] text-gray-500"
              >
                Total Blog
              </h2>
            </div>
          </div>
        </div>
      </div>

      <div
        class="mt-9 mb-[23px] flex flex-col rounded-[15px] bg-white pl-[37px]"
      >
        <h2
          class="mt-[37px] self-start rounded-[5px] bg-HaHuGreen/4 px-[10px] py-[2px] text-base font-normal leading-6 text-primary"
        >
          Projects
        </h2>

        <div class="mt-[46px] mb-[29px] flex justify-around">
          <div class="flex flex-col">
            <h1
              class="self-center text-2xl font-bold leading-[60px] text-primary"
            >
              {{ projects }}
            </h1>
            <h2
              class="mt-2 text-center text-lg font-medium leading-[30px] text-gray-500"
            >
              Projects
            </h2>
          </div>
          <div class="flex flex-col">
            <h1
              class="self-center text-2xl font-bold leading-[60px] text-primary"
            >
              {{ published }}
            </h1>
            <h2
              class="mt-2 text-center text-lg font-medium leading-[30px] text-gray-500"
            >
              Published
            </h2>
          </div>
          <div class="flex flex-col">
            <h1
              class="self-center text-2xl font-bold leading-[60px] text-HahuRed"
            >
              {{ Unpublished }}
            </h1>
            <h2
              class="mt-2 text-center text-lg font-medium leading-[30px] text-HahuRed"
            >
              Unpublished
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col">
      <div class="self-start rounded-2xl bg-white">
        <div class="mx-10 mt-[34px] flex flex-col">
          <h2
            class="self-start rounded-[5px] bg-HaHuGreen/4 px-[10px] py-[2px] text-base font-normal leading-6 text-primary"
          >
            Blog
          </h2>
          <div
            class="mt-[26px] rounded-[15px] border-[1px] border-HahuGray3 px-9"
          >
            <h2 class="mt-[35px] text-xl font-medium leading-6 text-HahuGray1">
              Daily Engagment
            </h2>
            <h3
              class="mt-[9px] text-[15px] font-light leading-[17px] text-HahuGray2"
            >
              Last 30 days
            </h3>
            <line-chart
              class="mt-[18px] mb-[71px]"
              id="engagment-chart"
              width="480px"
              height="200px"
              :curve="true"
              loading="Loading..."
              :data="engagmentData"
              :download="true"
              download="oil price"
              has_many="modalities"
            ></line-chart>
          </div>
          <div class="mt-[46px] mb-[29px] flex justify-around">
            <div class="flex flex-col">
              <h1
                class="self-center text-2xl font-bold leading-[60px] text-primary"
              >
                {{ TotalEng }}
              </h1>
              <h2
                class="mt-2 text-center text-lg font-medium leading-[30px] text-gray-500"
              >
                Total Engagment
              </h2>
            </div>
            <div class="flex flex-col">
              <h1
                class="self-center text-2xl font-bold leading-[60px] text-primary"
              >
                {{ TodayEng }}
              </h1>
              <h2
                class="mt-2 text-center text-lg font-medium leading-[30px] text-gray-500"
              >
                Today's Engagment
              </h2>
            </div>
            <div class="flex flex-col">
              <h1
                class="self-center text-2xl font-bold leading-[60px] text-primary"
              >
                {{ TotalRep }}
              </h1>
              <h2
                class="mt-2 text-center text-lg font-medium leading-[30px] text-gray-500"
              >
                Total Reports
              </h2>
            </div>
          </div>
        </div>
      </div>

      <div
        class="mt-9 mb-[23px] flex flex-col rounded-[15px] bg-white pl-[37px]"
      >
        <h2
          class="mt-[37px] self-start rounded-[5px] bg-HaHuGreen/4 px-[10px] py-[2px] text-base font-normal leading-6 text-primary"
        >
          Staff
        </h2>

        <div class="mt-[46px] mb-[29px] flex justify-around">
          <div class="flex flex-col">
            <h1
              class="self-center text-2xl font-bold leading-[60px] text-primary"
            >
              {{ staff }}
            </h1>
            <h2
              class="mt-2 text-center text-lg font-medium leading-[30px] text-gray-500"
            >
              Staff
            </h2>
          </div>
          <div class="flex flex-col">
            <h1
              class="self-center text-2xl font-bold leading-[60px] text-primary"
            >
              {{ active }}
            </h1>
            <h2
              class="mt-2 text-center text-lg font-medium leading-[30px] text-gray-500"
            >
              Active
            </h2>
          </div>
          <div class="flex flex-col">
            <h1
              class="self-center text-2xl font-bold leading-[60px] text-HahuRed"
            >
              {{ inactive }}
            </h1>
            <h2
              class="mt-2 text-center text-lg font-medium leading-[30px] text-HahuRed"
            >
              Inactive
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped></style>

<route lang="yaml">
meta:
  layout: io
</route>
