<script setup>
import user from "@/assets/users.svg?url";
import book from "@/assets/book.svg?url";
import briefcase from "@/assets/briefcase.svg?url";
import Hu from "@/assets/hu.svg?url";

const items = [
  {
    logo: user,
    title: "users",
    width: "w-logo",
    to: { name: "app-users" },
  },
  {
    logo: Hu,
    title: "CMS",
    width: "w-logo",
    to: { name: "app-io-Home" },
  },
  {
    logo: book,
    title: "BASIC",
    width: "w-logo",
    to: { name: "app-basic" },
  },
  {
    logo: briefcase,
    title: "JOBS",
    width: "w-logo",
    to: { name: "app-jobs" },
  },
  {
    logo: user,
    title: "MONITORING",
    width: "w-logo",
    to: { name: "app-monitoring" },
  },
  {
    logo: user,
    title: "CHRONE",
    width: "w-logo",
    to: { name: "app-chrone" },
  },
  {
    logo: user,
    title: "BOTS",
    width: "w-logo",
    to: { name: "app-bots" },
  },
];
</script>

<template>
  <div
    class="w-full overflow-x-hidden bg-secondary-4 dark:bg-secondary-dark h-screen font-body"
  >
    <div class="flex justify-center lg:mx-24 mt-24 pt-2">
      <img src="/images/hahu_logo_150.png" class="object-contain w-72 h-52" />
    </div>
    <div class="flex lg:mx-24 items-center my-0 2xl:my-28">
      <div class="flex w-screen flex-wrap justify-center gap-x-20 gap-y-10">
        <router-link
          class="flex h-52 w-52 bg-white gap-x-10 dark:bg-tertiary-dark shadow-md text-white rounded-lg items-center justify-center flex-col"
          v-for="item in items"
          :key="item.title"
          :to="item.to"
        >
          <div class="flex justify-center">
            <img
              width="80"
              height="80"
              :src="item.logo"
              class="h-logo object-contain text-primary"
              :class="item.width"
            />
          </div>

          <!-- <UserIcon class="text-black dark:text-white stroke-1" :class="item.width"/> -->

          <div class="text-lg text-black dark:text-white pt-7 font-body">
            <!-- {{ $t(`${data.title}`) }} -->
            {{ item.title }}
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<route lang="yaml">
meta:
  layout: empty
  auth: true
</route>
