<script setup>
import { ref, computed } from "vue";
import {
  PlusIcon,
  SearchIcon,
  TrashIcon,
  PencilIcon,
  DotsHorizontalIcon,
  ChevronDownIcon,
  ExclamationIcon,
} from "@heroicons/vue/outline";
import { Menu, MenuButton, MenuItems, MenuItem } from "@headlessui/vue";

import {
  format,
  formatDistanceToNowStrict,
  parseISO,
  compareAsc,
  compareDesc,
} from "date-fns";

import Notify from "@/use/notify";
import useErrorParser from "@/use/errorParser";
import i18n from "@/plugins/i18n";
import { useRouter } from "vue-router";

import roles_gql from "@/composables/users/roles/roles";
import remove_role from "@/composables/users/roles/remove";

const t = i18n.global.t;
const { notify } = Notify();
const { parse } = useErrorParser();
const router = useRouter();

const roles = ref([]);
const role = ref({});

const headers = [
  {
    text: "Name",
    value: "name",
  },
  {
    text: "Created At",
    value: "created_at",
  },
  {
    text: "Updated At",
    value: "updated_at",
  },
  {
    text: "Actions",
    value: "actions",
  },
];

const offset = ref(0);
const limit = ref(25);
const length = ref(0);
const type = ref(undefined);
const search = ref("");
const sort = ref([{ name: "desc" }]);
const confirmOpen = ref(false);

const where = computed(() => {
  return {
    name: {
      _ilike:
        search.value && search.value !== "" ? `%${search.value}%` : undefined,
    },
  };
});

const { onResult, onError, loading, refetch } = roles_gql(offset, limit, where);

const {
  mutate: deleteRoleMutation,
  onDone: onDeleteDone,
  onError: deleteError,
} = remove_role();

onResult(({ data }) => {
  roles.value = data.roles || [];
  length.value = data.length.aggregate.count;
});

onError((err) => {
  notify(parse(err));
});

const editRole = (itm) => {
  router.push({
    name: "app-roles-upsert-name",
    params: { name: itm.name },
  });
};

const deleteRole = (itm) => {
  confirmOpen.value = true;
  role.value = itm;
};

const onDelete = (e) => {
  if (e) {
    deleteRoleMutation({name: role.value.name});
    role.value = {};
  }
};

onDeleteDone(({data}) => {
  notify({
    title: t("role_deleted"),
    description: t("role_deleted_successfully"),
    cardClass: "bg-green-100",
  });
  refetch();
});

deleteError((err) => {
  notify(parse(err));
})
</script>
<template>
  <h-confirm v-model="confirmOpen" @change="onDelete($event)">
    <template v-slot:mainIcon>
      <ExclamationIcon class="h-8 w-8 text-red-600" aria-hidden="true" />
    </template>
    <template v-slot:title> Delete Role </template>
    <template v-slot:message> Are you sure you want to delete this? </template>
    <template #falseButton="{ changeFalse }">
      <button
        @click="changeFalse"
        type="button"
        class="
          mt-3
          w-full
          inline-flex
          justify-center
          rounded-md
          border border-gray-300
          shadow-sm
          px-4
          py-2
          bg-white
          dark:bg-tertiary-dark
          dark:text-white
          dark:border-none
          text-base
          font-medium
          text-gray-700
          hover:bg-gray-50
          focus:outline-none
          focus:ring-2
          focus:ring-offset-2
          focus:ring-transparent
          sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm
        "
        ref="cancelButtonRef"
      >
        Cancel
      </button>
    </template>
    <template #trueButton="{ changeTrue }">
      <button
        @click="changeTrue"
        type="button"
        class="
          w-full
          inline-flex
          justify-center
          rounded-md
          border border-transparent
          shadow-sm
          px-4
          py-2
          bg-red-600
          text-base
          font-medium
          text-white
          hover:bg-red-700
          focus:outline-none
          focus:ring-2
          focus:ring-offset-2
          focus:ring-transparent
          sm:ml-3 sm:w-auto sm:text-sm
        "
      >
        Delete
      </button>
    </template>
  </h-confirm>
  <div class="flex justify-between p-6 m-6 rounded-md">
    <div class="mt-1 md:w-96">
      <h-text-field
        v-model="search"
        name="search"
        support-class="rounded-3xl"
        :trailing-icon="SearchIcon"
        placeholder="Search"
        placeholder-style="text-gray-500"
      ></h-text-field>
    </div>
    <div>
      <button
        @click="router.push({ name: 'app-roles-upsert-insert' })"
        class="
          flex
          bg-primary
          hover:opacity-80
          p-3
          text-white
          rounded-md
          shadow-md
        "
      >
        <PlusIcon class="h-5 w-5 mt-0.5" />
        <span class="text-md font-bold">Create New</span>
      </button>
    </div>
  </div>
  <div class="p-6">
    <v-table
      :headers="headers"
      :items="roles"
      :loading="loading"
      v-model:sort="sort"
    >
      <template v-slot:created_at="{ item }">
        {{
          formatDistanceToNowStrict(new Date(item.created_at), {
            addSuffix: true,
          })
        }}
      </template>
      <template v-slot:updated_at="{ item }">
        {{
          formatDistanceToNowStrict(
            item.updated_at !== null ? new Date(item.updated_at) : new Date(),
            {
              addSuffix: true,
            }
          )
        }}
      </template>
      <template v-slot:actions="{ item }">
        <div class="ml-2">
          <Menu as="div" class="relative inline-block text-left">
            <div>
              <MenuButton>
                <DotsHorizontalIcon
                  class="w-6 h-6 mx-auto hover:text-primary z-10"
                  aria-hidden="true"
                />
              </MenuButton>
              <transition
                enter-active-class="transition duration-100 ease-out"
                enter-from-class="transform scale-95 opacity-0"
                enter-to-class="transform scale-100 opacity-100"
                leave-active-class="transition duration-75 ease-in"
                leave-from-class="transform scale-100 opacity-100"
                leave-to-class="transform scale-95 opacity-0"
              >
                <MenuItems
                  class="
                    absolute
                    right-0
                    w-56
                    mt-2
                    origin-top-right
                    bg-white
                    divide-y divide-gray-100
                    dark:bg-tertiary-dark
                    rounded-md
                    shadow-lg
                    ring-1 ring-primary ring-opacity-5
                    focus:outline-none
                    z-10
                  "
                >
                  <div class="px-1 py-1 z-10">
                    <MenuItem v-slot="{ active }" class="z-10">
                      <a
                        :class="[
                          active
                            ? 'hover:bg-primary text-white'
                            : 'text-secondary-8',
                          'group flex rounded-md items-center w-full px-3 font-body py-2 text-sm',
                        ]"
                        @click="editRole(item)"
                      >
                        <PencilIcon class="w-5 h-5 mr-5" />
                        Edit
                      </a>
                    </MenuItem>
                    <MenuItem v-slot="{ active }">
                      <a
                        :class="[
                          active
                            ? 'hover:bg-primary text-white'
                            : 'text-secondary-8',
                          'group flex rounded-md items-center w-full px-3 font-body py-2 text-sm ',
                        ]"
                        @click="deleteRole(item)"
                      >
                        <TrashIcon class="w-5 h-5 mr-5" />
                        Delete
                      </a>
                    </MenuItem>
                  </div>
                </MenuItems>
              </transition>
            </div>
          </Menu>
        </div>
      </template>
    </v-table>
    <div class="text-white">
      <paginate
        v-model:offset="offset"
        :items-per-page="limit"
        :total-data="length"
        class=""
      >
      </paginate>
    </div>
  </div>
</template>
<route lang="yaml">
meta:
  layout: app
</route>
