<script setup>
import { XIcon } from "@heroicons/vue/solid";
import { ref } from "vue";

import {
  EyeIcon,
  PencilIcon,
  TrashIcon,
  OfficeBuildingIcon,
  PlusIcon,
} from "@heroicons/vue/outline";

import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
  DialogDescription,
  Switch,
} from "@headlessui/vue";

// ================ CONSTANTS ========================
const branchs = [
  { name: "Bahr Dar", phone: "+251-843-672-431" },
  { name: "Sodo", phone: "+251-843-672-431" },
  { name: "Nazerat", phone: "+251-843-672-431" },
  { name: "Arba Minch", phone: "+251-843-672-431" },
  { name: "Hawassa", phone: "+251-843-672-431" },
  { name: "Dilla", phone: "+251-843-672-431" },
  { name: "Addis Ababa", phone: "+251-843-672-431" },
  { name: "Jigjiga", phone: "+251-843-672-431" },
  { name: "Dessie", phone: "+251-843-672-431" },
];
const enabled = ref(false);
const isOpen = ref(false);
const isDelete = ref(false);

// ================== FUNCTIONS =================

function closeModal() {
  isOpen.value = false;
}
function openModal() {
  isOpen.value = true;
}

function closeDelete() {
  isDelete.value = false;
}

function deleteSocial() {
  isDelete.value = true;
}
</script>

<template>
  <div class="mx-10 flex flex-col md:mx-20 lg:mx-32 xl:mx-[193px]">
    <div class="mt-16 flex items-center justify-between">
      <div class="flex items-center xs:space-x-4">
        <OfficeBuildingIcon class="w-7 text-primary" />
        <span
          class="text-xl font-medium leading-4 text-primary xs:text-2xl sm:text-3xl"
        >
          Branch Offices
        </span>
      </div>

      <button
        class="flex items-center rounded-md bg-primary py-1 px-3 text-base font-medium leading-6 text-white xs:py-[9px] xs:px-[25px]"
        @click="openModal"
      >
        <PlusIcon class="mr-1 xs:mr-4 text-white w-5" /> New Branch
      </button>
    </div>

    <div class="relative mt-[55px] flex items-center">
      <input
        class="w-full rounded-2xl px-4 py-4 text-xl font-normal leading-6 text-HahuGray2 focus:outline-primary md:px-8 2xl:px-16 2xl:py-7"
        placeholder="Search"
      />
      <button
        class="absolute right-5 cursor-pointer rounded bg-primary px-[11px] py-[7px] text-xs font-medium leading-4 text-white 2xl:right-10"
      >
        Search
      </button>
    </div>

    <div
      class="mt-[88px] mb-10 grid gap-6 lg:grid-cols-2 lg:gap-5 xl:grid-cols-3 xl:gap-[53px] 2xl:grid-cols-4"
    >
      <div
        v-for="(branch, index) in branchs"
        :key="index"
        class="group relative flex flex-col space-x-2 rounded-[15px] bg-white px-[14px] py-[17px]"
      >
        <div class="flex flex-col space-x-2">
          <div class="flex justify-between">
            <h3 class="text-xl font-semibold leading-6">{{ branch.name }}</h3>
            <EyeIcon class="text-primary w-5" />
          </div>
          <h3 class="text-base font-normal leading-[30px]">
            {{ branch.phone }}
          </h3>
        </div>
        <div
          class="absolute top-0 right-0 hidden h-full w-full justify-center space-x-8 rounded-[15px] bg-Hahugreen/3 bg-opacity-70 py-6 text-black group-hover:flex"
        >
          <button>
            <PencilIcon class="w-6 text-primary" @click="openModal" />
          </button>
          <div class="h-full rounded-full border-2 border-HahuGray2"></div>
          <button>
            <TrashIcon class="w-6 text-red-500" @click="deleteSocial" />
          </button>
        </div>
      </div>
    </div>
    <TransitionRoot appear :show="isDelete" as="template">
      <Dialog as="div" @close="closeDelete" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full transform overflow-hidden rounded-2xl bg-white p-6 px-[74px] text-left align-middle shadow-xl transition-all md:max-w-md lg:max-w-lg xl:max-w-xl"
              >
                <DialogTitle
                  as="h3"
                  class="mt-[38px] text-lg font-medium leading-6 text-gray-900"
                >
                  Are you sure?
                </DialogTitle>
                <div class="mt-[51px]">
                  <p class="text-xl font-normal leading-4 text-HahuGray1">
                    Are you sure you want to
                    <span class="text-red-600">Delete</span> this branch?
                  </p>
                </div>

                <div class="mt-[53px] flex justify-center space-x-[50px]">
                  <button
                    type="button"
                    class="rounded border-2 border-Hahugreen/3 px-[21px] py-[7px] text-xs font-medium leading-4 text-HahuGray1"
                    @click="closeDelete"
                  >
                    No
                  </button>
                  <button
                    type="button"
                    class="rounded bg-HahuRed px-[21px] py-[7px] text-xs font-medium leading-4 text-white"
                    @click="closeDelete"
                  >
                    Yes
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>

    <TransitionRoot appear :show="isOpen" as="template">
      <Dialog as="div" @close="closeModal" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full max-w-lg transform overflow-hidden rounded-2xl bg-white p-6 pl-11 text-left align-middle shadow-xl transition-all"
              >
                <DialogTitle
                  as="h3"
                  class="mt-[30px] flex items-center justify-between text-[22px] font-bold leading-6 text-primary"
                >
                  <div class="flex">
                    <img :src="branch" class="mr-3" />
                    Branch Office
                  </div>
                  <XIcon
                    @click="closeModal"
                    class="mr-5 h-5 w-5 cursor-pointer text-HahuGray1"
                  />
                </DialogTitle>
                <div class="mt-7 flex flex-col pr-20">
                  <h2 class="text-lg font-normal leading-6 text-black">
                    Branch Name
                  </h2>
                  <h-text-field-2
                    name="label"
                    inputClass="mt-8 px-[13px] py-[9px] border-[1px] border-Hahugreen/3"
                    placeholder="Branch Name"
                    accept="image/*"
                  >
                  </h-text-field-2>

                  <h2 class="text-lg font-normal leading-6 text-black">
                    Phone Number
                  </h2>

                  <div class="mt-5 flex">
                    <span
                      class="text-Hahugray/1 inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-200 px-2 py-[3px] text-lg"
                    >
                      +251
                    </span>
                    <input
                      type="text"
                      id="website-admin"
                      class="text-Hahugray/1 block w-full min-w-0 flex-1 rounded-none rounded-r-lg border-[1px] border-Hahugreen/3 bg-white p-2.5 text-base font-normal outline-1 outline-Hahugreen/3"
                      placeholder="Phone number"
                    />
                  </div>
                  <div class="mt-9 flex items-center">
                    <h4 class="mr-6 text-lg font-normal leading-6 text-black">
                      Visibility
                    </h4>
                    <Switch
                      v-model="enabled"
                      :class="enabled ? 'bg-primary-lite' : 'bg-gray-200'"
                      class="relative inline-flex h-[28px] w-[64px] shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75"
                    >
                      <span class="sr-only"></span>
                      <span
                        aria-hidden="true"
                        :class="enabled ? 'translate-x-9' : 'translate-x-0'"
                        class="pointer-events-none inline-block h-[24px] w-[24px] transform rounded-full bg-white shadow-lg ring-0 transition duration-200 ease-in-out"
                      />
                    </Switch>
                  </div>
                </div>

                <div class="mt-20 flex justify-end space-x-[26px] pr-20">
                  <button
                    type="button"
                    class="rounded-md border-2 border-Hahugreen/3 px-[17px] py-[9px] text-sm font-medium leading-[20px] text-HahuGray1"
                    @click="closeModal"
                  >
                    Cancel
                  </button>
                  <button
                    type="button"
                    class="rounded-md bg-primary px-[17px] py-[9px] text-sm font-medium leading-[20px] text-white"
                    @click="closeModal"
                  >
                    Save
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </div>
</template>

<style scoped></style>

<route lang="yaml">
meta:
  layout: io
</route>
