<script setup>
import branch from "@/assets/BranchWhite.svg?url";
import { GlobeAltIcon, OfficeBuildingIcon } from "@heroicons/vue/outline";
</script>
<template>
  <div
    class="absolute flex h-dscreen flex-col items-center justify-center space-y-10 lg:ml-10 lg:flex-row lg:space-y-0 lg:space-x-10 xl:ml-[183px] xl:space-x-40 2xl:space-x-[218px]"
  >
    <router-link
      :to="{ path: 'other/branch' }"
      class="flex items-center self-center gap-x-10 rounded-[15px] bg-white p-3 lg:p-6 2xl:p-8 text-2xl font-medium text-black"
    >
      <div class="flex-shrink-0 rounded-full bg-primary p-3 2xl:p-4">
        <OfficeBuildingIcon class="text-white w-10" />
      </div>
      <span>Branch Office</span>
    </router-link>

    <router-link
      :to="{ path: 'other/SocialMedia' }"
      class="flex items-center self-center gap-x-10 rounded-[15px] bg-white p-3 lg:p-6 2xl:p-8 text-2xl font-medium text-black"
    >
      <div class="flex-shrink-0 rounded-full bg-primary p-2 2xl:p-4">
        <GlobeAltIcon class="text-white w-10" />
      </div>
      <span>Social Media</span>
    </router-link>
  </div>
</template>

<style scoped></style>

<route lang="yaml">
meta:
  layout: io
</route>
