<script setup>
import { ref } from "vue";
import social from "@/assets/socialGreen.svg?url";
import { XIcon } from "@heroicons/vue/solid";
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
  DialogDescription,
} from "@headlessui/vue";
import {
  EyeIcon,
  PencilIcon,
  TrashIcon,
  OfficeBuildingIcon,
  PlusIcon,
  GlobeAltIcon,
} from "@heroicons/vue/outline";

// ================== CONSTANTS ================
const isOpen = ref(false);
const isDelete = ref(false);

const socials = [
  {
    logo: "/icons/LinkedIn.png",
    label: "LinkedIn",
    link: "www.linkedin.com/hahujobs",
  },
  {
    logo: "/icons/LinkedIn.png",
    label: "LinkedIn",
    link: "www.linkedin.com/hahujobs",
  },
  {
    logo: "/icons/LinkedIn.png",
    label: "LinkedIn",
    link: "www.linkedin.com/hahujobs",
  },
  {
    logo: "/icons/LinkedIn.png",
    label: "LinkedIn",
    link: "www.linkedin.com/hahujobs",
  },
];

// ============ FUNCTIONS ====================

function closeModal() {
  isOpen.value = false;
}
function openModal() {
  isOpen.value = true;
}

function closeDelete() {
  isDelete.value = false;
}

function deleteSocial() {
  isDelete.value = true;
}
</script>
<template>
  <div
    class="flex w-full flex-col px-5 xs:pl-[55px] xl:w-auto 2xl:items-center"
  >
    <div class="mt-16 flex w-full items-center justify-between">
      <div class="flex items-center xs:space-x-4">
        <GlobeAltIcon class="w-10 text-primary" />
        <span
          class="text-xl font-medium leading-4 text-primary xs:text-2xl sm:text-3xl"
        >
          Social Media
        </span>
      </div>

      <button
        class="flex items-center rounded-md bg-primary py-1 px-3 text-base font-medium leading-6 text-white xs:py-[9px] xs:px-[25px]"
        @click="openModal"
      >
        <PlusIcon class="mr-1 xs:mr-4 w-5 text-white" /> New Social
      </button>
    </div>

    <div
      class="mt-32 mb-20 grid grid-cols-1 justify-items-center gap-y-10 xl:grid-cols-2 xl:gap-x-10 2xl:gap-x-20 4xl:grid-cols-3"
    >
      <div v-for="(social, index) in socials" :key="index" class="flex">
        <div class="flex items-center rounded-md bg-white">
          <img :src="social.logo" class="pl-6" />
          <div class="mt-4 mb-5 flex flex-col px-4 2xl:px-[38px]">
            <h2 class="text-xl font-medium leading-4 text-HahuGray1">
              {{ social.label }}
            </h2>
            <h3
              class="mt-9 pr-10 text-lg font-medium leading-4 text-HahuGray2 2xl:pr-10"
            >
              {{ social.link }}
            </h3>
          </div>
          <div class="flex flex-shrink-0 flex-col items-end space-y-8 pr-8">
            <button>
              <PencilIcon
                class="hover:scale-110 h-6 text-secondary"
                @click="openModal"
              />
            </button>
            <button>
              <TrashIcon
                class="hover:scale-110 h-6 text-secondary"
                @click="deleteSocial"
              />
            </button>
          </div>
        </div>
      </div>
    </div>

    <TransitionRoot appear :show="isOpen" as="template">
      <Dialog as="div" @close="closeModal" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full max-w-lg transform overflow-hidden rounded-2xl bg-white p-6 pl-11 text-left align-middle shadow-xl transition-all"
              >
                <DialogTitle
                  as="h3"
                  class="mt-[30px] flex items-center justify-between text-[22px] font-bold leading-6 text-primary"
                >
                  <div class="flex">
                    <GlobeAltIcon class="w-7 text-primary mr-3" />
                    Social Media
                  </div>
                  <XIcon
                    @click="closeModal"
                    class="mr-5 h-5 w-5 cursor-pointer text-HahuGray1"
                  />
                </DialogTitle>
                <div class="mt-7 flex flex-col pr-20">
                  <h2 class="text-lg font-normal leading-6 text-black">
                    Label
                  </h2>
                  <h-text-field
                    name="label"
                    inputClass="mt-8 px-[13px] py-[9px] border-[1px] border-Hahugreen/3"
                    placeholder="Social Media Name"
                    accept="image/*"
                  />
                  <h2 class="mb-8 text-lg font-normal leading-6 text-black">
                    Logo
                  </h2>
                  <h-file-upload />

                  <h2 class="mt-8 text-lg font-normal leading-6 text-black">
                    Link
                  </h2>
                  <h-text-field
                    name="link"
                    inputClass="mt-8 px-[13px] py-[9px] border-[1px] border-Hahugreen/3"
                    placeholder="Social Media Name"
                  />
                </div>

                <div class="mt-20 flex justify-end space-x-[26px] pr-20">
                  <button
                    type="button"
                    class="rounded-md border-2 border-Hahugreen/3 px-[17px] py-[9px] text-sm font-medium leading-[20px] text-HahuGray1"
                    @click="closeModal"
                  >
                    Cancel
                  </button>
                  <button
                    type="button"
                    class="rounded-md bg-primary px-[17px] py-[9px] text-sm font-medium leading-[20px] text-white"
                    @click="closeModal"
                  >
                    Save
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>

    <TransitionRoot appear :show="isDelete" as="template">
      <Dialog as="div" @close="closeDelete" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full transform overflow-hidden rounded-2xl bg-white p-6 px-[74px] text-left align-middle shadow-xl transition-all md:max-w-md lg:max-w-lg xl:max-w-xl"
              >
                <DialogTitle
                  as="h3"
                  class="mt-[38px] text-lg font-medium leading-6 text-gray-900"
                >
                  Are you sure?
                </DialogTitle>
                <div class="mt-[51px]">
                  <p class="text-xl font-normal leading-4 text-HahuGray1">
                    Are you sure you want to
                    <span class="text-red-600">Delete</span> this link?
                  </p>
                </div>

                <div class="mt-[53px] flex justify-center space-x-[50px]">
                  <button
                    type="button"
                    class="rounded border-2 border-Hahugreen/3 px-[21px] py-[7px] text-xs font-medium leading-4 text-HahuGray1"
                    @click="closeDelete"
                  >
                    No
                  </button>
                  <button
                    type="button"
                    class="rounded bg-HahuRed px-[21px] py-[7px] text-xs font-medium leading-4 text-white"
                    @click="closeDelete"
                  >
                    Yes
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </div>
</template>

<route lang="yaml">
meta:
  layout: io
</route>
