<script setup>
import { ref, watchEffect } from "vue";
import { Switch } from "@headlessui/vue";
import { PlusIcon, TrashIcon } from "@heroicons/vue/solid";

const enabled = ref(false);
const courses = ref([]);
const items = ref([]);
const dropFiles = ref([]);

const addMore = () => {
  items.value.push({ label: "", type: "", required: true });
  console.log(items.value);
};

const remove = (index) => {
  items.value.splice(index, 1);
};

watchEffect(() => {
  console.log(items.value);
});
</script>
<template>
  <div class="m-10">
    <h1 class="w-full text-secondary-2 text-3xl font-thin self-left">
      Create New Document Type
    </h1>
    <section
      class="w-full my-2 h-auto flex flex-col justify-center shadow-full overflow-x-auto"
    >
      <div class="flex gap-x-10">
        <div class="w-5/12 mx-5 my-10 flex flex-col gap-y-10">
          <input
            type="text"
            id="name"
            placeholder="Name"
            class="w-full text-xl rounded-md border border-gray-400 p-3 hover:border-gray-900 focus:outline-none focus:ring-0 focus:border-gray-900 focus:ring-gray-900 active:ring-0 active:ring-gray-700"
          />
          <o-field label="">
            <o-select
              class="rounded-md w-full border-1 border-gray-400 hover:border-900 focus:border-1 focus:border-secondary focus:ring-0"
              placeholder="Type"
              expanded
            >
              <option value="flint" class="hover:bg-primary">
                Educational
              </option>
              <option value="silver">Identification</option>
              <option value="silver">Employment</option>
            </o-select>
          </o-field>
          <o-field label="">
            <o-select
              class="rounded-md w-full border-1 border-gray-400 hover:border-900 focus:border-1 focus:border-secondary focus:ring-0"
              placeholder="Verifier"
              expanded
            >
            </o-select>
          </o-field>
          <o-field label="">
            <o-select
              class="rounded-md w-full border-1 border-gray-400 hover:border-900 focus:border-1 focus:border-secondary focus:ring-0"
              placeholder="Authenticator"
              expanded
            >
            </o-select>
          </o-field>
          <div class="flex flex-col">
            <textarea
              rows="10"
              placeholder="Description"
              class="rounded-md border border-gray-400 p-3 hover:border-gray-900 focus:outline-none focus:ring-0 focus:border-gray-900 focus:ring-gray-900 active:ring-0 active:ring-gray-700"
            />
          </div>
        </div>

        <section class="w-7/12 my-10">
          <h1 class="flex justify-center text-xl font-medium text-secondary">
            Properties
          </h1>
          <div class="w-full mt-4 p-10">
            <div v-for="(item, index) in items" :key="index">
              <div class="flex justify-start flex-wrap ml-2 mt-4 gap-x-5">
                <div class="w-3/12">
                  <input
                    v-if="items.length > 0"
                    v-model="item.label"
                    type="text"
                    id="text"
                    placeholder="Name"
                    class="w-full text-lg rounded-md border border-gray-400 p-2 hover:border-gray-900 focus:outline-none focus:ring-0 focus:border-gray-900 focus:ring-gray-900 active:ring-0 active:ring-gray-700"
                  />
                </div>

                <div class="w-3/12">
                  <o-field label="">
                    <o-select
                      class="rounded-md w-full border-1 border-gray-400 hover:border-900 focus:border-1 focus:border-secondary focus:ring-0"
                      placeholder="Region / City"
                      v-model="item.type"
                      expanded
                    >
                      <option value="Addis Ababa" class="hover:bg-primary">
                        Addis Ababa
                      </option>
                      <option value="Gambela">Gambela</option>
                    </o-select>
                  </o-field>
                </div>

                <o-switch
                  v-model="item.required"
                  variant="warning"
                  class="w-2/12"
                  ><span class="px-2">Required</span></o-switch
                >

                <div class="w-2/12">
                  <TrashIcon
                    class="w-14 text-red-600 hover:bg-red-300 hover:rounded-full p-3 active:bg-red-400"
                    @click="remove(index)"
                    v-if="items.length > 0"
                  >
                    Remove
                  </TrashIcon>
                </div>
              </div>
            </div>
            <div class="">
              <PlusIcon
                class="w-12 text-primary hover:bg-whitePrimary hover:rounded-full p-2 active:bg-primary-lite"
                @click="addMore()"
              >
                Add More
              </PlusIcon>
            </div>
          </div>
        </section>
      </div>

      <div class="w-full border-t-2 py-1"></div>

      <div class="mx-10 mb-5 self-end flex gap-x-10">
        <button
          class="px-5 py-2 rounded-md text-secondary text-lg font-normal border-1 shadow-full"
        >
          Cancel
        </button>
        <button
          class="px-5 py-2 bg-primary rounded-md text-white text-lg font-normal shadow-full"
        >
          Save
        </button>
      </div>
    </section>
  </div>
</template>

<route lang="yaml">
meta:
  layout: basic
</route>

<style>
.ex-center {
  text-align: center;
}
:root {
  --oruga-sidebar-overlay: #0062ff;
  --oruga-sidebar-content-background-color: #0062ff;
}
</style>
