<script setup>
import { ref } from "vue";
</script>
<template>
  <div class="m-10">
    <h1 class="w-full text-secondary-2 text-3xl font-thin self-left">
      Create Education Level
    </h1>
    <section
      class="w-full my-2 h-auto flex flex-col justify-center shadow-full overflow-x-auto"
    >
      <div class="mx-5 my-10 flex flex-col gap-y-10">
        <div>
          <input
            type="text"
            id="text"
            placeholder="Name"
            class="w-full text-xl rounded-md border border-gray-400 p-3 hover:border-gray-900 focus:outline-none focus:ring-0 focus:border-gray-900 focus:ring-gray-900 active:ring-0 active:ring-gray-700"
          />
        </div>
        <div>
          <input
            type="number"
            id="text"
            placeholder="Rank"
            class="w-full text-xl rounded-md border border-gray-400 p-3 hover:border-gray-900 focus:outline-none focus:ring-0 focus:border-gray-900 focus:ring-gray-900 active:ring-0 active:ring-gray-700"
          />
        </div>

        <div class="flex flex-col">
          <textarea
            rows="10"
            placeholder="Description"
            class="rounded-md border border-gray-400 p-3 hover:border-gray-900 focus:outline-none focus:ring-0 focus:border-gray-900 focus:ring-gray-900 active:ring-0 active:ring-gray-700"
          />
        </div>
      </div>
      <div class="w-full border-t-2 py-1"></div>
      <div class="mx-10 mb-5 self-end flex gap-x-10">
        <button
          class="px-5 py-2 rounded-md text-secondary text-lg font-normal border-1 shadow-full"
        >
          Cancel
        </button>
        <button
          class="px-5 py-2 bg-primary rounded-md text-white text-lg font-normal shadow-full"
        >
          Save
        </button>
      </div>
    </section>
  </div>
</template>


<route lang="yaml">
  meta:
    layout: basic
  </route>
  