<script setup>
import { ref, defineComponent } from "vue";
import { PhotographIcon } from "@heroicons/vue/solid";
import HFileupload from "@/components/inputs/h-fileupload.vue";

const dropFiles = ref([]);
const deleteDropFile = (index) => {
  dropFiles.value.splice(index, 1);
};
</script>
<template>
  <div class="m-10">
    <h1 class="w-full text-secondary-2 text-3xl font-thin self-left">
      Create New Entity
    </h1>
    <section
      class="w-full my-2 h-auto flex flex-col justify-center shadow-full overflow-x-auto"
    >
      <div class="flex gap-x-10">
        <section class="w-4/12 m-3">
          <HFileupload
            name="image"
            :uploadCount="1"
            :fileSize="2"
            labelClass="m-5 border-2 border-dashed border-primary-lite cursor-pointer"
          >
            <template v-slot:uploadLabel>
              <div class="p-1 flex justify-center">
                <PhotographIcon
                  class="w-14 text-primary cursor-pointer p-2 hover:bg-whitePrimary active:bg-primary-lite rounded-full"
                />
              </div>
            </template>
          </HFileupload>
        </section>

        <div class="w-8/12 mx-5 my-10 flex flex-col gap-y-10">
          <div class="flex gap-x-5">
            <input
              type="text"
              id="name"
              placeholder="Name"
              class="w-full text-xl rounded-md border border-gray-400 p-3 hover:border-gray-900 focus:outline-none focus:ring-0 focus:border-gray-900 focus:ring-gray-900 active:ring-0 active:ring-gray-700"
            />
            <input
              type="number"
              id="tin_number"
              placeholder="TIN Number"
              class="w-full text-xl rounded-md border border-gray-400 p-3 hover:border-gray-900 focus:outline-none focus:ring-0 focus:border-gray-900 focus:ring-gray-900 active:ring-0 active:ring-gray-700"
            />
            <input
              type="number"
              id="phone"
              placeholder="Phone Number"
              class="w-full text-xl rounded-md border border-gray-400 p-3 hover:border-gray-900 focus:outline-none focus:ring-0 focus:border-gray-900 focus:ring-gray-900 active:ring-0 active:ring-gray-700"
            />
          </div>
          <div class="flex gap-x-5">
            <input
              type="text"
              id="alternative_phone"
              placeholder="Alternative Phone Number"
              class="w-full text-xl rounded-md border border-gray-400 p-3 hover:border-gray-900 focus:outline-none focus:ring-0 focus:border-gray-900 focus:ring-gray-900 active:ring-0 active:ring-gray-700"
            />
            <input
              type="email"
              id="Email"
              placeholder="Email"
              class="w-full text-xl rounded-md border border-gray-400 p-3 hover:border-gray-900 focus:outline-none focus:ring-0 focus:border-gray-900 focus:ring-gray-900 active:ring-0 active:ring-gray-700"
            />
            <input
              type="test"
              id="contact_person_name"
              placeholder="contact_person_name"
              class="w-full text-xl rounded-md border border-gray-400 p-3 hover:border-gray-900 focus:outline-none focus:ring-0 focus:border-gray-900 focus:ring-gray-900 active:ring-0 active:ring-gray-700"
            />
          </div>
          <div class="flex gap-x-5 items-center">
            <div class="w-4/12">
              <input
                type="test"
                id="contact_person_name"
                placeholder="contact_person_name"
                class="w-full text-xl rounded-md border border-gray-400 p-1.5 hover:border-gray-900 focus:outline-none focus:ring-0 focus:border-gray-900 focus:ring-gray-900 active:ring-0 active:ring-gray-700"
              />
            </div>
            <div class="w-8/12 flex gap-x-5">
              <o-field label="">
                <o-select
                  class="rounded-md w-full border-1 border-gray-400 hover:border-900 focus:border-1 focus:border-secondary focus:ring-0"
                  placeholder="Type"
                  expanded
                >
                  <option value="flint" class="hover:bg-primary">Region</option>
                  <option value="silver">City</option>
                </o-select>
              </o-field>
              <o-field label="">
                <o-select
                  class="rounded-md w-full border-1 border-gray-400 hover:border-900 focus:border-1 focus:border-secondary focus:ring-0"
                  placeholder="Type"
                  expanded
                >
                  <option value="flint" class="hover:bg-primary">Region</option>
                  <option value="silver">City</option>
                </o-select>
              </o-field>
            </div>
          </div>

          <div class="flex gap-x-5 items-center">
            <o-field label="">
              <o-select
                class="rounded-md w-full border-1 border-gray-400 hover:border-900 focus:border-1 focus:border-secondary focus:ring-0"
                placeholder="Type"
                expanded
              >
                <option value="flint" class="hover:bg-primary">Region</option>
                <option value="silver">City</option>
              </o-select>
            </o-field>
            <o-field label="">
              <o-select
                class="rounded-md w-full border-1 border-gray-400 hover:border-900 focus:border-1 focus:border-secondary focus:ring-0"
                placeholder="Type"
                expanded
              >
                <option value="flint" class="hover:bg-primary">Region</option>
                <option value="silver">City</option>
              </o-select>
            </o-field>

            <o-field label="">
              <o-select
                class="rounded-md w-full border-1 border-gray-400 hover:border-900 focus:border-1 focus:border-secondary focus:ring-0"
                placeholder="Type"
                expanded
              >
                <option value="flint" class="hover:bg-primary">Region</option>
                <option value="silver">City</option>
              </o-select>
            </o-field>
          </div>

          <div class="flex flex-col">
            <textarea
              rows="10"
              placeholder="Description"
              class="rounded-md border border-gray-400 p-3 hover:border-gray-900 focus:outline-none focus:ring-0 focus:border-gray-900 focus:ring-gray-900 active:ring-0 active:ring-gray-700"
            />
          </div>
        </div>
      </div>

      <div class="w-full border-t-2 py-1"></div>

      <div class="mx-10 mb-5 self-end flex gap-x-10">
        <button
          class="px-5 py-2 rounded-md text-secondary text-lg font-normal border-1 shadow-full"
        >
          Cancel
        </button>
        <button
          class="px-5 py-2 bg-primary rounded-md text-white text-lg font-normal shadow-full"
        >
          Save
        </button>
      </div>
    </section>
  </div>
</template>

<route lang="yaml">
meta:
  layout: basic
</route>

<style>
.ex-center {
  text-align: center;
}
</style>
