<script setup>
import { ref, watchEffect } from "vue";
import {
  LMap,
  LTileLayer,
  LMarker,
  LControlScale,
  LTooltip,
  LControlZoom,
  LPopup,
  LIcon,
  // LatLng,
} from "@vue-leaflet/vue-leaflet";
import "leaflet/dist/leaflet.css";
import "leaflet/dist/leaflet.css";
import { LocationMarkerIcon } from "@heroicons/vue/solid";

import { InformationCircleIcon } from "@heroicons/vue/outline";

const zoom = ref(10);
const togglemap = ref(false);
const Longval = ref(38.75965);
const Latval = ref(9.011047);
const markerValue = ref([Latval.value, Longval.value]);

const onChange = () => {
  console.log("marker value", markerValue.value);
  let { lng, lat } = markerValue.value;
  console.log("array value", lng || markerValue.value[0]);
  Longval.value = lng || markerValue.value[1];
  Latval.value = lat || markerValue.value[0];
  console.log("lng value", markerValue.value.lng);
};
watchEffect(() => {});
</script>
<template>
  <div class="m-10">
    <h1 class="w-full text-secondary-2 text-3xl font-thin self-left">
      Create Woreda / Towns
    </h1>
    <section
      class="w-full my-2 h-auto flex flex-col justify-center shadow-full overflow-x-auto"
    >
      <div class="mx-5 my-10 flex flex-col gap-y-10">
        <div>
          <input
            type="text"
            id="text"
            placeholder="Name"
            class="w-full text-xl rounded-md border border-gray-400 p-3 hover:border-gray-900 focus:outline-none focus:ring-0 focus:border-gray-900 focus:ring-gray-900 active:ring-0 active:ring-gray-700"
          />
        </div>
        <div class="flex gap-x-10">
          <div class="w-6/12">
            <o-field label="">
              <o-select
                class="rounded-md w-full border-1 border-gray-400 hover:border-900 focus:border-1 focus:border-secondary focus:ring-0"
                placeholder="Subcity / Zone"
                expanded
              >
                <option value="flint" class="hover:bg-primary">Flint</option>
                <option value="silver">Silver</option>
              </o-select>
            </o-field>
          </div>
          <div class="w-6/12">
            <o-field label="">
              <o-select
                class="rounded-md w-full border-1 border-gray-400 hover:border-900 focus:border-1 focus:border-secondary focus:ring-0"
                placeholder="Type"
                expanded
              >
                <option value="flint" class="hover:bg-primary">Flint</option>
                <option value="silver">Silver</option>
              </o-select>
            </o-field>
          </div>
        </div>
        <div class="flex w-full gap-x-10">
          <div class="flex w-6/12 flex-col">
            <label class="text-secondary">Longtiude</label>
            <input
              type="text"
              id="text"
              v-model="Longval"
              placeholder="Longtiude"
              class="w-full text-xl rounded-md border border-gray-400 p-3 hover:border-gray-900 focus:outline-none focus:ring-0 focus:border-gray-900 focus:ring-gray-900 active:ring-0 active:ring-gray-700"
            />
          </div>
          <div class="flex w-6/12 flex-col">
            <label class="text-secondary">Latitude</label>
            <input
              type="text"
              id="text"
              v-model="Latval"
              placeholder="Latitude"
              class="w-full text-xl rounded-md border border-gray-400 p-3 hover:border-gray-900 focus:outline-none focus:ring-0 focus:border-gray-900 focus:ring-gray-900 active:ring-0 active:ring-gray-700"
            />
          </div>
          <!-- <div
                  class="flex items-center p-3 rounded-full shadow-xl active:scale-x-125 active:scale-y-50 duration-100"
                  :class="togglemap ? 'bg-red-500' : 'bg-primary'"
                  @click="togglemap = !togglemap"
                >
                  <MapIcon class="w-7 text-white" />
                </div> -->
        </div>

        <div class="h-96 w-full">
          <h1 class="text-2xl text-secondary-2 flex mb-2">
            <InformationCircleIcon class="w-7 text-primary" />
            Drag the marker to set Latitude and Longtiude values
          </h1>
          <l-map
            v-model="zoom"
            v-model:zoom="zoom"
            :options="{ zoomControl: false }"
            :center="markerValue"
            class="z-0"
          >
            <l-tile-layer
              url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
            ></l-tile-layer>
            <l-control-zoom position="bottomright"></l-control-zoom>
            <l-control-scale
              position="topright"
              :imperial="true"
              :metric="false"
            ></l-control-scale>
            <l-marker
              v-model:lat-lng="markerValue"
              @update:latLng="onChange"
              draggable
            >
              <l-icon :icon-size="[20, 20]">
                <LocationMarkerIcon class="w-8 text-primary" />
              </l-icon>
            </l-marker>
          </l-map>
        </div>

        <div class="flex flex-col mt-10">
          <label class="text-secondary">Description</label>
          <textarea
            rows="10"
            placeholder="Description"
            class="rounded-md border border-gray-400 p-3 hover:border-gray-900 focus:outline-none focus:ring-0 focus:border-gray-900 focus:ring-gray-900 active:ring-0 active:ring-gray-700"
          />
        </div>
      </div>
      <div class="w-full border-t-2 py-1"></div>
      <div class="mx-10 mb-5 self-end flex gap-x-10">
        <button
          class="px-5 py-2 rounded-md text-secondary text-lg font-normal border-1 shadow-full"
        >
          Cancel
        </button>
        <button
          class="px-5 py-2 bg-primary rounded-md text-white text-lg font-normal shadow-full"
        >
          Save
        </button>
      </div>
    </section>
  </div>
</template>

<route lang="yaml">
meta:
  layout: basic
</route>
