<script setup>
import { onUpdated, ref, watchEffect } from "vue";
import { useRoute, useRouter } from "vue-router";
import { XIcon, ArrowNarrowLeftIcon } from "@heroicons/vue/solid";
import { projects, teams } from "@/data/data.json";
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
  DialogDescription,
} from "@headlessui/vue";

const route = useRoute();
const router = useRouter();
const id = ref(route.params);
const isPublish = ref(false);

onUpdated(() => {
  id.value = route.params;
});

const filteredData = ref([]);
const isDelete = ref(false);

function closeDelete(val) {
  isDelete.value = false;
  if (val) {
    router.push({
      name: "app-io-projects-projectPost",
      hash: "#draft",
    });
  }
}

function deleteDraft() {
  isDelete.value = true;
}

function closePublish(val) {
  isPublish.value = false;
  if (val) {
    router.push({
      name: "app-io-projects-projectPost",
      hash: "#published",
    });
  }
}

function publishBlog() {
  isPublish.value = true;
}

watchEffect(() => {
  filteredData.value = projects.draft.find((el) => id.value.id == el.id);
});
</script>

<template>
  <div
    class="mx-4 mt-20 mb-5 flex flex-1 flex-col items-center rounded-2xl bg-white py-9 px-14 lg:mx-8 xl:mx-14 2xl:mx-[72px]"
  >
    <div
      class="fixed top-20 z-20 flex w-dscreen justify-end bg-secondary-1 px-20 py-5"
    >
      <!-- <router-link
        class="flex items-center rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
        :to="{ name: 'admin-projects-projectPost' }"
      >
        <ArrowNarrowLeftIcon class="mr-1 h-5 w-5" />
        Back
      </router-link> -->
      <div class="flex justify-end space-x-5">
        <router-link
          class="rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
          :to="{
            name: 'app-io-projects-projectPost-edit-id',
            params: { id: `${filteredData.id}` },
            hash: '#draft',
          }"
        >
          Edit
        </router-link>
        <button
          class="rounded border-[1px] border-red-500 px-[11px] py-2 text-xs font-medium leading-4 text-red-500 hover:bg-red-500 hover:text-white"
          @click="deleteDraft"
        >
          Delete
        </button>
        <button
          class="rounded border-[1px] border-primary px-[11px] py-2 text-xs font-medium leading-4 text-primary hover:bg-primary-lite hover:text-black"
          @click="publishBlog"
        >
          Publish
        </button>
      </div>
    </div>
    <div class="flex flex-col">
      <h2 class="text-3xl font-bold leading-[60px] text-primary">
        {{ filteredData.title }}
      </h2>

      <p class="mt-9 text-lg font-normal leading-[30px] text-HahuGray2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum
        etiam elit vel ligula massa sagittis sit. At nec massa fermentum
        consectetur diam faucibus hendrerit. Fringilla sit arcu eu vitae. Diam
        euismod varius ac sed neque cursus in. Tellus nunc posuere morbi ac
        tellus cursus malesuada blandit. Purus ut laoreet ornare amet, vel,
        porttitor eleifend egestas mauris. Blandit odio aliquet egestas magna
        amet.
      </p>
      <img :src="filteredData.xlimg" class="mt-12 rounded-3xl object-contain" />
      <p
        class="mt-[53px] mb-10 text-lg font-normal leading-[30px] text-HahuGray2"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum
        etiam elit vel ligula massa sagittis sit. At nec massa fermentum
        consectetur diam faucibus hendrerit. Fringilla sit arcu eu vitae. Diam
        euismod varius ac sed neque cursus in. Tellus nunc posuere morbi ac
        tellus cursus malesuada blandit. Purus ut laoreet ornare amet, vel,
        porttitor eleifend egestas mauris. Blandit odio aliquet egestas magna
        amet.
      </p>
      <div class="mt-[56px] flex">
        <div class="flex flex-col">
          <h2 class="text-xl font-black leading-[30px] text-HahuGray1">
            Client
          </h2>
          <img class="mt-[69px] object-contain" :src="filteredData.client" />
        </div>
        <div
          class="ml-16 mr-20 mt-24 rounded-full border-l-4 border-HahuGray3"
        />
        <div class="flex flex-col">
          <h2 class="text-xl font-black leading-[30px] text-HahuGray1">
            Partners
          </h2>
          <div class="grid grid-cols-2 gap-x-[68px]">
            <img
              v-for="img in filteredData.partners"
              class="mt-[69px] object-contain"
              :src="img"
            />
          </div>
        </div>
      </div>
      <h2 class="mt-[76px] text-xl font-black leading-8 text-HahuGray1">
        Team
      </h2>
      <div class="mt-[56px] mb-10 flex justify-between">
        <div
          class="flex flex-col items-center"
          v-for="(team, i) in teams"
          :key="i"
        >
          <img :src="team.img" />
          <h2 class="text-xl font-normal leading-[30px] text-HahuGray2">
            {{ team.name }}
          </h2>
          <h2 class="text-base font-normal leading-[30px] text-primary">
            {{ team.position }}
          </h2>
        </div>
      </div>
    </div>
    <TransitionRoot appear :show="isPublish" as="template">
      <Dialog as="div" @close="closePublish(false)" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full transform overflow-hidden rounded-2xl bg-white p-6 px-[74px] text-left align-middle shadow-xl transition-all md:max-w-md lg:max-w-lg xl:max-w-xl"
              >
                <DialogTitle
                  as="h3"
                  class="mt-[38px] text-lg font-medium leading-6 text-gray-900"
                >
                  Are you sure?
                </DialogTitle>
                <div class="mt-[51px]">
                  <p class="text-xl font-normal leading-4 text-HahuGray1">
                    Are you sure you want to
                    <span class="text-primary">Publish</span> this Draft?
                  </p>
                </div>

                <div class="mt-[53px] flex justify-center space-x-[50px]">
                  <button
                    type="button"
                    class="rounded border-2 border-Hahugreen/3 px-[21px] py-[7px] text-xs font-medium leading-4 text-HahuGray1"
                    @click="closePublish(false)"
                  >
                    No
                  </button>
                  <button
                    type="button"
                    class="rounded bg-primary px-[21px] py-[7px] text-xs font-medium leading-4 text-white"
                    @click="closePublish(true)"
                  >
                    Yes
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
    <TransitionRoot appear :show="isDelete" as="template">
      <Dialog as="div" @close="closeDelete(false)" class="relative z-10">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full transform overflow-hidden rounded-2xl bg-white p-6 px-[74px] text-left align-middle shadow-xl transition-all md:max-w-md lg:max-w-lg xl:max-w-xl"
              >
                <DialogTitle
                  as="h3"
                  class="mt-[38px] text-lg font-medium leading-6 text-gray-900"
                >
                  Are you sure?
                </DialogTitle>
                <div class="mt-[51px]">
                  <p class="text-xl font-normal leading-4 text-HahuGray1">
                    Are you sure you want to
                    <span class="text-red-600">Delete</span> this draft?
                  </p>
                </div>

                <div class="mt-[53px] flex justify-center space-x-[50px]">
                  <button
                    type="button"
                    class="rounded border-2 border-Hahugreen/3 px-[21px] py-[7px] text-xs font-medium leading-4 text-HahuGray1"
                    @click="closeDelete(false)"
                  >
                    No
                  </button>
                  <button
                    type="button"
                    class="rounded bg-HahuRed px-[21px] py-[7px] text-xs font-medium leading-4 text-white"
                    @click="closeDelete(true)"
                  >
                    Yes
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </div>
</template>

<style scoped></style>
