@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.grecaptcha-badge {
  opacity: 0;
}

.modal,
.overlay {
  @apply fixed top-0 left-0 w-full h-full;
}

.overlay {
  @apply bg-gray-600 opacity-70 z-40 cursor-pointer;
}

.modal {
  @apply z-50 flex justify-center items-center;
}
