<script setup>
import { ref, computed, onMounted } from "vue";
import { useRouter, useRoute } from "vue-router";
import officeBuilding from "@/assets/officeBuilding.svg?url";
import user from "@/assets/User.svg?url";
import { useI18n } from "petite-vue-i18n";
import {
  Dialog,
  DialogOverlay,
  TransitionChild,
  TransitionRoot,
  Menu,
  MenuButton,
  MenuItem,
  MenuItems,
} from "@headlessui/vue";
import {
  TemplateIcon,
  LogoutIcon,
  XIcon,
  ChevronDownIcon,
  LockClosedIcon,
  MenuAlt2Icon,
  UserGroupIcon,
  ClipboardIcon,
  UserIcon,
  UsersIcon,
  OfficeBuildingIcon,
  CogIcon,
  DotsCircleHorizontalIcon,
  UserCircleIcon,
  IdentificationIcon,
  MoonIcon,
  SunIcon
} from "@heroicons/vue/outline";

import useUser from "@/use/user";

const route = useRoute();

const { unset, name, email, currentEntity } = useUser();
const router = useRouter();
const sidebarOpen = ref(false);
const open = ref(false);
const open_pass_dialog = ref(false);
const { t } = useI18n();

const theme = ref(localStorage.getItem('theme') || 'light');

onMounted(() => {
  theme.value = localStorage.getItem('theme') || 'light'
})

const toggleTheme = () => {
  const newTheme = theme.value === 'light' ? 'dark': 'light';
  localStorage.setItem('theme', newTheme);
  theme.value = newTheme;
  router.go();
  // console.log("clicked");
}

const currentNav = ref([
  {
    name: "Users",
    href: { name: "app-users" },
    icon: UsersIcon,
  },

  {
    name: "Entities",
    href: { name: "app-entities" },
    icon: DotsCircleHorizontalIcon,
  },
  {
    name: "Roles",
    href: { name: "app-roles" },
    icon: IdentificationIcon,
  },
]);
const logout = () => {
  unset();
  router.push({ name: "index" });
};
const current = computed(() => {
  return route.name;
});
</script>
<template>
  <div class="font-body min-h-screen bg-secondary-4 dark:bg-tertiary-dark">
    <TransitionRoot as="template" :show="sidebarOpen">
      <Dialog
        as="div"
        class="fixed inset-0 flex z-40 lg:hidden"
        @close="sidebarOpen = false"
      >
        <TransitionChild
          as="template"
          enter="transition-opacity ease-linear duration-300"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="transition-opacity ease-linear duration-300"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <DialogOverlay class="fixed inset-0 bg-gray-600 bg-opacity-75" />
        </TransitionChild>
        <TransitionChild
          as="template"
          enter="transition ease-in-out duration-300 transform"
          enter-from="-translate-x-full"
          enter-to="translate-x-0"
          leave="transition ease-in-out duration-300 transform"
          leave-from="translate-x-0"
          leave-to="-translate-x-full"
        >
          <div
            class="
              relative
              flex-1 flex flex-col
              max-w-xs
              w-full
              pt-5
              pb-4
              bg-primary-dark
            "
          >
            <TransitionChild
              as="template"
              enter="ease-in-out duration-300"
              enter-from="opacity-0"
              enter-to="opacity-100"
              leave="ease-in-out duration-300"
              leave-from="opacity-100"
              leave-to="opacity-0"
            >
              <div class="absolute top-0 right-0 -mr-12 pt-2">
                <button
                  type="button"
                  class="
                    ml-1
                    flex
                    items-center
                    justify-center
                    h-10
                    w-10
                    rounded-full
                    focus:outline-none
                    focus:ring-2
                    focus:ring-inset
                    focus:ring-white
                  "
                  @click="sidebarOpen = false"
                >
                  <span class="sr-only">Close sidebar</span>
                  <XIcon class="h-6 w-6 text-white" aria-hidden="true" />
                </button>
              </div>
            </TransitionChild>
            <div
              class="flex-shrink-0 flex items-center justify-center px-4 mt-10"
            >
              <div class="flex items-center flex-shrink-0 px-4">
                <img src="/images/Hahu_logo_2.png" aria-hidden="true" />
              </div>
            </div>
            <div class="mt-20 flex-1 h-0 overflow-y-auto">
              <nav class="px-2 space-y-3">
                <router-link
                  v-for="item in currentNav"
                  :key="item.name"
                  :to="item.href"
                  class="text-white"
                  :class="[
                    current.includes(item.href.name)
                      ? 'bg-primary-hover font-bold'
                      : ' hover:bg-primary-hover',
                    'rounded-md group flex justify-start items-start my-auto px-6 py-2 text-lg',
                  ]"
                >
                  <component
                    :is="item.icon"
                    class="mr-6 flex-shrink-0 h-6 w-6 text-white"
                    aria-hidden="true"
                  />
                  {{ item.name }}
                </router-link>
              </nav>
            </div>
            <!-- <div
              class="mt-28 flex-1 flex flex-col justify-center items-center h-0"
            >
              <router-link
                :to="{ name: 'app' }"
                class="h-52 w-52 flex bg-white shadow-md rounded-lg justify-center items-center flex-col"
              >
                <img
                  :src="displayItem[0].logo"
                  class="flex-shrink-0 h-logo"
                  :class="displayItem[0].width"
                />
                <div class="text-lg text-black pt-7">
                  {{ displayItem[0].title }}
                </div>
              </router-link>
            </div> -->
          </div>
        </TransitionChild>
        <div class="flex-shrink-0 w-14" aria-hidden="true">
          <!-- Dummy element to force sidebar to shrink to fit close icon -->
        </div>
      </Dialog>
    </TransitionRoot>

    <!-- Static sidebar for desktop -->
    <div class="hidden lg:flex lg:w-bar lg:flex-col lg:fixed lg:inset-y-0">
      <!-- Sidebar component, swap this element with another sidebar if you like -->
      <div
        class="
          flex flex-col flex-grow
          pt-6
          bg-primary-dark
          dark:bg-secondary-dark
          overflow-y-auto
          w-bar
        "
      >
        <div class="flex items-center flex-shrink-0 px-4 justify-center pt-10">
          <div class="flex items-center flex-shrink-0 px-4">
            <img src="/images/Hahu_logo_2.png" aria-hidden="true" />
          </div>
        </div>
        <div
          class="
            mt-32
            flex-1 flex flex-col
            text-center
            place-content-center
            mb-52
          "
        >
          <nav class="flex-1 px-2 pb-4 space-y-1 w-full justify-self-center">
            <router-link
              v-for="item in currentNav"
              :key="item.name"
              :to="item.href"
              class="text-white place-content-center"
              :class="[
                current.includes(item.href.name)
                  ? 'bg-primary-hover font-bold'
                  : 'hover:bg-primary-hover',
                'group flex justify-start my-auto items-center py-3 px-1 text-lg font-body rounded-md',
              ]"
            >
              <!-- <div class="flex mx-auto"> -->
              <component
                :is="item.icon"
                class="mr-5 flex-shrink-0 h-6 w-6 text-white"
                aria-hidden="true"
              />
              {{ item.name }}
              <!-- </div> -->
            </router-link>
            <!-- </div> -->
          </nav>
        </div>
      </div>
    </div>
    <div class="lg:pl-navP flex flex-col flex-1 pb-5">
      <div class="relative z-10 flex-shrink-0 flex h-20 bg-white dark:bg-secondary-dark shadow py-14">
        <button
          type="button"
          class="
            px-4
            border-r border-gray-200
            text-gray-500
            focus:outline-none
            lg:hidden
          "
          @click="sidebarOpen = true"
        >
          <span class="sr-only">Open sidebar</span>
          <MenuAlt2Icon class="h-6 w-6" aria-hidden="true" />
        </button>
        <div class="flex-1 flex justify-between px-5 lg:px-10">
          <div class="flex-1 flex">
            <div class="w-full flex">
              <div class="w-full flex md:ml-0">
                <div class="relative w-full">
                  <div
                    class="
                      absolute
                      inset-y-0
                      left-0
                      flex
                      items-center
                      pointer-events-none
                      font-body
                    "
                  >
                    <!-- <img :src="officeBuilding" class="w-10 h-10 dark:text-white" /> -->
                    <OfficeBuildingIcon class="w-10 h-10"/>
                    <div
                      class="
                        text-2xl
                        font-body font-semibold
                        align-middle
                        px-5
                        ml-4
                        text-black dark:text-white
                      "
                    >
                      {{
                        currentEntity && currentEntity.metadata
                          ? currentEntity.metadata.entity.name
                          : ""
                      }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ml-4 flex justify-between">
            <div class="flex items-center">
              <a href="#" @click.prevent="toggleTheme">
                <MoonIcon v-if="theme === 'light'" class="text-liText-ternary-dark hover:text-gray-400 dark:text-liText-ternary-light dark:hover:text-liBorder-primary-light w-5"/>
                <SunIcon v-else class="text-liText-ternary-dark hover:text-gray-400 dark:text-liText-ternary-light dark:hover:text-liBorder-primary-light w-5"/>
              </a>
            </div>
            <div class="flex items-center md:ml-6">
              <div
                class="
                  rounded-full
                  bg-primary
                  p-2
                  flex
                  items-center
                  justify-center
                "
              >
                <img :src="user" alt="" />
              </div>
              <Menu as="div" class="ml-3 relative">
                <div>
                  <MenuButton
                    class="
                      max-w-xs
                      bg-white
                      dark:bg-secondary-dark
                      flex
                      items-center
                      rounded-full
                      focus:outline-none
                    "
                  >
                    <span class="sr-only">Open user menu</span>
                    <ChevronDownIcon
                      class="h-5 w-5 text-primary hover:text-primary-dark"
                      aria-hidden="true"
                    />
                  </MenuButton>
                </div>
                <transition
                  enter-active-class="transition ease-out duration-100"
                  enter-from-class="transform opacity-0 scale-95"
                  enter-to-class="transform opacity-100 scale-100"
                  leave-active-class="transition ease-in duration-75"
                  leave-from-class="transform opacity-100 scale-100"
                  leave-to-class="transform opacity-0 scale-95"
                >
                  <MenuItems
                    class="
                      origin-top-right
                      absolute
                      right-0
                      mt-5
                      rounded-md
                      min-w-max
                      shadow-md
                      pt-4
                      pb-2
                      bg-white
                      dark:bg-tertiary-dark
                      ring-1 ring-black ring-opacity-5
                      focus:outline-none
                      font-body
                    "
                  >
                    <MenuItem v-slot="{ active }">
                      <div>
                        <div class="flex px-5">
                          <div class="flex gap-3">
                            <div
                              class="
                                rounded-full
                                bg-primary
                                p-3
                                flex
                                items-center
                                justify-center
                              "
                            >
                              <img :src="user" class="h-6 w-6" />
                            </div>
                            <div
                              class="
                                flex flex-col
                                text-black
                                dark:text-white
                                text-sm
                                font-bold
                                gap-2
                              "
                            >
                              <div class="">{{ name }}</div>
                              <div class="font-medium italic">
                                {{ email }}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="border-b py-1.5"></div>
                        <div>
                          <a
                            :class="[
                              active ? 'bg-gray-100 dark:bg-primary rounded-md' : '',
                              'py-2 mx-2 mt-2  text-sm text-black dark:text-white flex justify-center cursor-pointer',
                            ]"
                            @click="open_pass_dialog = true"
                          >
                            <LockClosedIcon
                              class="h-5 w-5 flex-shrink-0 mr-2"
                            />
                            Change password
                          </a>
                        </div>
                        <div class="border-b py-1.5"></div>
                      </div>
                    </MenuItem>
                    <MenuItem v-slot="{ active }">
                      <router-link
                        to="/"
                        :class="[
                          active ? 'bg-gray-100 dark:bg-primary rounded-md' : '',
                          'py-2 mx-2 mt-2  text-sm text-black dark:text-white flex justify-center',
                        ]"
                      >
                        <LogoutIcon class="h-5 w-5 flex-shrink-0 mr-2" />
                        Logout
                      </router-link>
                    </MenuItem>
                  </MenuItems>
                </transition>
              </Menu>
            </div>
          </div>
        </div>
      </div>

      <change-password v-model="open_pass_dialog"></change-password>

      <main class="">
        <notification></notification>
        <div class="mx-auto w-full mt-5 px-5">
          <router-view></router-view>
        </div>
      </main>
    </div>
  </div>
</template>
<style scoped>
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00a6eb;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00a6eb;
}

#switcherCheckbox:checked + label .switch-ball {
  background-color: white;
  transform: translateX(24px);
  transition: transform 0.3s linear;
}
</style>
