<script setup>
import { ref, watchEffect } from "vue";
import Collapse from "@/components/Collapse.vue";
import Sidebar from "@/components/Sidebar.vue";
</script>
<template>
  <div>
    <div class="flex w-full">
      <Sidebar />
      <div class="h-full w-full flex-col justify-center">
        <div class="sticky top-0 z-10 bg-secondary-4 shadow-lg">
          <Nav_layout class="bg-secondary-4" />
        </div>
        <router-view class=""></router-view>
      </div>
      <!-- <router-view></router-view> -->
    </div>
  </div>

  <!-- <div
    class="flex min-h-screen min-w-[325px] bg-secondary-1 duration-500 ease-in dark:bg-DarkModeBg"
  >
    <DashBoardNav class="sticky top-0" />
    <div class="h-full w-full flex-col justify-center">
      <div class="sticky top-0 z-10 bg-secondary-4 shadow-lg">
        <Nav_layout class="bg-secondary-4" />
      </div>
      <router-view class=""></router-view>
    </div>
  </div> -->
</template>

<style>
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #797979;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
  box-shadow: inset 0 0 3px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #797979;
}
</style>
