<script setup></script>
<template>
     <div class="min-height: 100vh bg-secondary-4 dark:bg-tertiary-dark relative font-body">

  <notification></notification>
      <router-view></router-view>
      <Footer/>
     </div>
</template>