<script setup>
import {
  Disclosure,
  DisclosureButton,
  DisclosurePanel,
  Menu,
  MenuButton,
  MenuItem,
  MenuItems,
} from "@headlessui/vue";
import {
  BellIcon,
  MenuIcon,
  XIcon,
  ChevronDownIcon,
} from "@heroicons/vue/outline";

import logo from "/images/Hahu_logo_2.png";
import DashBoardNav from "@/components/navs/DashBoardNav.vue";
import Nav_layout from "@/components/nav_layout.vue";
</script>
<template>
  <div
    class="flex min-h-screen min-w-[325px] bg-secondary-1 duration-500 ease-in dark:bg-DarkModeBg"
  >
    <DashBoardNav class="sticky top-0" />
    <div class="h-full w-full flex-col justify-center">
      <div class="sticky top-0 z-10 bg-secondary-4 shadow-lg">
        <Nav_layout class="bg-secondary-4" />
      </div>
      <router-view class=""></router-view>
    </div>
  </div>
</template>

<style>
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(175, 175, 175);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #797979;
}
</style>
