<template>
  <div class="w-full flex h-[100vh] items-center justify-center">
    <h1 class="text-6xl">Coming Soon!</h1>
  </div>
</template>

<route lang="yaml">
meta:
  layout: empty
  auth: true
</route>
